<div class="ui-g">
    <div class="ui-g-12">
        <div class="card no-margin">
            <h1>{{'Lista de Fincas' | translate}}</h1>
            <p-toast></p-toast>
            <p-toolbar>
                <div class="p-toolbar-group-left">
                    <button pButton label="Nuevo" icon="pi pi-plus" class="ui-button-success"
                        (click)="addFinca()"></button>
                </div>
            </p-toolbar>

            <p-table #dt [value]="fincas" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
                class="p-datatable-responsive-demo"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [rowsPerPageOptions]="[10,25,50,100]">

                <ng-template pTemplate="caption">
                    <div class="table-header">
                        {{'Lista de Fincas' | translate}} [{{fincas.length}}]
                    </div>
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th> {{'Nombre' | translate}}</th>
                        <th> {{'Razón Social' | translate}}</th>
                        <th> {{'Teléfono' | translate}}</th>
                        <th> {{'País' | translate}}</th>
                        <th> {{'Ciudad' | translate}}</th>
                        <th> {{'Estado' | translate}}</th>
                        <th style="width: 8em; text-align: center;">
                            <button pButton type="button" icon="pi pi-cog"></button>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            <div class="ui-fluid">
                                <input pInputText type="text"
                                    (input)="dt.filter($event.target.value, 'nombres', 'contains')"
                                    placeholder="Search by Name" class="p-column-filter">
                            </div>
                        </th>
                        <th>
                            <div class="ui-fluid">
                                <input pInputText type="text"
                                    (input)="dt.filter($event.target.value, 'razosoci', 'contains')"
                                    placeholder="Search by Name" class="p-column-filter">
                            </div>
                        </th>
                        <th>
                            <div class="ui-fluid">
                                <input pInputText type="text"
                                    (input)="dt.filter($event.target.value, 'phone', 'contains')"
                                    placeholder="Search by Phone" class="p-column-filter">
                            </div>
                        </th>
                        <th>
                            <div class="ui-fluid">
                                <input pInputText type="text"
                                    (input)="dt.filter($event.target.value, 'pais', 'contains')"
                                    placeholder="Search by Country" class="p-column-filter">
                            </div>
                        </th>
                        <th>
                            <div class="ui-fluid">
                                <input pInputText type="text"
                                    (input)="dt.filter($event.target.value, 'ciudad', 'contains')"
                                    placeholder="Search by City" class="p-column-filter">
                            </div>
                        </th>
                        <th>
                            <div class="ui-fluid">
                                <input pInputText type="text"
                                    (input)="dt.filter($event.target.value, 'estado', 'startsWith')"
                                    placeholder="Search by State" class="p-column-filter">
                            </div>
                        </th>
                        <th style="width: 8em;">

                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-finca let-columns="columns">
                    <tr [pSelectableRow]="finca" [pEditableRow]="finca" style="background-color: white;">
                        <td>{{finca.nombres | titlecase}}</td>
                        <td>{{finca.razosoci | titlecase}}</td>
                        <td>{{finca.phone}}</td>
                        <td>{{finca.pais | titlecase }}</td>
                        <td>{{finca.ciudad | titlecase }}</td>
                        <td style="text-align: center;">
                            <div [class]="finca.estado=='Activo'?'active-badge':'inactive-badge'">
                                <span>{{finca.estado}}</span>
                            </div>
                        </td>
                        <td>
                            <button pButton type="button" class="ui-button-warning" icon="pi pi-pencil"
                                (click)="edit(finca)"></button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="3">No farms found.</td>
                    </tr>
                </ng-template>
            </p-table>
            <!--Table responsive-->
            <div class="tbl_responsive">
                <p-accordion>
                    <p-accordionTab header="Filtros de búsqueda" [selected]="true">
                        <div class="ui-g form-group ui-fluid">
                            <div class="ui-g-12 ui-md-4">
                                <label for="client" class="lbl">{{'Nombres' | translate}}</label>
                                <input type="text" pInputText [(ngModel)]="name" placeholder="Nombre de finca" required
                                    pKeyFilter="int" />
                            </div>
                            <div class="ui-g-12 ui-md-4">
                                <button pButton type="button" [label]="'Consultar' | translate" icon="fa fa-search"
                                    iconPos="left" class="ui-button-success" (click)="consultarMobile()"></button>
                            </div>
                        </div>
                    </p-accordionTab>
                </p-accordion>
                <div *ngIf="fincas.length <=0" style="text-align: center;">
                    <br>
                    <label class="messageData">{{'Información no encontrada' | translate}}</label>
                </div>
                <div class="ui-grid ui-grid-responsive ui-fluid" class="data" *ngFor="let finca of fincas">
                    <div class="card card-w-title">
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-12">
                                <button pButton type="button" class="ui-button-info btn_card" icon="pi pi-pencil"
                                    (click)="edit(finca)"></button>
                            </div>
                        </div>

                        <div class="ui-grid-row">
                            <div class="ui-grid-col-6"><span class="label">{{'Nombres' | translate}}</span></div>
                            <div class="ui-grid-col-6"><span class="value"
                                    style="word-break: break-all;">{{finca.nombres | titlecase}}</span></div>
                        </div>
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-6"><span class="label">{{'Teléfono' | translate}}</span></div>
                            <div class="ui-grid-col-6"><span class="value">{{finca.phone}}</span></div>
                        </div>
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-6"><span class="label">{{'País' | translate}}</span></div>
                            <div class="ui-grid-col-6"><span class="value">{{finca.pais}}</span></div>
                        </div>
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-6"><span class="label">{{'Ciudad' | translate}}</span></div>
                            <div class="ui-grid-col-6"><span class="value"
                                    style="word-break: break-all;">{{finca.ciudad}}</span></div>
                        </div>
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-6"><span class="label">{{'Estado' | translate}}</span></div>
                            <div class="ui-grid-col-6"><span class="value"
                                    [class]="finca.estado=='Activo'?'active-badge':'inactive-badge'">
                                    {{finca.estado}}
                                </span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>