.active-badge{
    background-color: #c8e6c9;
    color: #256029;
    height: 20px;
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    font-size: 12px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    letter-spacing: .3px;
}

.inactive-badge{
    background-color: #ffcdd2;
    color: #c63737;
    height: 20px;
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    font-size: 12px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    letter-spacing: .3px;
}

.tbl_responsive {
    display: none;
}

.btn_card {
    float: right;
    margin-right: -16px;
    margin-top: -16px;
}

.label {
    text-align: left;
    font-weight: bold;
    font-size: 16px;
}

.value {
    text-align: left;
    font-size: 14px;
}

@media only screen and (max-width: 40rem) {
    .data {
        display: inline;
    }

    .p-datatable-responsive-demo {
        display: none;
    }

    .tbl_responsive {
        display: inline;
    }
    .messageData {
        text-align: center;
        font-weight: bold;
    }
}
