<div class="ui-g">
    <div class="ui-g-12">
        <div class="card no-margin">
            <h1>{{ 'Lista de Usuarios' | translate }}</h1>
            <p-toast></p-toast>
            <p-toolbar>
                <div class="p-toolbar-group-left">
                    <button pButton label="Nuevo" icon="pi pi-plus" class="ui-button-success"
                        (click)="addUser()"></button>
                </div>
            </p-toolbar>
            <p-table #dt styleClass="ui-table-cars" [value]="users" [paginator]="true" [rows]="10"
                [showCurrentPageReport]="true" class="p-datatable-responsive-demo"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [rowsPerPageOptions]="[10,25,50,100]">

                <ng-template pTemplate="caption">
                    <div class="table-header">
                        {{'Lista de Usuarios' | translate}} [{{users.length}}]
                    </div>
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th> {{'Identificación' | translate}}</th>
                        <th> {{'Nombres' | translate}}</th>
                        <th> {{'Apellidos' | translate}}</th>
                        <th> {{'Email' | translate}}</th>
                        <th> {{'Nickname' | translate}}</th>
                        <th> {{'Empresa' | translate}}</th>
                        <th> {{'Estado' | translate}}</th>
                        <th style="width: 8em; text-align: center;">
                            <button pButton type="button" icon="pi pi-cog"></button>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            <div class="ui-fluid">
                                <input pInputText type="text"
                                    (input)="dt.filter($event.target.value, 'dni', 'contains')"
                                    placeholder="Search by identification" class="p-column-filter">
                            </div>
                        </th>
                        <th>
                            <div class="ui-fluid">
                                <input pInputText type="text"
                                    (input)="dt.filter($event.target.value, 'nombres','contains')"
                                    placeholder="Search by name">
                            </div>
                        </th>
                        <th>
                            <div class="ui-fluid">
                                <input pInputText type="text"
                                    (input)="dt.filter($event.target.value, 'apellidos', 'contains')"
                                    placeholder="Search by lastname">
                            </div>
                        </th>
                        <th>
                            <div class="ui-fluid">
                                <input pInputText type="text"
                                    (input)="dt.filter($event.target.value, 'email','contains')"
                                    placeholder="Search by email">
                            </div>
                        </th>
                        <th>
                            <div class="ui-fluid">
                                <input pInputText type="text"
                                    (input)="dt.filter($event.target.value, 'nickname', 'contains')"
                                    placeholder="Search by nickname">
                            </div>
                        </th>
                        <th>
                            <div class="ui-fluid">
                                <input pInputText type="text"
                                    (input)="dt.filter($event.target.value, 'empresa.nombcome', 'contains')"
                                    placeholder="Search by business">
                            </div>
                        </th>
                        <th>
                            <div class="ui-fluid">
                                <input pInputText type="text"
                                    (input)="dt.filter($event.target.value, 'estado','startsWith')"
                                    placeholder="Search by status">
                            </div>
                        </th>
                        <th style="width: 8em;">

                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-user let-columns="columns">
                    <tr [pSelectableRow]="user" [pEditableRow]="user" style="background-color: white;">
                        <td>{{user.dni}}</td>
                        <td>{{user.nombres | titlecase }}</td>
                        <td>{{user.apellidos | titlecase }}</td>
                        <td style="word-wrap: break-word;">{{user.email}}</td>
                        <td style="word-wrap: break-word;">{{user.nickname}}</td>
                        <td style="word-wrap: break-word;">{{user.empresa.nombcome | titlecase}}</td>
                        <td style="text-align: center;">
                            <div [class]="user.estado=='Activo'?'active-badge':'inactive-badge'">
                                <span>{{user.estado}}</span>
                            </div>
                        </td>
                        <td>
                            <button pButton type="button" class="ui-button-warning" icon="pi pi-pencil"
                                (click)="desactivate(user)"></button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="7">No users found.</td>
                    </tr>
                </ng-template>
            </p-table>
            <!--Table responsive-->
            <div class="tbl_responsive">
                <p-accordion>
                    <p-accordionTab header="Filtros de búsqueda" [selected]="true">
                        <div class="ui-g form-group ui-fluid">
                            <div class="ui-g-12 ui-md-4">
                                <label for="client" class="lbl">{{'Indetificación' | translate}}</label>
                                <input type="text" pInputText [(ngModel)]="identificacion" placeholder="9999999999"
                                    required pKeyFilter="int" />
                            </div>
                            <div class="ui-g-12 ui-md-4">
                                <button pButton type="button" [label]="'Consultar' | translate" icon="fa fa-search"
                                    iconPos="left" class="ui-button-success" (click)="consultarMobile()"></button>
                            </div>
                        </div>
                    </p-accordionTab>
                </p-accordion>
                <div *ngIf="users.length <=0" style="text-align: center;">
                    <br>
                    <label class="messageData">{{'Información no encontrada' | translate}}</label>
                </div>
                <div class="ui-grid ui-grid-responsive ui-fluid" class="data" *ngFor="let user of users">
                    <div class="card card-w-title">
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-12">
                                <button pButton type="button" class="ui-button-info btn_card" icon="pi pi-pencil"
                                    (click)="desactivate(user)"></button>
                            </div>
                        </div>

                        <div class="ui-grid-row">
                            <div class="ui-grid-col-6"><span class="label">{{'Identificación' | translate}}</span></div>
                            <div class="ui-grid-col-6"><span class="value">{{user.dni}}</span></div>
                        </div>
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-6"><span class="label">{{'Nombres' | translate}}</span></div>
                            <div class="ui-grid-col-6"><span class="value">{{user.nombres}}</span></div>
                        </div>
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-6"><span class="label">{{'Apellidos' | translate}}</span></div>
                            <div class="ui-grid-col-6"><span class="value">{{user.apellidos}}</span></div>
                        </div>
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-6"><span class="label">{{'Email' | translate}}</span></div>
                            <div class="ui-grid-col-6"><span class="value"
                                    style="word-break: break-all;">{{user.email}}</span></div>
                        </div>
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-6"><span class="label">{{'Estado' | translate}}</span></div>
                            <div class="ui-grid-col-6"><span class="value"
                                    [class]="user.status=='Activo'?'active-badge':'inactive-badge'">
                                    {{user.estado}}
                                </span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>