<div class="ui-g">
    <div class="ui-g-12 ui-lg-2"></div>
    <div class="ui-g-12 ui-lg-8">
        <p-toast></p-toast>
        <p-toolbar>
            <div class="p-toolbar-group-left">  
                <button (click)="saveuser()" pButton class="ui-button-success" icon="pi pi-check" label="Guardar"
                    *ngIf="!edit"></button> &nbsp;

                <button (click)="modificaruser()" pButton class="ui-button-success" icon="pi pi-save" label="Actualizar"
                    *ngIf="edit"></button> &nbsp;

                <button (click)="cancelar()" pButton class="ui-button-warning" icon="pi pi-arrow-left" label="Atrás"></button> &nbsp;
            </div>
        </p-toolbar>   
        <div class="card card-w-title ui-fluid"> 
            <!--<div class="ui-g-12 ui-md-6">-->
            <h1 *ngIf="!edit">Agregar nuevo usuario</h1>
            <h1 *ngIf="edit">Editar usuario</h1>
            <div class="ui-g form-group">

                <div class="ui-g-12 ui-md-4" *ngIf="edit">
                    <label class="lbl">Id Usuario</label>
                    <input type="text" pInputText autocomplete="off" maxlength="100" disabled
                        [(ngModel)]="user.usuaid" />
                </div>

                <div class="ui-g-12 ui-md-4">
                    <label class="lbl">Identificación</label>
                    <input type="text" pInputText autocomplete="off" 
                        maxlength="100" pKeyFilter="int"
                        [(ngModel)]="user.dni" />
                </div>

                <div class="ui-g-12 ui-md-4">
                    <label class="lbl">Nickname</label>
                    <input type="text" pInputText autocomplete="off" maxlength="20"
                        [(ngModel)]="user.nickname" />
                </div>

               <div class="ui-g-12 ui-md-4">
                    <label class="lbl">Nombres</label>
                    <input type="text" pInputText autocomplete="off" maxlength="100"
                        [(ngModel)]="user.nombres" />
                </div>
                <div class="ui-g-12 ui-md-4">
                    <label class="lbl">Apellidos</label>
                    <input type="text" pInputText autocomplete="off" maxlength="100"
                        [(ngModel)]="user.apellidos" />
                </div>
                
                <div class="ui-g-12 ui-md-4">
                    <label class="lbl">Email</label>
                    <input type="text" pInputText autocomplete="off" maxlength="50"
                        [(ngModel)]="user.email" />
                </div>
                

                <div class="ui-g-12 ui-md-4">
                    <label class="lbl">Password</label>
                    <div class="ui-inputgroup">
                        <input type="password" autocomplete="off" maxlength="100" pPassword [showPassword]="looking"
                        [(ngModel)]="user.token" />                        
                        <button type="button" pButton pRipple [icon]="icon" (click)="changelookpasswor()"></button>
                    </div>
                </div>

                <div class="ui-g-12 ui-md-4" *ngIf="!edit">
                    <label class="lbl">Tipo institución</label>
                    <p-dropdown #type [options]="types" optionLabel="name" [filter]="true" (onChange)='onOptionsSelected(type.value)'  
                    placeholder="Select type"></p-dropdown>
                </div>
               
                <div class="ui-g-12 ui-md-4">
                    <label class="lbl">Empresa/Cliente</label>
                    <p-dropdown [options]="lista" optionLabel="name" [(ngModel)]="user.empresa" [filter]="true"  placeholder="Select empresa" *ngIf="!edit"></p-dropdown>
                    <input type="text" pInputText autocomplete="off" maxlength="20" [(ngModel)]="user.empresa.nombcome" *ngIf="edit" disabled />
                </div>

                <div class="ui-g-12 ui-md-4">
                    <label class="lbl">Estado</label>
                    <p-selectButton [options]="options" [(ngModel)]="user.estado"></p-selectButton>
                </div>

                <div class="ui-g-12 ui-md-12" *ngIf="edit">
                    <p-fieldset legend="Roles">
                        <div class="ui-g form-group">

                            <div class="ui-g-12 ui-md-12">
                                <p-pickList [source]="roles" [target]="user.roles" sourceHeader="Roles"
                                    (onMoveToTarget)="enabled($event)" (onMoveToSource)="disabled($event)"
                                    [showSourceControls]="false" [showTargetControls]="false" targetHeader="Roles del Usuario"
                                    dragdrop="true" [responsive]="true" dragdrop="true"
                                    [sourceStyle]="{'height':'300px'}" [targetStyle]="{'height':'300px'}"
                                    filterBy="nombre" sourceFilterPlaceholder="Search by name"
                                    targetFilterPlaceholder="Search by name">
                                    <ng-template let-rol pTemplate="item">
                                        <div class="marks-item">
                                            <div class="mark-list-detail">
                                                <h5 class="p-mb-2">{{(rol.nombre || rol.rol)  | titlecase}}</h5>
                                            </div>
                                        </div>
                                    </ng-template>
                                </p-pickList>
                            </div>
                        </div>
                    </p-fieldset>
                </div>

            </div>
        </div>
    </div>
    <div class="ui-g-12 ui-lg-2"></div>
</div>