<div class="ui-g">
    <div class="ui-g-12">
        <div class="card card-w-title">
            <p-toast></p-toast>
            <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="square-jelly-box"
                [fullScreen]="true">
                <p style="color: white"> Loading... </p>
            </ngx-spinner>
            <div *ngIf="step=='PE'">
                <div class="ui-g form-group ui-fluid">
                    <div class="ui-g-12 ui-lg-12 ui-md-12">
                        <h1>
                            {{'Pedidos a procesar' | translate}}</h1>
                    </div>
                    <div class="ui-g-12 ui-md-12">
                        <div class="ui-g-12 ui-md-2 pedidos">
                            <div *ngIf="pedidos.length <= 0">
                                <label>Sin pedidos pendientes</label>
                            </div>
                            <div *ngFor="let pedido of pedidos;let i = index" (click)="editPedido(pedido,i)"
                                [class]="i==indice?'active':''">
                                <label>
                                    <div [class]="pedido.head?.fase=='PE'?'fase':'fase_active'">
                                        {{getState(pedido.head?.fase)}}
                                    </div>
                                    <i class="fa fa-hand-o-right" aria-hidden="true"></i> {{pedido.head?.fecha}}
                                </label>
                                <hr>
                            </div>
                        </div>
                        <div class="ui-g-12 ui-md-10">
                            <p-fieldset [legend]="'Detalle del pedido' | translate">
                                <div class="ui-g form-group ui-fluid">
                                    <div class="ui-g-12 ui-md-6">
                                        <label class="lbl">{{'Fecha solicitud' | translate }}</label>
                                        <input type="text" pInputText [(value)]="select?.head.fecha" readonly />
                                    </div>
                                    <div class="ui-g-12 ui-md-6">
                                        <label class="lbl">{{'Cliente' | translate }}</label>
                                        <input type="text" pInputText [(value)]="select?.head.client.nombres"
                                            readonly />
                                    </div>
                                    <hr>
                                    <p-table [value]="select?.items" styleClass="p-datatable-sm">
                                        <ng-template pTemplate="header">
                                            <tr>
                                                <th>Variedad</th>
                                                <th>Tamaño</th>
                                                <th>Cantidad</th>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="body" let-item>
                                            <tr>
                                                <td>{{item.flower}}</td>
                                                <td>{{item.cm}}</td>
                                                <td>{{item.totaltallos}}</td>
                                            </tr>
                                        </ng-template>
                                    </p-table>
                                </div>

                                <div class="ui-g-12 ui-md-12">
                                    <div class="ui-g-12 ui-md-6">
                                    </div>
                                    <div class="ui-g-12 ui-md-3">
                                        <button pButton label="Rechazar pedido" icon="pi pi-trash" (click)="cancel()"
                                            [disabled]="select==null" class="ui-button-help"></button>
                                    </div>
                                    <div class="ui-g-12 ui-md-3" *ngIf="select?.head.fase=='RE'">
                                        <button pButton label="Continuar con revision" icon="pi pi-arrow-right"
                                            iconPos="right" (click)="continuarrevision()" [disabled]="select==null"
                                            class="ui-button-info"></button>
                                    </div>
                                    <div class="ui-g-12 ui-md-3" *ngIf="select?.head.fase=='PE' || select==null">
                                        <button pButton label="Pasar a revision" icon="pi pi-arrow-right"
                                            iconPos="right" (click)="confirmar()" [disabled]="select==null"
                                            class="ui-button-info"></button>
                                    </div>
                                </div>
                            </p-fieldset>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="step=='RE'">
                <div class="ui-g form-group ui-fluid">
                    <div class="ui-g-12 ui-md-10">

                        <div class="ui-g">
                            <div class="ui-md-8">
                                <h1 class="label">
                                    {{'Gestión de pedido' | translate}} &nbsp; # {{ select?.head.pediId }} </h1>
                            </div>
                            <div class="ui-md-4">
                                <button pButton type="button" icon="pi pi-arrow-circle-left"
                                    [label]="'Regresar' | translate" icon="pi pi-arrow-circle-left"
                                    class="ui-button-warning ouput_btn_table" (click)="back()"></button>
                            </div>
                        </div>
                        <div class="ui-g">
                            <div class="ui-md-4">
                                <h1 class="label">
                                    {{'Cliente :' | translate}} &nbsp; {{ select?.head.client.nombres }}</h1>
                            </div>
                            <div class="ui-md-4">
                                <h1 class="label">
                                    {{'Fecha :' | translate}} &nbsp; {{ select?.head.fecha }}</h1>
                            </div>
                            <div class="ui-md-4">
                                <h1 class="label">
                                    {{'Estado :' | translate}} &nbsp; <span
                                        [ngClass]="{'active-state': select?.head.estado=='A', 'inactive-state' : select?.head.estado!='A' }">{{
                                        select?.head.estado=='A'?'Activo':'Inactivo' }}</span></h1>
                            </div>
                        </div>
                        <!--<p-table [value]="pedidotemporal" styleClass="p-datatable-sm">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th style="width: 8em;"></th>
                                    <th>Fecha</th>
                                    <th>Variedad</th>
                                    <th>Tamaño</th>
                                    <th>Cantidad</th>
                                    <th>Detalle</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-item>
                                <tr style="background-color: white;">
                                    <td><span class="p-column-title">
                                            <button pButton type="button" class="ui-button-warning"
                                                *ngIf="item.detalle=='SC'"
                                                style="height: 30px; border-radius: 5px;width: 50%;"
                                                (click)="complete(item, select)">
                                                <i class="pi pi-pencil" style="font-size: 1.7rem"></i>
                                            </button>
                                        </span>
                                    </td>
                                    <td>{{item.fecha | date:'dd-MMM-yyyy'}}</td>
                                    <td>{{item.flower}}</td>
                                    <td>{{item.cm}}</td>
                                    <td>{{item.totaltallos}}</td>
                                    <td>{{item.detalle=='SC'?'Sin completar':'Completo'}}</td>
                                </tr>
                            </ng-template>
                        </p-table>
                        <hr>-->
                        <p-table [value]="select.items" class="p-datatable-responsive-demo">
                            <ng-template pTemplate="caption">
                                <div class="p-d-flex p-ai-center p-jc-between">
                                    {{'Items del pedido' | translate }}
                                </div>
                            </ng-template>
                            <ng-template pTemplate="header">
                                <tr>
                                    <th style="width: 4em;"></th>
                                    <th style="width: 4em;"></th>
                                    <th style="width: 4em;"></th>
                                    <!--<th style="width: 4em;"></th>-->
                                    <th style="width: 15em;">{{'Fecha' | translate }}</th>
                                    <th>{{'Finca propia' | translate}}</th>
                                    <th>{{'Finca' | translate}}</th>
                                    <th>{{'Marca' | translate }}</th>
                                    <th>{{'Estado' | translate}}</th>
                                    <th>{{'Flor' | translate}}</th>
                                    <th>{{'HB/QB' | translate}}</th>
                                    <th>{{'Tallos' | translate}}</th>
                                    <th>{{'T. Tallos' | translate}}</th>
                            </ng-template>
                            <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
                                <tr>
                                    <td>
                                        <span class="p-column-title">
                                            <button pButton type="button" class="ui-button-danger" icon="pi pi-pencil"
                                                (click)="editrow(data)"></button>
                                        </span>
                                    </td>
                                    <td><span class="p-column-title">
                                            <button pButton type="button" class="ui-button-danger" icon="pi pi-trash"
                                                (click)="deleteItem(data)"></button>
                                        </span>
                                    </td>
                                    <td><span class="p-column-title">
                                            <button pButton type="button" class="ui-button-primary"
                                                [icon]="selectitem==rowIndex ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
                                                (click)="rowexpasion(rowIndex)"></button>
                                        </span>
                                    </td>
                                    <td><span class="p-column-title">{{data.shippingdate | date :'dd-MMM-yyyy' }}</span>
                                    </td>
                                    <td><span class="p-column-title">{{data.fincapropia=='S'? 'Rosa Mística' : 'N/A'
                                            }}</span>
                                    </td>
                                    <td><span class="p-column-title">{{data.farmId == null ? '' : data.farm }}</span>
                                    </td>
                                    <td><span class="p-column-title">{{data.mark ==null ? '' : data.mark }}</span></td>
                                    <td><span class="p-column-title">{{data.status == null || data.status == "LOOKING" ?
                                            'N/A' : data.status.nombre}}</span></td>
                                    <td><span class="p-column-title">{{data.flower }}</span></td>
                                    <td><span class="p-column-title">{{data.hbqb}}</span></td>
                                    <td><span class="p-column-title">{{data.tallos}}</span></td>
                                    <td><span class="p-column-title">{{data.totaltallos}}</span></td>
                                </tr>
                                <tr *ngIf="selectitem==rowIndex " class="detalle_table">
                                    <td colspan="12">
                                        <div class="ui-g form-group ui-fluid">

                                            <!--<div class="ui-g-12 ui-md-2">
                                        <label class="lbl">{{'HB/QB' | translate}}</label>
                                        <input type="text" pInputText [(ngModel)]="data.HBBQ" readonly>
                                    </div>-->

                                            <div class="ui-g-12 ui-md-3">
                                                <label class="lbl">{{'Tamaño' | translate}}</label>
                                                <input type="text" pInputText [(ngModel)]="data.cm" readonly>
                                            </div>

                                            <div class="ui-g-12 ui-md-2">
                                                <label class="lbl">{{'Precio Venta' | translate}}</label>
                                                <input type="text" pInputText [(ngModel)]="data.pvp" readonly>
                                            </div>

                                            <div class="ui-g-12 ui-md-2">
                                                <label class="lbl">{{'Precio Compra' | translate}}</label>
                                                <input type="text" pInputText [(ngModel)]="data.pcomp" readonly>
                                            </div>
                                            <div class="ui-g-12 ui-md-3">
                                                <label class="lbl">{{'Empresa de Carga' | translate}}</label>
                                                <input type="text" pInputText [(ngModel)]="data.cargname" readonly>
                                            </div>

                                        </div>
                                    </td>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="footer">
                                <tr>
                                    <td colspan="11" class="total_table">{{'Totales' | translate}}</td>
                                    <td><span class="total_tallos">{{ total }}</span></td>
                                </tr>
                            </ng-template>
                        </p-table>
                        <br>
                        <p-accordion *ngIf="editvisible">
                            <p-accordionTab [header]="'Editando el item' | translate" [selected]="true">
                                <form [formGroup]="prealertForm" (ngSubmit)="save()">
                                    <div class="ui-g form-group ui-fluid">

                                        <div class="ui-g-12 ui-md-2">
                                            <label for="Datos de envío" class="lbl">{{'Fecha de envio' | translate }}
                                            </label>
                                            <p-calendar formControlName="fecha" class="form-control"
                                                dateFormat="yy/mm/dd" [readonlyInput]="true" [minDate]="minDateValue"
                                                [ngClass]="{ 'is-invalid': submitted && f.fecha.errors }">
                                            </p-calendar>
                                            <div *ngIf="submitted && f.fecha.errors" class="invalid-feedback">
                                                <div *ngIf="f.fecha.errors.required">{{'Fecha es requerido' | translate
                                                    }}
                                                </div>
                                            </div>
                                        </div>


                                        <div class="ui-g-12 ui-md-3">
                                            <label class="lbl">{{'Finca' | translate }}</label>
                                            <p-dropdown [options]="fincas" formControlName="finca" optionLabel="nombres"
                                                [filter]="true" placeholder="Seleccione" class="form-control"
                                                [ngClass]="{ 'is-invalid': submitted && f.finca.errors }"></p-dropdown>
                                            <div *ngIf="submitted && f.finca.errors" class="invalid-feedback">
                                                <div *ngIf="f.finca.errors.required">{{'Finca es requerido' | translate
                                                    }}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="ui-g-12 ui-md-1"></div>

                                        <div class="ui-g-12 ui-md-3">
                                            <label class="lbl">{{'Finca propia' | translate }}</label>
                                            <div class="ui-field-checkbox">
                                                <p-checkbox formControlName="fincapropia" binary="true"
                                                    inputId="binary">
                                                </p-checkbox> &nbsp;
                                                <label for="binary">{{'Rosa Mística' | translate }}</label>
                                            </div>
                                        </div>

                                        <div class="ui-g-12 ui-md-3">
                                            <label for="marca" class="lbl">{{'Marca' | translate}}</label>
                                            <p-dropdown [ngClass]="{ 'is-invalid': submitted && f.marca.errors }"
                                                [options]="marks" optionLabel="nombre" class="form-control"
                                                formControlName="marca" [filter]="true" placeholder="Seleccione">
                                            </p-dropdown>
                                            <div *ngIf="submitted && f.marca.errors" class="invalid-feedback">
                                                <div *ngIf="f.marca.errors.required">{{'Marca es requerido' |
                                                    translate}}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="ui-g-12 ui-md-7">

                                            <div class="ui-g-12 ui-md-2">
                                                <label for="hbbq" class="lbl">{{'HB/QB' | translate}}</label>
                                                <input type="text" pInputText formControlName="HBBQ"
                                                    class="form-control" pKeyFilter="int" placeholder="0">
                                            </div>


                                            <div class="ui-g-12 ui-md-5">
                                                <label for="rosamistica" class="lbl">{{'Variedad' | translate}}</label>
                                                <p-dropdown [options]="flores" formControlName="rosamistica"
                                                    optionLabel="nombre" [filter]="true" placeholder="Seleccione"
                                                    class="form-control" readonly="true"
                                                    [ngClass]="{ 'is-invalid': submitted && f.rosamistica.errors }">
                                                </p-dropdown>
                                                <div *ngIf="submitted && f.rosamistica.errors" class="invalid-feedback">
                                                    <div *ngIf="f.rosamistica.errors.required">
                                                        {{'Variedad es requerido' | translate}}
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="ui-g-12 ui-md-3">
                                                <label for="tallos" class="lbl">{{'Tallos' | translate}}</label>
                                                <input type="text" pInputText class="form-control"
                                                    formControlName="tallos" pKeyFilter="int" placeholder="0"
                                                    [ngClass]="{ 'is-invalid': submitted && f.tallos.errors }">
                                                <div *ngIf="submitted && f.tallos.errors" class="invalid-feedback">
                                                    <div *ngIf="f.tallos.errors.required">
                                                        {{'Tallos es requerido' | translate}}</div>
                                                </div>
                                            </div>

                                            <div class="ui-g-12 ui-md-2">
                                                <label for="totaltallos" style="color: #ff4456;font-weight: bold;"
                                                    class="lbl">{{'T. Tallos' | translate}}</label>
                                                <input type="text" pInputText class="form-control"
                                                    formControlName="totaltallos" pKeyFilter="int" placeholder="0"
                                                    readonly pTooltip="Este valor se auto calculara"
                                                    tooltipPosition="bottom"
                                                    style="font-size: 14px;font-weight: bold;text-align: center;background-color: #FFFAF0;"
                                                    [ngClass]="{ 'is-invalid': submitted && f.totaltallos.errors }">
                                                <div *ngIf="submitted && f.totaltallos.errors" class="invalid-feedback">
                                                    <div *ngIf="f.totaltallos.errors.required">
                                                        {{'Total tallos es requerido' | translate}}</div>
                                                </div>
                                            </div>

                                            <div class="ui-g-12 ui-md-6">
                                                <label for="carga" class="lbl">{{'Empresa carga' | translate }}</label>
                                                <p-dropdown [options]="deliveries" formControlName="carga"
                                                    optionLabel="nombres" [filter]="true" placeholder="Seleccione"
                                                    class="form-control"
                                                    [ngClass]="{ 'is-invalid': submitted && f.carga.errors }">
                                                </p-dropdown>
                                                <div *ngIf="submitted && f.carga.errors" class="invalid-feedback">
                                                    <div *ngIf="f.carga.errors.required">
                                                        {{'Empresa carga es requerido' | translate}}</div>
                                                </div>
                                            </div>


                                            <div class="ui-g-12 ui-md-6">
                                                <label class="lbl">{{'Estado' | translate}}</label>
                                                <p-dropdown [options]="status" placeholder="Seleccione"
                                                    class="form-control" optionLabel="nombre" formControlName="estado"
                                                    [ngClass]="{ 'is-invalid': submitted && f.estado.errors }">
                                                </p-dropdown>
                                                <div *ngIf="submitted && f.estado.errors" class="invalid-feedback">
                                                    <div *ngIf="f.estado.errors.required">
                                                        {{'Estado es requerido' | translate}}</div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="ui-g-12 ui-md-5">
                                            <p-fieldset legend="Valores">
                                                <div class="ui-g-12 ui-md-12" [ngClass]="{'isvalueForm':estado}">

                                                    <div class="ui-g-12 ui-md-3">
                                                        <label for="tamanio" class="lbl">{{'Tamaño' |
                                                            translate}}</label>
                                                        <p-dropdown [options]="tamanios" formControlName="tamanio"
                                                            optionLabel="name" [filter]="true" class="form-control"
                                                            placeholder="Seleccione">
                                                        </p-dropdown>
                                                    </div>

                                                    <div class="ui-g-12 ui-md-4">
                                                        <label class="lbl">{{'Precio compra' | translate}}</label>
                                                        <input type="text" pInputText class="form-control"
                                                            formControlName="preciocomp" pKeyFilter="pnum"
                                                            placeholder="$0.00">
                                                    </div>

                                                    <div class="ui-g-12 ui-md-3">
                                                        <label class="lbl">{{'Precio venta' | translate }}</label>
                                                        <input type="text" pInputText pKeyFilter="pnum"
                                                            class="form-control" placeholder="$0.00"
                                                            formControlName="preciovent">

                                                    </div>

                                                    <div class="ui-g-12 ui-md-2" style="text-align: center;">
                                                        <br>
                                                        <button pButton type="button" style="width: 50%;" label="+"
                                                            (click)="add()"></button>
                                                    </div>
                                                    <div class="ui-g-12 ui-md-12" *ngIf="estado"
                                                        style="color: #ff4456;font-weight: bold;">
                                                        {{'Falta agregar campos' | translate }}
                                                    </div>
                                                </div>

                                                <div *ngFor="let numero of cantidadPrice" class="ui-g-12 ui-md-12">

                                                    <div class="ui-g-12 ui-md-3">
                                                        <input type="text" [value]="numero.tamanio" pInputText readonly>
                                                    </div>

                                                    <div class="ui-g-12 ui-md-4">
                                                        <input type="text" pInputText [value]="numero.preccomp"
                                                            readonly>
                                                    </div>

                                                    <div class="ui-g-12 ui-md-3">
                                                        <input type="text" pInputText [value]="numero.precvent"
                                                            readonly>
                                                    </div>
                                                    <div class="ui-g-12 ui-md-2" style="text-align: center;">
                                                        <button pButton type="button" label="X" style="width: 50%;"
                                                            (click)="remove(numero)"></button>
                                                    </div>
                                                </div>
                                            </p-fieldset>
                                        </div>


                                        <div class="ui-g-12 ui-md-12" *ngIf="select.items.length>items.length">
                                            <div class="ui-g-12 ui-md-10"></div>
                                            <div class="ui-g-12 ui-md-2">
                                                <button pButton icon="pi pi-plus"
                                                    class="ui-button-primary ouput_btn_table"
                                                    [label]="'Modificar' | translate"></button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </p-accordionTab>
                        </p-accordion>
                        <br>
                        <div class="ui-g form-group ui-fluid" *ngIf="!editvisible">
                            <div class="ui-g-12 ui-md-3">
                            </div>
                            <div class="ui-g-12 ui-md-3">
                                <button pButton label="Rechazar pedido" icon="pi pi-trash" (click)="cancel()"
                                    [disabled]="select==null" class="ui-button-help"></button>
                            </div>
                            <div class="ui-g-12 ui-md-3">
                                <button pButton label="Notificar prealerta" icon="pi pi-th-large" iconPos="right"
                                    (click)="notificar()" [disabled]="items.length < select?.items.length"
                                    class="ui-button-success"></button>
                            </div>
                            <div class="ui-g-12 ui-md-3">
                                <button pButton label="Enviar a facturar" icon="pi pi-arrow-right" iconPos="right"
                                    (click)="prealerta()" [disabled]="items.length < select?.items.length"
                                    class="ui-button-info"></button>
                            </div>
                        </div>
                    </div>
                    <!--Notificaciones-->
                    <div class="ui-g-12 ui-md-2">
                        <p-fieldset legend="Header" legend="Notificaciones" [toggleable]="true">
                            <div *ngFor="let notificacion of select?.prealerts">
                                <label>{{notificacion.pdf}}</label>
                            </div>

                        </p-fieldset>

                    </div>
                </div>

            </div>
        </div>
        <!--Confirmar cuadro de dialogo confirm-->
        <p-confirmDialog #cd header="Confirmation" icon="pi pi-exclamation-triangle">
            <p-footer>
                <button type="button" pButton icon="pi pi-times" class="ui-button-danger" [label]="'No' | translate"
                    (click)="cd.reject()"></button>
                <button type="button" pButton icon="pi pi-check" class="ui-button-success" [label]="'Si' | translate"
                    (click)="cd.accept()"></button>
            </p-footer>
        </p-confirmDialog>

    </div>

</div>