<div class="ui-g">
    <div class="ui-g-12">
        <div class="card no-margin">
            <h1>Lista de Empresas de Carga</h1>
            <p-toast></p-toast>
            <p-toolbar>
                <div class="p-toolbar-group-left">
                    <button pButton label="Nuevo" icon="pi pi-plus" class="ui-button-success"
                        (click)="addDelivery()"></button>
                </div>
            </p-toolbar>

            <p-table #dt [value]="deliveries" [paginator]="true" [rows]="10"
                [showCurrentPageReport]="true" class="p-datatable-responsive-demo"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [rowsPerPageOptions]="[10,25,50,100]">

                <ng-template pTemplate="caption">
                    <div class="table-header">
                        {{'Lista de Empresas de Carga' | translate}}
                    </div>
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th> {{'Nombre' | translate}}</th>
                        <th> {{'Teléfono' | translate}}</th>
                        <th> {{'País' | translate}}</th>
                        <th> {{'Ciudad' | translate}}</th>
                        <th> {{'Estado' | translate}}</th>
                        <th style="width: 8em; text-align: center;">
                            <button pButton type="button" icon="pi pi-cog"></button>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            <div class="ui-fluid">
                                <input pInputText type="text"
                                    (input)="dt.filter($event.target.value, 'nombres', 'contains')"
                                    placeholder="Search by Name" class="p-column-filter">
                            </div>
                        </th>
                        <th>
                            <div class="ui-fluid">
                                <input pInputText type="text"
                                    (input)="dt.filter($event.target.value, 'phone', 'contains')"
                                    placeholder="Search by Phone" class="p-column-filter">
                            </div>
                        </th>
                        <th>
                            <div class="ui-fluid">
                                <input pInputText type="text"
                                    (input)="dt.filter($event.target.value, 'pais', 'contains')"
                                    placeholder="Search by Country" class="p-column-filter">
                            </div>
                        </th>
                        <th>
                            <div class="ui-fluid">
                                <input pInputText type="text"
                                    (input)="dt.filter($event.target.value, 'ciudad', 'contains')"
                                    placeholder="Search by City" class="p-column-filter">
                            </div>
                        </th>
                        <th>
                            <div class="ui-fluid">
                                <input pInputText type="text"
                                    (input)="dt.filter($event.target.value, 'estado', 'startsWith')"
                                    placeholder="Search by State" class="p-column-filter">
                            </div>
                        </th>
                        <th style="width: 8em;">

                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-delivery let-columns="columns">
                    <tr [pSelectableRow]="delivery" [pEditableRow]="delivery">
                        <td>{{delivery.nombres | titlecase}}</td>
                        <td>{{delivery.phone}}</td>
                        <td>{{delivery.pais | titlecase}}</td>
                        <td>{{delivery.ciudad | titlecase}}</td>
                        <td style="text-align: center;">
                            <div [class]="delivery.estado=='A'?'active-badge':'inactive-badge'">
                                <span>{{delivery.estado=='A'?'Activo':'Inactivo'}}</span>
                            </div>
                        </td>
                        <td>
                            <button pButton type="button" class="ui-button-warning" icon="pi pi-pencil"
                                (click)="edit(delivery)"></button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="3">No delivery found.</td>
                    </tr>
                </ng-template>
            </p-table>
            <!--Table responsive-->
            <div class="tbl_responsive">
                <p-accordion>
                    <p-accordionTab header="Filtros de búsqueda" [selected]="true">
                        <div class="ui-g form-group ui-fluid">   
                            <div class="ui-g-12 ui-md-4">
                                <label for="client" class="lbl">{{'Nombres' | translate}}</label>
                                <input type="text" pInputText [(ngModel)]="name" placeholder="Nombre de empresa de carga"
                                    required pKeyFilter="int" />
                            </div>
                            <div class="ui-g-12 ui-md-4">
                                <button pButton type="button" [label]="'Consultar' | translate" icon="fa fa-search"
                                    iconPos="left" class="ui-button-success" (click)="consultarMobile()"></button>
                            </div>
                        </div>
                    </p-accordionTab>
                </p-accordion>                
                <div *ngIf="deliveries.length <=0" style="text-align: center;">
                    <br>
                    <label class="messageData">{{'Información no encontrada' | translate}}</label>
                </div>
                <div class="ui-grid ui-grid-responsive ui-fluid" class="data" *ngFor="let delivery of deliveries">
                    <div class="card card-w-title">
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-12">
                                <button pButton type="button" class="ui-button-info btn_card" icon="pi pi-pencil"
                                    (click)="edit(delivery)"></button>
                            </div>
                        </div>

                        <div class="ui-grid-row">
                            <div class="ui-grid-col-6"><span class="label">{{'Nombres' | translate}}</span></div>
                            <div class="ui-grid-col-6"><span class="value" style="word-break: break-all;">{{delivery.nombres | titlecase}}</span></div>
                        </div>
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-6"><span class="label">{{'Teléfono' | translate}}</span></div>
                            <div class="ui-grid-col-6"><span class="value">{{delivery.phone}}</span></div>
                        </div>
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-6"><span class="label">{{'País' | translate}}</span></div>
                            <div class="ui-grid-col-6"><span class="value">{{delivery.pais}}</span></div>
                        </div>
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-6"><span class="label">{{'Ciudad' | translate}}</span></div>
                            <div class="ui-grid-col-6"><span class="value"
                                    style="word-break: break-all;">{{delivery.ciudad}}</span></div>
                        </div>
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-6"><span class="label">{{'Estado' | translate}}</span></div>
                            <div class="ui-grid-col-6"><span class="value"
                                    [class]="delivery.estado=='A'?'active-badge':'inactive-badge'">
                                    {{delivery.estado=='A'?'Activo':'Inactivo'}}
                                </span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>