<div class="ui-g">
    <div class="ui-g-12 ui-lg-1"></div>
    <div class="ui-g-12 ui-lg-10">
        <p-toolbar>
            <div class="p-toolbar-group-left">
                <button (click)="save()" pButton class="ui-button-success" icon="pi pi-check" label="Guardar"
                    *ngIf="!edit"></button> &nbsp;

                <button (click)="modificar()" pButton class="ui-button-primary" icon="pi pi-pencil" label="Modificar"
                    *ngIf="edit"></button> &nbsp;

                <button (click)="cancelar()" pButton class="ui-button-warning" icon="pi pi-arrow-left"
                    label="Atrás"></button> &nbsp;

            </div>
        </p-toolbar> 
        <div class="card card-w-title ui-fluid">

            <h1 *ngIf="!edit">Agregar nueva marcación </h1>
            <h1 *ngIf="edit">{{nameClient | uppercase }} </h1>
            <div class="ui-g form-group">
                <div class="ui-g-12 ui-md-6" *ngIf="!edit">
                    <label for="nombre">Cliente</label>
                    <p-dropdown [options]="clients"  optionLabel="nombres" class="form-control" [(ngModel)]="mark.entiId"
                    [filter]="true" placeholder="Seleccione"></p-dropdown> 
                </div>                
                <div class="ui-g-12 ui-md-6">
                    <label for="nombre">Nombre</label>
                    <input type="text" name="nombre" pInputText autocomplete="off" maxlength="100"
                        [(ngModel)]="mark.nombre" />
                </div>

                <div class="ui-g-12 ui-md-6">
                    <label for="estado">Estado</label>
                    <p-selectButton [options]="options" [(ngModel)]="mark.estado"></p-selectButton>
                </div>

            </div>
        </div>
    </div>
    <div class="ui-g-12 ui-lg-1"></div>
</div>
