<div class="ui-g">
    <div class="ui-g-12 ui-lg-1"></div>
    <div class="ui-g-12 ui-lg-10">
        <p-toolbar>
            <div class="p-toolbar-group-left">
                <button (click)="save()" pButton class="ui-button-success" icon="pi pi-check" label="Guardar"
                    *ngIf="!edit"></button> &nbsp;

                <button (click)="modificar()" pButton class="ui-button-success" icon="pi pi-save" label="Actualizar"
                    *ngIf="edit"></button> &nbsp;

                <button (click)="cancelar()" pButton class="ui-button-warning" icon="pi pi-arrow-left"
                    label="Atrás"></button> &nbsp;

            </div>
        </p-toolbar> 
        <div class="card card-w-title ui-fluid">

            <h1 *ngIf="!edit">Agregar nueva finca</h1>
            <h1 *ngIf="edit">Editar Finca</h1>
            <div class="ui-g form-group">                
                <div class="ui-g-12 ui-md-6">
                    <label for="nombre">Nombre</label>
                    <input type="text" name="nombre" pInputText autocomplete="off" maxlength="100"
                        [(ngModel)]="finca.nombres" />
                </div>

                <div class="ui-g-12 ui-md-6">
                    <label for="razosoci">Razón Social</label>
                    <input type="text" name="razosoci" pInputText autocomplete="off" maxlength="100"
                        [(ngModel)]="finca.razosoci" />
                </div>

                <div class="ui-g-12 ui-md-6">
                    <label for="contacto">Contacto</label>
                    <input type="text" name="contacto" pInputText autocomplete="off" maxlength="100"
                        [(ngModel)]="finca.contacto" />
                </div>

                <div class="ui-g-12 ui-md-6">
                    <label for="pais">País</label>
                    <input type="text" name="pais" pInputText autocomplete="off" maxlength="100"
                        [(ngModel)]="finca.pais" />
                </div>
                <div class="ui-g-12 ui-md-6">
                    <label for="ciudad">Ciudad</label>
                    <input type="text" name="ciudad" pInputText autocomplete="off" maxlength="100"
                        [(ngModel)]="finca.ciudad" />
                </div>
                <div class="ui-g-12 ui-md-6">
                    <label for="email">Email</label>
                    <input type="text" name="email" pInputText autocomplete="off" maxlength="100"
                        [(ngModel)]="finca.email" />
                </div>

                <div class="ui-g-12 ui-md-6">
                    <label for="phone">Teléfono</label>
                    <input type="text" name="phone" pInputText autocomplete="off" maxlength="100"
                        [(ngModel)]="finca.phone" />
                </div>
                
                <div class="ui-g-12 ui-md-6">
                    <label for="estado">Estado</label>
                    <p-selectButton [options]="options" [(ngModel)]="finca.estado"></p-selectButton>
                </div>

                <div class="ui-g-12 ui-md-6">
                    <label for="direccion">Dirección</label>
                    <textarea type="text" name="direccion" pInputTextarea autocomplete="off" maxlength="100"
                        [(ngModel)]="finca.direccion" ></textarea>
                </div>
                
            </div>
        </div>
    </div>
    <div class="ui-g-12 ui-lg-1"></div>
</div>
