<div class="ui-g">
    <div class="ui-g-12">
        <div class="card card-w-title">
            <h1>Pagos y reclamos</h1>
            <p-toast></p-toast>
            <p-fieldset legend="Detalles del reclamo">
                <div class="ui-g form-group ui-fluid">
                    <div class="ui-g-12 ui-md-6">
                        <form [formGroup]="formGroup" (ngSubmit)="save()">
                            <div class="ui-g-12 ui-md-6">
                                <label class="lbl">Cliente</label>
                                <p-dropdown [options]="clientes" optionLabel="nombres" class="form-control"
                                    formControlName="cliente" [ngClass]="{ 'is-invalid': submit && f.cliente.errors }"
                                    class="form-control" (onChange)='onOptionsSelected()' [filter]="true"
                                    placeholder="Seleccione"></p-dropdown>
                                <div *ngIf="submit && f.cliente.errors" class="invalid-feedback">
                                    <div *ngIf="f.cliente.errors.required">Cliente es requerido</div>
                                </div>
                            </div>
                            <div class="ui-g-12 ui-md-6">
                                <label class="lbl">Tipo de documento</label>
                                <p-dropdown [options]="tipodocumentos" optionLabel="name"
                                    [ngClass]="{ 'is-invalid': submit && f.tipodocumento.errors }" class="form-control"
                                    formControlName="tipodocumento" class="form-control" [filter]="true"
                                    placeholder="Seleccione"></p-dropdown>
                                <div *ngIf="submit && f.tipodocumento.errors" class="invalid-feedback">
                                    <div *ngIf="f.tipodocumento.errors.required">Tipo de documento es requerido</div>
                                </div>
                            </div>
                            <div class="ui-g-12 ui-md-6">
                                <label class="lbl">N°. Factura</label>
                                <p-dropdown [options]="facturas" optionLabel="number" formControlName="numfactura"
                                    [ngClass]="{ 'is-invalid': submit && f.numfactura.errors }"
                                    (onChange)='onOptionsSelectedFactura()' class="form-control" [filter]="true"
                                    placeholder="Seleccione"></p-dropdown>
                                <div *ngIf="submit && f.numfactura.errors" class="invalid-feedback">
                                    <div *ngIf="f.numfactura.errors.required">Número de factura es requerido</div>
                                </div>
                            </div>
                            <div class="ui-g-12 ui-md-6">
                                <label class="lbl">Valor</label>
                                <input type="text" pInputText placeholder="0.0" pKeyFilter="money"
                                    formControlName="valor" [ngClass]="{ 'is-invalid': submit && f.valor.errors }"
                                    class="form-control" />
                                <div *ngIf="submit && f.valor.errors" class="invalid-feedback">
                                    <div *ngIf="f.valor.errors.required">Valor es requerido</div>
                                </div>
                            </div>
                            <div class="ui-g-12 ui-md-6">
                                <label class="lbl">Fecha</label>
                                <p-calendar [readonlyInput]="true" formControlName="fecha"
                                    [ngClass]="{ 'is-invalid': submit && f.fecha.errors }" class="form-control">
                                </p-calendar>
                                <div *ngIf="submit && f.fecha.errors" class="invalid-feedback">
                                    <div *ngIf="f.fecha.errors.required">Fecha es requerido</div>
                                </div>
                            </div>
                            <div class="ui-g-12 ui-md-6">
                                <label class="lbl">N°. Documento</label>
                                <input type="text" pInputText formControlName="numdocumento"
                                    [ngClass]="{ 'is-invalid': submit && f.numdocumento.errors }"
                                    class="form-control" />
                                <div *ngIf="submit && f.numdocumento.errors" class="invalid-feedback">
                                    <div *ngIf="f.numdocumento.errors.required">N° Documento es requerido</div>
                                </div>
                            </div>

                            <div class="ui-g-12 ui-md-12">
                                <label class="lbl">Descripción</label>
                                <textarea pInputTextarea formControlName="descripcion"
                                    [ngClass]="{ 'is-invalid': submit && f.descripcion.errors }"
                                    class="form-control"></textarea>
                                <div *ngIf="submit && f.descripcion.errors" class="invalid-feedback">
                                    <div *ngIf="f.descripcion.errors.required">Descripción es requerido</div>
                                </div>
                            </div>

                            <div class="ui-g-12 ui-md-12">
                                <div class="custom-dropzone" ngx-dropzone [accept]="'.pdf, .xls, .xlsx'"
                                    [expandable]="true" (change)="onSelect($event)">
                                    <ngx-dropzone-label>
                                        <div>
                                            <h2>My custom dropzone of documentos</h2>
                                        </div>
                                    </ngx-dropzone-label>
                                    <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview"
                                        *ngFor="let f of files" [file]="f" [removable]="true" (removed)="onRemove(f)">
                                        <ngx-dropzone-label class="text">{{ f.name }} ({{ f.type }})
                                        </ngx-dropzone-label>
                                    </ngx-dropzone-image-preview>
                                </div>
                            </div>
                            <div class="ui-grid ui-grid-responsive ui-fluid">
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-8"></div>
                                    <div class="ui-grid-col-4">
                                        <button pButton icon="pi pi-arrow-right" class="ui-button-help btn_enviar"
                                            label="Enviar"></button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="ui-g-12 ui-md-6">
                        <p-accordion [multiple]="true">
                            <p-accordionTab header="Datos del Cliente" [selected]="true">
                                <div class="ui-g form-group ui-fluid">
                                    <div class="ui-g-12 ui-md-6">
                                        <label class="lbl">Identificación</label>
                                        <input type="text" pInputText [value]="selectclient?.entiDni" readonly />
                                    </div>
                                    <div class="ui-g-12 ui-md-6">
                                        <label class="lbl">Nombres</label>
                                        <input type="text" pInputText [value]="selectclient?.nombres" readonly />
                                    </div>
                                    <div class="ui-g-12 ui-md-6">
                                        <label class="lbl">Razón Social</label>
                                        <input type="text" pInputText [value]="selectclient?.razosoci" readonly />
                                    </div>
                                    <div class="ui-g-12 ui-md-6">
                                        <label class="lbl">Email</label>
                                        <input type="text" pInputText [value]="selectclient?.email" readonly />
                                    </div>
                                    <div class="ui-g-12 ui-md-6">
                                        <label class="lbl">Teléfono</label>
                                        <input type="text" pInputText [value]="selectclient?.phone" readonly />
                                    </div>
                                    <div class="ui-g-12 ui-md-6">
                                        <label class="lbl">Ciudad</label>
                                        <input type="text" pInputText [value]="selectclient?.ciudad" readonly />
                                    </div>
                                    <div class="ui-g-12 ui-md-12">
                                        <label class="lbl">Dirección</label>
                                        <input type="text" pInputText [value]="selectclient?.direccion" readonly />
                                    </div>
                                </div>
                            </p-accordionTab>
                            <p-accordionTab header="Datos de la factura" [selected]="true">
                                <div class="ui-g form-group ui-fluid">
                                    <div class="ui-g-12 ui-md-6">
                                        <label class="lbl">Número de factura</label>
                                        <input type="text" pInputText [value]="selectfactura?.number" readonly />
                                    </div>
                                    <div class="ui-g-12 ui-md-6">
                                        <label class="lbl">Valor</label>
                                        <input type="text" pInputText [value]="selectfactura?.valor" readonly />
                                    </div>
                                </div>
                            </p-accordionTab>
                        </p-accordion>
                    </div>
                </div>
            </p-fieldset>
        </div>
    </div>
</div>