<div class="ui-g">
    <div class="ui-g-12">
        <div class="card card-w-title">
            <h1>{{'Pagos y reclamos' | translate }}</h1>
            <p-toast></p-toast>
            <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="square-jelly-box"
                [fullScreen]="true">
                <p style="color: white"> Loading... </p>
            </ngx-spinner>
            <p-fieldset [legend]="'Detalles del reclamo' | translate">
                <div class="ui-g form-group ui-fluid">
                    <div class="ui-g-12 ui-md-6">
                        <form [formGroup]="formGroup" (ngSubmit)="save()">
                            <div class="ui-g-12 ui-md-6">
                                <label class="lbl">{{'Cliente' | translate }}</label>
                                <p-dropdown [options]="clientes" optionLabel="cliente.nombres" class="form-control"
                                    formControlName="cliente" [ngClass]="{ 'is-invalid': submit && f.cliente.errors }"
                                    class="form-control" (onChange)='onOptionsSelected()' [filter]="true"
                                    placeholder="Seleccione"></p-dropdown>
                                <div *ngIf="submit && f.cliente.errors" class="invalid-feedback">
                                    <div *ngIf="f.cliente.errors.required">{{'Cliente es requerido' | translate}}</div>
                                </div>
                            </div>
                            <div class="ui-g-12 ui-md-6">
                                <label class="lbl">{{'Tipo de documento' | translate }}</label>
                                <p-dropdown [options]="tipodocumentos" optionLabel="name"
                                    [ngClass]="{ 'is-invalid': submit && f.tipodocumento.errors }" class="form-control"
                                    formControlName="tipodocumento" class="form-control" [filter]="true"
                                    placeholder="Seleccione"></p-dropdown>
                                <div *ngIf="submit && f.tipodocumento.errors" class="invalid-feedback">
                                    <div *ngIf="f.tipodocumento.errors.required">{{'Tipo de documento es requerido' | translate}}</div>
                                </div>
                            </div>
                            <div class="ui-g-12 ui-md-6">
                                <label class="lbl">{{'N°. Factura' | translate }}</label>
                                <p-dropdown [options]="facturas" optionLabel="secuencial" formControlName="numfactura"
                                    [ngClass]="{ 'is-invalid': submit && f.numfactura.errors }"
                                    (onChange)='onOptionsSelectedFactura()' class="form-control" [filter]="true"
                                    placeholder="Seleccione"></p-dropdown>
                                <div *ngIf="submit && f.numfactura.errors" class="invalid-feedback">
                                    <div *ngIf="f.numfactura.errors.required">{{'Número de factura es requerido' | translate}}</div>
                                </div>
                            </div>

                            <div class="ui-g-12 ui-md-6">
                                <label class="lbl">{{'N°. Documento' | translate}}</label>
                                <input type="text" pInputText formControlName="numdocumento"
                                    [ngClass]="{ 'is-invalid': submit && f.numdocumento.errors }"
                                    class="form-control" />
                                <div *ngIf="submit && f.numdocumento.errors" class="invalid-feedback">
                                    <div *ngIf="f.numdocumento.errors.required">{{'N° Documento es requerido' | translate}}</div>
                                </div>
                            </div>

                            <div class="ui-g-12 ui-md-6">
                                <label class="lbl">{{'Fecha' | translate}}</label>
                                <p-calendar [readonlyInput]="true" formControlName="fecha"
                                    [ngClass]="{ 'is-invalid': submit && f.fecha.errors }" class="form-control">
                                </p-calendar>
                                <div *ngIf="submit && f.fecha.errors" class="invalid-feedback">
                                    <div *ngIf="f.fecha.errors.required">{{'Fecha es requerido' | translate}}</div>
                                </div>
                            </div>

                            <div class="ui-g-12 ui-md-6">
                                <label class="lbl">{{'Valor' | translate}}</label>
                                <input type="text" pInputText placeholder="0.0" pKeyFilter="money"
                                    formControlName="valor" [ngClass]="{ 'is-invalid': submit && f.valor.errors }"
                                    class="form-control" />
                                <div *ngIf="submit && f.valor.errors" class="invalid-feedback">
                                    <div *ngIf="f.valor.errors.required">{{'Valor es requerido' | translate}}</div>
                                </div>
                            </div>



                            <div class="ui-g-12 ui-md-12">
                                <label class="lbl">{{'Descripción' | translate}}</label>
                                <textarea pInputTextarea formControlName="descripcion"
                                    [ngClass]="{ 'is-invalid': submit && f.descripcion.errors }"
                                    class="form-control"></textarea>
                                <div *ngIf="submit && f.descripcion.errors" class="invalid-feedback">
                                    <div *ngIf="f.descripcion.errors.required">{{'Descripción es requerido' | translate}}</div>
                                </div>
                            </div>

                            <div class="ui-g-12 ui-md-12" *ngIf="files.length > 0">
                                <label class="lbl">{{'Nombre del documento' | translate}}</label>
                                <input type="text" pInputText readonly
                                    [value]="files[0].name"  class="form-control" />
                            </div>


                            <div class="ui-g-12 ui-md-12">
                                <div class="custom-dropzone" ngx-dropzone [accept]="'.pdf, .png, .jpeg, .jpg'"
                                    [expandable]="true" (change)="onSelect($event)">
                                    <ngx-dropzone-label>
                                        <div>
                                            <h2>{{'Mi zona de entrega personalizada de documentos' | translate}}</h2>
                                        </div>
                                    </ngx-dropzone-label>
                                    <ngx-dropzone-preview *ngFor="let f of files" [file]="f" [removable]="true"
                                        (removed)="onRemove(f)">
                                        <ngx-dropzone-label class="text">{{ f.name }} ({{ f.type }})
                                        </ngx-dropzone-label>
                                    </ngx-dropzone-preview>
                                </div>
                            </div>
                            <div class="ui-grid ui-grid-responsive ui-fluid">
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-8"></div>
                                    <div class="ui-grid-col-4">
                                        <button pButton icon="pi pi-arrow-right" class="ui-button-help btn_enviar"
                                            [label]="'Enviar' | translate"></button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="ui-g-12 ui-md-6">
                        <p-accordion [multiple]="true">
                            <p-accordionTab [header]="'Datos del cliente' | translate" [selected]="true">
                                <div class="ui-g form-group ui-fluid">
                                    <div class="ui-g-12 ui-md-6">
                                        <label class="lbl">{{'Identificación' | translate}}</label>
                                        <input type="text" pInputText [value]="selectclient?.entiDni" readonly />
                                    </div>
                                    <div class="ui-g-12 ui-md-6">
                                        <label class="lbl">{{'Nombres' | translate}}</label>
                                        <input type="text" pInputText [value]="selectclient?.nombres" readonly />
                                    </div>
                                    <div class="ui-g-12 ui-md-6">
                                        <label class="lbl">{{'Razón Social' | translate}}</label>
                                        <input type="text" pInputText [value]="selectclient?.razosoci" readonly />
                                    </div>
                                    <div class="ui-g-12 ui-md-6">
                                        <label class="lbl">{{'Email' | translate}}</label>
                                        <input type="text" pInputText [value]="selectclient?.email" readonly />
                                    </div>
                                    <div class="ui-g-12 ui-md-6">
                                        <label class="lbl">{{'Teléfono' | translate}}</label>
                                        <input type="text" pInputText [value]="selectclient?.phone" readonly />
                                    </div>
                                    <div class="ui-g-12 ui-md-6">
                                        <label class="lbl">{{'Ciudad' | translate}}</label>
                                        <input type="text" pInputText [value]="selectclient?.ciudad" readonly />
                                    </div>
                                    <div class="ui-g-12 ui-md-12">
                                        <label class="lbl">{{'Dirección' | translate}}</label>
                                        <input type="text" pInputText [value]="selectclient?.direccion" readonly />
                                    </div>
                                </div>
                            </p-accordionTab> 
                            <p-accordionTab [header]="'Balance general' | translate" [selected]="true">
                                <div class="ui-g form-group ui-fluid">
                                    <div class="ui-g-12 ui-md-4">
                                        <label class="lbl">{{'Débitos' | translate}}</label>
                                    </div>
                                    <div class="ui-g-12 ui-md-8">
                                        <input type="text" pInputText [value]="selectclient?.debito | currency:'USD'"
                                            readonly />
                                    </div>
                                    <div class="ui-g-12 ui-md-4">
                                        <label class="lbl">{{'Créditos' | translate}}</label>
                                    </div>
                                    <div class="ui-g-12 ui-md-8">
                                        <input type="text" pInputText [value]="selectclient?.credito | currency:'USD'"
                                            readonly />
                                    </div>
                                    <div class="ui-g-12 ui-md-4">
                                        <label class="lbl">{{'Balance' | translate}}</label>
                                    </div>
                                    <div class="ui-g-12 ui-md-8">
                                        <input type="text" pInputText [value]="selectclient?.balance | currency:'USD'"
                                            readonly />
                                    </div>
                                </div>
                            </p-accordionTab>
                        </p-accordion>
                    </div>
                </div>
            </p-fieldset>
        </div>
         <!--Confirmar cuadro de dialogo confirm-->
         <p-confirmDialog #cd header="Confirmation" icon="pi pi-exclamation-triangle">
            <p-footer>
                <button type="button" pButton icon="pi pi-times" class="ui-button-danger" [label]="'No' | translate"
                    (click)="cd.reject()"></button>
                <button type="button" pButton icon="pi pi-check" class="ui-button-success" [label]="'Yes' | translate"
                    (click)="cd.accept()"></button>
            </p-footer>
        </p-confirmDialog>
    </div>
</div>