.layout-main .layout-content {
    height: 100%;
}

@media only screen and (max-width: 40rem) {
    .layout-main .layout-content {
        height: 100%;
    }

    .layout-main{
        margin-top: 0px !important;
    }
}
