<div class="ui-g">
    <div class="ui-g-12 ui-lg-6 ui-lg-3">
        <p-toolbar>
            <div class="p-toolbar-group-left">
                <button pButton class="ui-button-success" type="button" label="Guardar" (click)="sendData()"
                    *ngIf="!enabled" icon="pi pi-check" iconPos="left"></button>
                <button pButton class="ui-button-warning" type="button" label="Cancelar" *ngIf="!enabled"
                    (click)="cancel()" icon="pi pi-times" iconPos="left"></button>
                <button pButton class="ui-button-primary" type="button" label="Modificar" *ngIf="enabled"
                    (click)="modify()" icon="pi pi-pencil" iconPos="left"></button>
            </div>
        </p-toolbar>
        <div class="card no-margin ui-fluid">
            <!-- <form [formGroup]="profileForm" (ngSubmit)="sendData()">
                <div class="p-col-12">
                    <button pButton pRipple style="width:20rem" class="p-mr-2 p-mb-2"
                        type="submit" label="Guardar" [disabled]="profileForm.invalid"
                        *ngIf="!enabled" icon="pi pi-check" iconPos="left"
                        class="p-button-secondary"></button>
                    <button pButton pRipple style="width:20rem" class="p-mr-2 p-mb-2"
                        type="button" label="Cancelar"
                        *ngIf="!enabled" (click)="cancel()" icon="pi pi-times" iconPos="left"
                        class="p-button-success"></button>
                    <button pButton pRipple style="width:20rem" class="p-mr-2 p-mb-2"
                        type="button" label="Modificar"
                        *ngIf="enabled" (click)="modify()" icon="pi pi-pencil" iconPos="left"
                        class="p-button-info"></button>
                </div>

                <input #file type="file" accept='image/*' (change)="preview(file.files)" *ngIf="!enabled" />
                <img [src]="user.photo" height="250">
                <div class="p-col-6">
                    <label for="identification">Identificación</label>
                    <input type="text" pInputText name="identification" id="identification"
                    minlength="10" formControl="identification" autocomplete="off"
                    [readonly]="enabled" required />
                    <br/>
                </div>
                <div class="p-col-6">
                    <label for="name">Nombres</label>
                    <input type="text" pInputText [readonly]="enabled"
                           formControl="name" autocomplete="off"
                           maxlength="100" name="name" id="name"
                    />
                    <br/>
                </div>

                <div class="p-col-6">
                    <label for="lastname">Apellidos</label>
                    <input type="text" pInputText [readonly]="enabled"
                    formControl="lastname" autocomplete="off"
                    maxlength="100" name="lastname" id="lastname"
                    />
                    <br/>
                </div>

                <div class="p-col-6">
                    <label for="email">Email</label>
                    <input type="text" pInputText autocomplete="off"
                    formControl="email" [readonly]="enabled" name="email" id="email" />
                    <br/>
                </div>
            </form>
        -->

            <div class="p-field">
                <input #file type="file" accept='image/*' (change)="preview(file.files)" *ngIf="!enabled" />
                <br>
                <img [src]="user.photo" height="250">
            </div>
            <div class="p-field">
                <label for="identification">Identificación</label>
                <input type="text" pInputText name="identification" id="identification" minlength="10"
                    autocomplete="off" [(value)]="user.dni" [readonly]="enabled" required />
                <br />
            </div>
            <div class="p-field">
                <label for="name">Nombres</label>
                <input type="text" pInputText [readonly]="enabled" autocomplete="off" [(value)]="user.name"
                    maxlength="100" name="name" id="name" />
                <br />
            </div>
            <div class="p-field">
                <label for="lastname">Apellidos</label>
                <input type="text" pInputText [readonly]="enabled" autocomplete="off" [(value)]="user.lastname"
                    maxlength="100" name="lastname" id="lastname" />
                <br />
            </div>
            <div class="p-field">
                <label for="email">Email</label>
                <input type="text" pInputText autocomplete="off" [(value)]="user.email" [readonly]="enabled"
                    name="email" id="email" />
                <br />
            </div>
        </div>
    </div>
</div>
