.active-badge {
    background-color: #c8e6c9;
    color: #256029;
    height: 20px;
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    font-size: 12px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    letter-spacing: 0.3px;
}

.inactive-badge {
    background-color: #ffcdd2;
    color: #c63737;
    height: 20px;
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    font-size: 12px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    letter-spacing: 0.3px;
}

.galeryWeb {
    display: inline;
}

.galeryMobile {
    display: none;
}

.flower-grid-item-top span {
    font-size: 14px;
}

.flower-grid-item-content {
    text-align: center;
}

.flower-grid-item-content .galery{
    padding-left: 25px;
    padding-right: 25px;
}

.flower-grid-item-content .galery img {
    width: 100px;
    height: 100px;
}

.flower-grid-item-content .flower-name {
    font-size: 16px;
    font-weight: bold;
}

.flower-grid-item-bottom {
    text-align: right;
}

.dataview-grid.ui-dataview .ui-dataview-header {
    border-bottom: 0 none;
    display: none;
}

.flower-category-icon{
    font-size: 20px;
}

@media only screen and (max-width: 40rem) {
    .galeryWeb {
        display: none;
    }

    .galeryMobile {
        display: inline;
    }

    .flower-grid-item-content .galery{
        padding-left: 0px;
        padding-right: 0px;
    }
    
    .flower-grid-item-content .galery img {
        width: 70px;
        height: 70px;
    }
}
