.box {
    background-color: var(--surface-e);
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 4px;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2),
        0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
}

.box-stretched {
    height: 100%;
}

.vertical-container {
    margin: 0;
    height: 200px;
    background: var(--surface-d);
    border-radius: 4px;
}

.nested-grid .p-col-4 {
    padding-bottom: 1rem;
}

.row {
    padding-top: 1px;
}

.btndelete {
    float: right;
    margin-right: -17px;
    margin-top: -2px;
    border-radius: 5px;
}

.badge {
    width: 30px;
    height: 25px;
    background-color: #1c8adb;
    color: white;
    text-align: center;
    margin-left: -16px;
    margin-top: -2px;
    font-weight: bold;
    padding-top: 3px;
    border-radius: 5px;
}

.row .numeration {
    background-color: #2d8ee3;
    width: 30px;
    color: white;
    font-size: 16px;
    text-align: center;
    border-radius: 5px;
    margin-left: -15px;
}

.lbl {
    font-weight: bold;
    text-align: center;
    font-size: 15px;
}

.lbl_footer {
    margin-top: 5px;
    text-align: right;
    font-size: 16px;
    font-weight: bold;
    margin-right: 5px;
}

.uploadfilecontainer {
    background-image: url("../../../../assets/images/upload_excel.png");
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: center;
    height: 200px;
    width: 80%;
    margin: 20px auto;
    border: 2px dashed #1c8adb;
    border-radius: 10px;
}

.uploadfilecontainer:hover {
    cursor: pointer;
    background-color: #9ecbec !important;
    opacity: 0.8;
}

.files-list {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 10px auto;
    background: #ffffff;
    border: 1px dashed;
    border-radius: 12px;
    padding: 5px;
    color: #1c8adb;
}

.btn_card {
    float: right;
    margin-right: -16px;
    margin-top: -16px;
}

.files-list .delete-file {
    background: transparent;
    border: none;
    cursor: pointer;
}

.files-list .delete-file img {
    width: 30px;
}

.label {
    text-align: left;
    font-weight: bold;
    font-size: 16px;
}

.value {
    text-align: left;
    font-size: 14px;
}

.ouput_btn_table {
    display: inline;
}

.in_btn_table {
    display: none;
}

.data {
    display: none;
}

.resumen {
    display: none;
}
.total_table {
    text-align: center;
    font-size: 18px;
    font-weight: bold !important;
}

.total_tallos {
    font-weight: bold;
    font-size: 18px;
}

.total_valor {
    font-weight: bold;
    font-size: 18px;
}

.btn_enviar {
    display: inline;
    color: #ffffff;
    background: #9c27b0;
    border: 1px solid #9c27b0;
    font-size: 18px;
    font-weight: bold;
}

.btn_enviar_responsive {
    display: none;
}

.form-control {
    border: 1px solid #c4c4c4 !important;
}
.is-invalid {
    border: 1px solid #dc3545 !important;
}
.invalid-feedback {
    color: #dc3545;
    font-weight: bold;
}

.ng-valid[required],
.ng-valid.required {
    border-left: 5px solid #42a948; /* green */
}

.ng-invalid:not(form) {
    border-left: 5px solid #a94442; /* red */
}


@media only screen and (max-width: 40rem) {
    .p-datatable-responsive-demo {
        display: none;
    }

    .data {
        display: inline;
    }

    .resumen {
        display: inline;
    }
    .ouput_btn_table {
        display: none;
    }

    .in_btn_table {
        display: inline;
    }

    .btn_enviar {
        display: none;
    }
    .btn_enviar_responsive {
        display: inline;
        color: #ffffff;
        background: #9c27b0;
        border: 1px solid #9c27b0;
        font-size: 18px;
        font-weight: bold;
        position: fixed;
        bottom: 0vw;
        left: 0;
        z-index: 1;
    }
}
