<div class="ui-g">
    <div class="ui-g-12">
        <div class="card card-w-title">
            <p-toast></p-toast>
            <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="square-jelly-box"
                [fullScreen]="true">
                <p style="color: white"> Loading... </p>
            </ngx-spinner>
            <div *ngIf="invoicesdraft.length > 0 && step <= 1">
                <h1>{{'Borradores de la facturación' | translate}}</h1>
                <p-table [value]="invoicesdraft" class="p-datatable-responsive-demo">
                    <ng-template pTemplate="caption">
                        <div class="p-d-flex p-ai-center p-jc-between">
                            {{'Facturas de borrador'| translate}} [ {{invoicesdraft.length}} ]
                        </div>
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr>
                            <th style="width: 8em;"></th>
                            <th>{{'Cliente' | translate}}</th>
                            <th>{{'Fecha' | translate}}</th>
                            <th>{{'Número de tallos' | translate}}</th>
                            <th>{{'Secuencial' | translate}}</th>
                            <th>{{'Total' | translate}}</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let-item>
                        <tr style="background-color: white;">
                            <td><span class="p-column-title">
                                    <button pButton type="button" class="ui-button-warning"
                                        style="height: 30px; border-radius: 5px;" (click)="edit(item)">
                                        <i class="pi pi-pencil" style="font-size: 1.7rem"></i>
                                    </button>
                                    &nbsp;
                                    <button pButton type="button" class="ui-button-success"
                                        style="height: 30px; border-radius: 5px;" (click)="viewdraft(item)">
                                        <i class="pi pi-download" style="font-size: 1.7rem"></i>
                                    </button>
                                    &nbsp;
                                    <button pButton type="button" class="ui-button-success" icon="pi pi-replay"
                                        style="display: none;" (click)="finish(item)"></button>

                                </span>
                            </td>
                            <td><span class="p-column-title">{{item.cabecera.cliente.nombres }}</span></td>
                            <td><span class="p-column-title">{{item.cabecera.fecha }}</span></td>
                            <td><span class="p-column-title">{{item.cabecera.numetallos }}</span></td>
                            <td><span class="p-column-title">{{item.cabecera.secuencial }}</span></td>
                            <td><span class="p-column-title" style="font-weight: bold;">{{item.cabecera.total |
                                    currency}}</span></td>
                        </tr>
                    </ng-template>
                </p-table>
                <hr>
                <div class="ui-g form-group ui-fluid">
                    <div class="ui-g-12 ui-md-9"></div>
                    <div class="ui-g-12 ui-md-3">
                        <button pButton type="button" icon="pi pi-chevron-circle-right" style="font-size: 1rem"
                            [label]="'Nueva factura' | translate" class="ui-button-info ouput_btn_table"
                            (click)="facturar()">
                        </button>
                    </div>
                </div>
            </div>
            <div *ngIf="invoicesdraft.length <= 0 || step > 1">
                <div class="ui-g form-group ui-fluid">
                    <div [class]="invoicesdraft.length > 0 ? 'ui-g-12 ui-md-10':'ui-g-12 ui-md-10'">
                        <h1 *ngIf="(!editInvoice && step > 1) || invoicesdraft.length <= 0">
                            {{'Facturación Cliente' | translate}}</h1>
                        <h1 *ngIf="editInvoice && step > 1">{{'Editando la factura' | translate }} # {{idFactura}}</h1>
                    </div>
                    <div [class]="invoicesdraft.length > 0 ? 'ui-g-12 ui-md-2':''">
                        <button pButton type="button" icon="pi pi-arrow-circle-left" [label]="'Borradores' | translate"
                            icon="pi pi-arrow-circle-left" *ngIf="invoicesdraft.length > 0"
                            class="ui-button-warning ouput_btn_table" (click)="back()"></button>
                    </div>
                </div>
                <form [formGroup]="facturaForm" (ngSubmit)="save()">
                    <p-accordion>
                        <p-accordionTab [header]="'Datos del Cliente' | translate" [selected]="true">
                            <div class="ui-g form-group ui-fluid">
                                <div class="ui-g-12 ui-md-2">
                                    <label for="client" class="lbl">{{'Cliente' | translate}}</label>
                                    <p-dropdown [options]="clientes" optionLabel="nombres" formControlName="cliente"
                                        [ngClass]="{ 'is-invalid': submittedFactura && fr.cliente.errors }"
                                        class="form-control" class="form-control" (onChange)='onOptionsSelected()'
                                        [filter]="true" [placeholder]="'Seleccione' | translate"></p-dropdown>

                                    <div *ngIf="submittedFactura && fr.cliente.errors" class="invalid-feedback">
                                        <div *ngIf="fr.cliente.errors.required">{{'Cliente es requerido' | translate}}
                                        </div>
                                    </div>
                                </div>

                                <div class="ui-g-12 ui-md-2">
                                    <label for="mark" class="lbl">{{'Marca' | translate}}</label>
                                    <p-dropdown [options]="marks" optionLabel="nombre" formControlName="marca"
                                        (onChange)='onOptionsMarkSelected()'
                                        [ngClass]="{ 'is-invalid': submittedFactura && fr.marca.errors }"
                                        class="form-control" class="form-control" [filter]="true"
                                        [placeholder]="'Seleccione' | translate">
                                    </p-dropdown>

                                    <div *ngIf="submittedFactura && fr.marca.errors" class="invalid-feedback">
                                        <div *ngIf="fr.marca.errors.required">{{'Marca es requerido' | translate}}</div>
                                    </div>
                                </div>
                                <div class="ui-g-12 ui-md-2">
                                    <label for="mawba" class="lbl">{{'N° guía' | translate}}</label>
                                    <input type="text" id="mawba" pInputText formControlName="mawba"
                                        [ngClass]="{ 'is-invalid': submittedFactura && fr.mawba.errors }"
                                        class="form-control">
                                    <div *ngIf="submittedFactura && fr.mawba.errors" class="invalid-feedback">
                                        <div *ngIf="fr.mawba.errors.required">{{'Mawba es requerido' | translate}}</div>
                                    </div>
                                </div>

                                <div class="ui-g-12 ui-md-2">
                                    <label for="freightforwarder" class="lbl">{{'Empresa carga' | translate}}</label>
                                    <p-dropdown [options]="deliveries" optionLabel="nombres" class="form-control"
                                        (onChange)='onOptionsSelected()' formControlName="empresacargo"
                                        [ngClass]="{ 'is-invalid': submittedFactura && fr.empresacargo.errors }"
                                        class="form-control" [filter]="true" [placeholder]="'Seleccione' | translate">
                                    </p-dropdown>

                                    <div *ngIf="submittedFactura && fr.empresacargo.errors" class="invalid-feedback">
                                        <div *ngIf="fr.empresacargo.errors.required">
                                            {{'Empresa carga es requerida' | translate}}</div>
                                    </div>
                                </div>

                                <div class="ui-g-12 ui-md-2" *ngIf="typerol=='ADM'">
                                    <label for="phone" class="lbl">{{'Teléfono' | translate}}</label>
                                    <input type="text" id="phone" pInputText [value]="selectclient?.phone" readonly>
                                </div>

                                <div class="ui-g-12 ui-md-2" *ngIf="typerol=='ADM'">
                                    <label for="razonsocial" class="lbl">{{'Razón Social' | translate}}</label>
                                    <input type="text" id="razonsocial" pInputText [value]="selectclient?.razosoci"
                                        readonly>
                                </div>

                                <div [class]="!editInvoice?'ui-g-12 ui-md-2':'ui-g-12 ui-md-4'" *ngIf="typerol=='ADM'">
                                    <label for="ciudad" class="lbl">{{'País-Ciudad'| translate}}</label>
                                    <input type="text" id="ciudad" pInputText [value]="selectclient?.paiscity" readonly>
                                </div>

                                <div [class]="!editInvoice?'ui-g-12 ui-md-2':'ui-g-12 ui-md-4'" *ngIf="typerol=='ADM'">
                                    <label for="email" class="lbl">{{'Email' | translate}}</label>
                                    <textarea pInputTextarea id="email" [value]="selectclient?.email"
                                        readonly></textarea>
                                </div>

                                <div [class]="!editInvoice?'ui-g-12 ui-md-2':'ui-g-12 ui-md-4'" *ngIf="typerol=='ADM'">
                                    <label for="address" class="lbl">{{'Dirección' | translate}}</label>
                                    <textarea pInputTextarea id="address" [value]="selectmark?.direccion"
                                        readonly></textarea>
                                </div>


                                <div [class]="typerol=='ADM'? 'ui-g-12 ui-md-6':'ui-g-12 ui-md-4'" *ngIf="!editInvoice">
                                    <label for="address" class="lbl">{{'Operación' | translate}}</label>
                                    <div class="ui-grid-row">
                                        <div class="ui-grid-col-4">
                                            <button pButton type="button" icon="pi pi-pencil" class="ui-button-primary"
                                                [label]="'Manual' | translate" (click)="selectOptions('manual')"
                                                style="height: 40px;"></button>
                                        </div>
                                        <div class="ui-grid-col-4">
                                            <button pButton type="button" icon="pi pi-upload" class="ui-button-warning"
                                                [label]="'Subir archivo' | translate"
                                                (click)="selectOptions('automatico')" style="height: 40px;"></button>
                                        </div>
                                        <div class="ui-grid-col-4" *ngIf="templates.length > 0">
                                            <button pButton type="button" icon="pi pi-file" class="ui-button-success"
                                                [label]="'Template' | translate" (click)="selectOptions('template')"
                                                style="height: 40px;"></button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </p-accordionTab>
                    </p-accordion>
                    <!--Agregar manualmente-->
                    <div *ngIf="manual">
                        <form [formGroup]="itemForm" (ngSubmit)="saverow()">
                            <br>
                            <div class="ui-g form-group ui-fluid">
                                <div class="ui-g-12 ui-md-2" *ngIf="!addrow">
                                    <button pButton type="button" icon="pi pi-plus" class="ui-button-primary"
                                        [label]="'Nuevo' | translate" (click)="add()"></button>
                                </div>
                                <!--<div class="ui-g-12 ui-md-2" *ngIf="addrow">
                            <button pButton icon="pi pi-plus" class="ui-button-success ouput_btn_table"
                                label="Guardar"></button>
                        </div>
                        <div class="ui-g-12 ui-md-2" *ngIf="addrow">
                            <button pButton type="button" icon="pi pi-times" label="Cancelar"
                                class="ui-button-lg ui-button-warning ouput_btn_table" (click)="cancelrow()"></button>
                        </div>-->
                            </div>

                            <div class="card row" *ngIf="addrow">
                                <div class="ui-g form-group ui-fluid">
                                    <div class="ui-g-12 ui-md-1">
                                        <br>
                                        <div class="ui-g-12 ui-md-3" *ngIf="addrow">
                                            <button pButton icon="pi pi-check" style="height: 2.2rem;width: 35px;"
                                                class="ui-button-success ouput_btn_table"></button>
                                        </div>
                                        <div class="ui-g-12 ui-md-3"></div>
                                        <div class="ui-g-12 ui-md-4" *ngIf="addrow">
                                            <button pButton type="button" icon="pi pi-times"
                                                style="height: 2.2rem;width: 35px;"
                                                class="ui-button-lg ui-button-warning ouput_btn_table"
                                                (click)="cancelrow()"></button>
                                        </div>
                                    </div>
                                    <div class="ui-g-12 ui-md-1">
                                        <label class="lbl">{{'Caja' | translate}}</label>
                                        <p-dropdown [options]="cajas" optionLabel="name" formControlName="caja"
                                            [placeholder]="'Seleccione' | translate">
                                        </p-dropdown>
                                    </div>
                                    <div class="ui-g-12 ui-md-1">
                                        <label class="lbl">{{'Piezas' | translate}} </label>
                                        <input type="text" pInputText pKeyFilter="int" placeholder="0"
                                            formControlName="pieza">
                                    </div>
                                    <div class="ui-g-12 ui-md-2">
                                        <label class="lbl">{{'Finca' | translate}}</label>
                                        <p-dropdown [options]="fincas" formControlName="finca" optionLabel="nombres"
                                            [ngClass]="{ 'is-invalid': submitted && f.finca.errors }"
                                            class="form-control" [filter]="true"
                                            [placeholder]="'Seleccione' | translate">
                                        </p-dropdown>
                                        <div *ngIf="submitted && f.finca.errors" class="invalid-feedback">
                                            <div *ngIf="f.finca.errors.required">{{'Finca es requerido' | translate}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ui-g-12 ui-md-2">
                                        <label class="lbl">{{'Variedad' | translate}}</label>
                                        <p-dropdown [options]="flores" formControlName="flores"
                                            optionLabel="flor.nombre"
                                            [ngClass]="{ 'is-invalid': submitted && f.flores.errors }"
                                            class="form-control" [filter]="true"
                                            [placeholder]="'Seleccione' | translate">
                                        </p-dropdown>
                                        <div *ngIf="submitted && f.flores.errors" class="invalid-feedback">
                                            <div *ngIf="f.flores.errors.required">
                                                {{'Variedad es requerido' | translate}}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="ui-g-12 ui-md-1">
                                        <label class="lbl">{{'BCH' | translate}}</label>
                                        <input type="text" pInputText pKeyFilter="int"
                                            [ngClass]="{ 'is-invalid': submitted && f.stem.errors }"
                                            class="form-control" placeholder="0" formControlName="stem">
                                        <div *ngIf="submitted && f.stem.errors" class="invalid-feedback">
                                            <div *ngIf="f.stem.errors.required">{{'Tallos es requerido' | translate}}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="ui-g-12 ui-md-1">
                                        <label class="lbl">{{'CM' | translate}}</label>
                                        <p-dropdown [options]="tamanios" [placeholder]="'Seleccione' | translate"
                                            optionLabel="name" class="form-control"
                                            [ngClass]="{ 'is-invalid': submitted && f.tamanio.errors }"
                                            formControlName="tamanio" formControlName="tamanio">
                                        </p-dropdown>
                                        <div *ngIf="submitted && f.tamanio.errors" class="invalid-feedback">
                                            <div *ngIf="f.tamanio.errors.required">{{'Tamaño es requerido' | translate}}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="ui-g-12 ui-md-1">
                                        <label class="lbl">{{'No BCH' | translate}}</label>
                                        <input type="text" pInputText pKeyFilter="int" placeholder="0"
                                            class="form-control"
                                            [ngClass]="{ 'is-invalid': submitted && f.tallos.errors }"
                                            (focusout)="calculate()" formControlName="tallos">
                                        <div *ngIf="submitted && f.tallos.errors" class="invalid-feedback">
                                            <div *ngIf="f.tallos.errors.required">
                                                {{'N° tallos es requerido' | translate}}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="ui-g-12 ui-md-1">
                                        <label class="lbl" style="color: #ff4456;font-weight: bold;">{{'No Tallos' |
                                            translate}}</label>
                                        <input type="text" pInputText pKeyFilter="int" placeholder="0"
                                            class="form-control"
                                            [ngClass]="{ 'is-invalid': submitted && f.totaltallos.errors }" readonly
                                            pTooltip="Este valor se auto calculara" tooltipPosition="bottom"
                                            style="font-size: 14px;font-weight: bold;text-align: center;background-color: #FFFAF0;"
                                            formControlName="totaltallos">
                                        <div *ngIf="submitted && f.totaltallos.errors" class="invalid-feedback">
                                            <div *ngIf="f.totaltallos.errors.required">
                                                {{'Total tallos es requerido' | translate}}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="ui-g-12 ui-md-1">
                                        <label class="lbl">{{'Precio' | translate}}</label>
                                        <input type="text" pInputText placeholder="0" pKeyFilter="money"
                                            class="form-control"
                                            [ngClass]="{ 'is-invalid': submitted && f.precio.errors }"
                                            formControlName="precio" formControlName="precio">
                                        <div *ngIf="submitted && f.precio.errors" class="invalid-feedback">
                                            <div *ngIf="f.precio.errors.required">{{'Precio es requerido' | translate}}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="ui-g-12 ui-md-12">
                                        <button pButton type="button" icon="pi pi-check"
                                            class="ui-button-success in_btn_table" [label]="'Guardar' | translate"
                                            (click)="continue()"></button>
                                    </div>
                                    <div class="ui-g-12 ui-md-12">
                                        <button pButton type="button" icon="pi pi-times"
                                            [label]="'Cancelar' | translate"
                                            class="ui-button-lg ui-button-warning in_btn_table"
                                            (click)="cancelrow()"></button>
                                    </div>

                                </div>
                            </div>
                        </form>
                        <p-table [value]="items" class="p-datatable-responsive-demo">
                            <ng-template pTemplate="caption">
                                <div class="p-d-flex p-ai-center p-jc-between">
                                    <button pButton type="button" *ngIf="items.length >= 1" class="ui-button-success"
                                        style="height: 30px; border-radius: 5px;" (click)="viewXlsx()">
                                        <i class="pi pi-download" style="font-size: 1.7rem"></i>
                                    </button> &nbsp;
                                    {{'Items de la factura'| translate}} [ {{items.length}} ]
                                </div>
                            </ng-template>
                            <ng-template pTemplate="header">
                                <tr>
                                    <th style="width: 8em;"></th>
                                    <th>{{'Caja' | translate}}</th>
                                    <th>{{'Pieza' | translate}}</th>
                                    <th style="width: 35em;">{{'Finca' | translate}}</th>
                                    <th style="width: 15em;">{{'Variedad' | translate}}</th>
                                    <th>{{'BCH' | translate}}</th>
                                    <th>{{'CM' | translate}}</th>
                                    <th>{{'No BCH' | translate}}</th>
                                    <th>{{'No Tallos' | translate}}</th>
                                    <th>{{'Precio' | translate}}</th>
                                    <th>{{'Total' | translate}}</th>

                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-rowData let-item>
                                <tr style="background-color: white;">
                                    <td><span class="p-column-title">
                                            <button pButton type="button" class="ui-button-danger" icon="pi pi-trash"
                                                (click)="deleteItem(item)"></button>
                                        </span>
                                        &nbsp;
                                        <span class="p-column-title">
                                            <button pButton type="button" class="ui-button-warning" icon="pi pi-pencil"
                                                (click)="editItem(item)"></button>
                                        </span>
                                    </td>
                                    <td><span class="p-column-title">{{item.caja==null?'':item.caja.code}}</span></td>
                                    <td><span class="p-column-title">{{item.pieza==null || item.pieza==
                                            0?'':item.pieza}}</span></td>
                                    <td style="width: 10em;"><span class="p-column-title">{{item.finca.nombres |
                                            titlecase}} - (
                                            {{item.finca.razosoci}}) </span></td>
                                    <td><span class="p-column-title">{{item.flor.flor== null? (item.flor.nombre |
                                            titlecase) : (item.flor.flor.nombre | titlecase) }}</span>
                                    </td>
                                    <td><span class="p-column-title">{{item.stems }}</span></td>
                                    <td><span class="p-column-title">{{item.tamanio.code }}</span></td>
                                    <td><span class="p-column-title">{{item.numtallos }}</span></td>
                                    <td><span class="p-column-title">{{item.totaltallos }}</span></td>
                                    <td><span class="p-column-title">{{item.price | currency}}</span></td>
                                    <td><span class="p-column-title">{{item.subtotal | currency}}</span></td>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="footer">
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td><span class="total_valor">{{factura.boxes}}</span></td>
                                    <td colspan="5" class="total_table">{{'Totales' | translate}}</td>
                                    <td><span class="total_valor">{{factura.tallos}}</span></td>
                                    <td></td>
                                    <td><span class="total_valor">{{factura.total | currency: 'USD'}}</span></td>
                                </tr>
                            </ng-template>
                        </p-table>
                        <br>
                        <div class="ui-g form-group ui-fluid">
                            <div class="ui-grid-col-7"></div>
                            <!--<div class="ui-grid-col-2">
                                <button pButton icon="pi pi-save" class="ui-button-warning btn_enviar"
                                    (click)="continue()" type="button" [label]="'Salvar' | translate"
                                    [disabled]="items.length <= 0"></button>
                            </div>
                            <div class="ui-grid-col-1"></div>-->
                            <div class="ui-grid-col-2">
                                <button pButton icon="pi pi-save" class="ui-button-success btn_enviar"
                                    (click)="continue()" type="button" [label]="'Guardar' | translate"
                                    [disabled]="items.length <= 0"></button>
                            </div>
                            <div class="ui-grid-col-1"></div>
                            <div class="ui-grid-col-2">
                                <button pButton icon="pi pi-arrow-right" class="ui-button-help btn_enviar"
                                    [label]="'Finalizar' | translate" [disabled]="items.length <= 0"></button>
                            </div>
                        </div>
                    </div>
                    <!--Upload file-->
                    <div *ngIf="automatico">
                        <div class="uploadfilecontainer" (click)="fileInput.click()" appDragdrop
                            (onFileDropped)="uploadFile($event)" *ngIf="files.length <= 0">
                            <input hidden type="file" #fileInput (change)="uploadFile($event)" accept=".xlsx, .xls">
                        </div>
                        <div class="files-list" *ngFor="let file of files;let i= index">
                            <p> {{ file.name }} </p>
                            <button class="delete-file" (click)="deleteAttachment(i)">
                                <img src="../../../../assets/images/recicler.jpeg">
                            </button>
                        </div>
                        <div class="error" *ngIf="validate">
                            {{'El archivo tiene errores validar con el administrador'| translate}}</div>
                        <p class="detalle" *ngIf="validate"><i class="pi pi-bell"></i>&nbsp;{{smsvalidate}}</p>
                        <br>
                        <p-table [value]="items" *ngIf="files.length > 0" class="p-datatable-responsive-demo">
                            <ng-template pTemplate="caption">
                                <div class="p-d-flex p-ai-center p-jc-between">
                                    <button pButton type="button" *ngIf="items.length >= 1" class="ui-button-success"
                                        style="height: 30px; border-radius: 5px;" (click)="viewXlsx()">
                                        <i class="pi pi-download" style="font-size: 1.7rem"></i>
                                    </button> &nbsp;
                                    {{'Items de la factura' | translate}} [{{items.length}}]
                                </div>
                            </ng-template>
                            <ng-template pTemplate="header">
                                <tr>
                                    <th>{{'Caja' | translate}}</th>
                                    <th>{{'Pieza' | translate}}</th>
                                    <th style="width: 35em;">{{'Finca' | translate}}</th>
                                    <th style="width: 15em;">{{'Variedad' | translate}}</th>
                                    <th>{{'BCH' | translate}}</th>
                                    <th>{{'CM' | translate}}</th>
                                    <th>{{'No BCH' | translate}}</th>
                                    <th>{{'No Tallos' | translate}}</th>
                                    <th>{{'Precio' | translate}}</th>
                                    <th>{{'Total'| translate}}</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-item>
                                <tr style="background-color: white;">
                                    <td style="text-align: center;">{{item.caja==undefined?'':item.caja.name}}</td>
                                    <td><span class="p-column-title">{{item.pieza==null?'':item.pieza}}</span></td>
                                    <td><span class="p-column-title">{{item.finca.nombres | titlecase}} - (
                                            {{item.finca.razosoci | titlecase}} ) </span></td>
                                    <td>{{item.flor.nombre | titlecase }}</td>
                                    <td>{{item.stems }}</td>
                                    <td>{{item.tamanio.code }}</td>
                                    <td>{{item.numtallos }}</td>
                                    <td>{{item.totaltallos }}</td>
                                    <td>{{item.price | currency}}</td>
                                    <td>{{item.subtotal | currency}}</td>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="footer">
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td><span class="total_valor">{{factura.boxes}}</span></td>
                                    <td colspan="4" class="total_table">{{'Totales' | translate}}</td>
                                    <td><span class="total_valor">{{factura.tallos}}</span></td>
                                    <td></td>
                                    <td><span class="total_valor">{{factura.total | currency: 'USD'}}</span></td>
                                </tr>
                            </ng-template>
                        </p-table>
                        <br>
                        <div class="ui-g form-group ui-fluid" *ngIf="items.length > 0">
                            <div class="ui-grid-col-7"></div>
                            <div class="ui-grid-col-2">
                                <button pButton icon="pi pi-save" class="ui-button-success btn_enviar" type="button"
                                    (click)="continue()" [label]="'Guardar' | translate"
                                    [disabled]="items.length <= 0"></button>
                            </div>
                            <div class="ui-grid-col-1"></div>
                            <div class="ui-grid-col-2">
                                <button pButton type="button" icon="pi pi-arrow-right" class="ui-button-help btn_enviar"
                                    [disabled]="validate" [label]="'Finalizar' | translate" type="submit"></button>
                            </div>
                        </div>
                    </div>

                    <!--Table responsive-->
                    <div class="ui-grid ui-grid-responsive ui-fluid" class="data" *ngFor="let item of items">
                        <div class="card card-w-title">
                            <div class="ui-grid-row">
                                <div class="ui-grid-col-12">
                                    <button pButton type="button" class="ui-button-danger btn_card" icon="pi pi-trash"
                                        (click)="deleteItem(item)"></button>
                                </div>
                            </div>

                            <div class="ui-grid-row">
                                <div class="ui-grid-col-4"><span class="label">{{'Caja' | translate}}</span></div>
                                <div class="ui-grid-col-8"><span
                                        class="value">{{item.caja==null?'HB':item.caja.code}}</span></div>
                            </div>

                            <div class="ui-grid-row">
                                <div class="ui-grid-col-4"><span class="label">{{'Finca' | translate}}</span></div>
                                <div class="ui-grid-col-8"><span class="value">{{item.finca.nombres}}</span></div>
                            </div>

                            <div class="ui-grid-row">
                                <div class="ui-grid-col-4"><span class="label">{{'Variedad' | translate}}</span></div>
                                <div class="ui-grid-col-8"><span class="value">{{item.flor.nombre}}</span></div>
                            </div>

                            <div class="ui-grid-row">
                                <div class="ui-grid-col-4"><span class="label">{{'Tallos' | translate}}</span></div>
                                <div class="ui-grid-col-8"><span class="value">{{item.stems}}</span></div>
                            </div>

                            <div class="ui-grid-row">
                                <div class="ui-grid-col-4"><span class="label">{{'Tamaño' | translate}}</span></div>
                                <div class="ui-grid-col-8"><span class="value">{{item.tamanio.code}}</span></div>
                            </div>

                            <div class="ui-grid-row">
                                <div class="ui-grid-col-4"><span class="label">{{'N°. de tallos' | translate}}</span>
                                </div>
                                <div class="ui-grid-col-8"><span class="value">{{item.tallos}}</span></div>
                            </div>

                            <div class="ui-grid-row">
                                <div class="ui-grid-col-4"><span class="label">{{'Total tallos' | translate}}</span>
                                </div>
                                <div class="ui-grid-col-8"><span class="value">{{item.totaltallos}}</span></div>
                            </div>

                            <div class="ui-grid-row">
                                <div class="ui-grid-col-4"><span class="label">{{'Precio' | translate}}</span></div>
                                <div class="ui-grid-col-8"><span class="value">{{item.price | currency}}</span></div>
                            </div>

                            <div class="ui-grid-row">
                                <div class="ui-grid-col-4"><span class="label">{{'Total' | translate}}</span></div>
                                <div class="ui-grid-col-8"><span class="value">{{item.subtotal | currency}}</span></div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="ui-grid ui-grid-responsive ui-fluid" class="resumen">
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-4" style="text-align: right;font-weight: bold;font-size: 20px;">
                                {{'Total' | translate}}
                            </div>
                            <div class="ui-grid-col-8" style="text-align: center;"><span
                                    class="total_valor">{{factura?.total | currency: 'USD'}}</span></div>
                        </div>
                        <br>
                        <div class="ui-grid ui-grid-responsive ui-fluid">
                            <div class="ui-grid-row">
                                <div class="ui-grid-col-10"></div>
                                <div class="ui-grid-col-2">
                                    <button pButton icon="pi pi-arrow-right"
                                        class="ui-button-help btn_enviar_responsive"
                                        [label]="'Enviar' | translate"></button>
                                </div>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>

        <!--Confirmar cuadro de dialogo confirm-->
        <p-confirmDialog #cd header="Confirmation" icon="pi pi-exclamation-triangle">
            <p-footer>
                <button type="button" pButton icon="pi pi-times" class="ui-button-danger" [label]="'No' | translate"
                    (click)="cd.reject()"></button>
                <button type="button" pButton icon="pi pi-check" class="ui-button-success" [label]="'Si' | translate"
                    (click)="cd.accept()"></button>
            </p-footer>
        </p-confirmDialog>

        <p-dialog [header]="'Factura correcta' | translate" [(visible)]="dialogVisible" [style]="{width: '50vw'}"
            [baseZIndex]="10000" [modal]="true" [resizable]="true">
            <iframe [src]="url | safe" *ngIf="dialogVisible" width="100%" height="500px" style="border-width: 0PX;">
            </iframe>
        </p-dialog>

        <p-dialog [header]="'Editar item de factura' | translate" [(visible)]="dialogVisibleEdit"
            [style]="{width: '80vw'}" [baseZIndex]="10000" [modal]="true" [resizable]="true">
            <form [formGroup]="itemFormEdit" (ngSubmit)="modificar()">
                <div class="ui-g form-group ui-fluid">
                    <div class="card card-w-title">
                        <div class="ui-g-12 ui-md-2">
                            <label class="lbl">{{'Caja' | translate}}</label>
                            <p-dropdown [options]="cajas" optionLabel="name" formControlName="caja"
                                [placeholder]="'Seleccione' | translate"
                                [ngClass]="{ 'is-invalid': submittedFacturaEdit && fv.caja.errors }"
                                class="form-control" formControlName="caja"></p-dropdown>
                            <div *ngIf="submittedFacturaEdit && fv.caja.errors" class="invalid-feedback">
                                <div *ngIf="fv.caja.errors.required">{{'Caja es requerido' | translate}}
                                </div>
                            </div>
                        </div>
                        <div class="ui-g-12 ui-md-2">
                            <label class="lbl">{{'Pieza' | translate}}</label>
                            <input type="text" pInputText formControlName="pieza" pKeyFilter="int" placeholder="0"
                                [ngClass]="{ 'is-invalid': submittedFacturaEdit && fv.pieza.errors }"
                                class="form-control">
                            <div *ngIf="submittedFacturaEdit && fv.pieza.errors" class="invalid-feedback">
                                <div *ngIf="fv.pieza.errors.required">{{'Pieza es requerido' | translate}}
                                </div>
                            </div>
                        </div>
                        <div class="ui-g-12 ui-md-4">
                            <label class="lbl">{{'Finca' | translate}}</label>
                            <p-dropdown [options]="fincas" optionLabel="nombres" formControlName="finca" [filter]="true"
                                [placeholder]="'Seleccione' | translate"
                                [ngClass]="{ 'is-invalid': submittedFacturaEdit && fv.finca.errors }"
                                class="form-control"></p-dropdown>
                            <div *ngIf="submittedFacturaEdit && fv.finca.errors" class="invalid-feedback">
                                <div *ngIf="fv.finca.errors.required">{{'Finca es requerido' | translate}}
                                </div>
                            </div>
                        </div>
                        <div class="ui-g-12 ui-md-4">
                            <label class="lbl">{{'Variedad' | translate}}</label>
                            <p-dropdown [options]="flores" optionLabel="flor.nombre" formControlName="flores"
                                [filter]="true" [placeholder]="'Seleccione' | translate"
                                [ngClass]="{ 'is-invalid': submittedFacturaEdit && fv.flores.errors }"
                                class="form-control">
                            </p-dropdown>
                            <div *ngIf="submittedFacturaEdit && fv.flores.errors" class="invalid-feedback">
                                <div *ngIf="fv.flores.errors.required">{{'Variedad es requerido' | translate}}
                                </div>
                            </div>
                        </div>

                        <div class="ui-g-12 ui-md-2">
                            <label class="lbl">{{'BCH' | translate}}</label>
                            <input type="text" pInputText formControlName="stem" pKeyFilter="int"
                                [ngClass]="{ 'is-invalid': submittedFacturaEdit && fv.stem.errors }"
                                class="form-control">
                            <div *ngIf="submittedFacturaEdit && fv.stem.errors" class="invalid-feedback">
                                <div *ngIf="fv.stem.errors.required">{{'CM es requerido' | translate}}
                                </div>
                            </div>
                        </div>

                        <div class="ui-g-12 ui-md-2">
                            <label class="lbl">{{'CM' | translate}}</label>
                            <p-dropdown [options]="tamanios" optionLabel="name" formControlName="tamanio"
                                [filter]="true" [placeholder]="'Seleccione' | translate"
                                [ngClass]="{ 'is-invalid': submittedFacturaEdit && fv.tamanio.errors }"
                                class="form-control">
                            </p-dropdown>
                            <div *ngIf="submittedFacturaEdit && fv.tamanio.errors" class="invalid-feedback">
                                <div *ngIf="fv.tamanio.errors.required">{{'CM es requerido' | translate}}
                                </div>
                            </div>
                        </div>

                        <div class="ui-g-12 ui-md-2">
                            <label class="lbl">{{'No BCH' | translate}}</label>
                            <input type="text" pInputText formControlName="tallos" (focusout)="calculateEdit()"
                                [ngClass]="{ 'is-invalid': submittedFacturaEdit && fv.tallos.errors }"
                                class="form-control" pKeyFilter="int">
                            <div *ngIf="submittedFacturaEdit && fv.tallos.errors" class="invalid-feedback">
                                <div *ngIf="fv.tallos.errors.required">{{'No BCH es requerido' | translate}}
                                </div>
                            </div>
                        </div>

                        <div class="ui-g-12 ui-md-2">
                            <label class="lbl" style="color: #ff4456;font-weight: bold;">{{'No Tallos' |
                                translate}}</label>
                            <input type="text" pInputText pKeyFilter="int" placeholder="0"
                                pTooltip="Este valor se auto calculara" tooltipPosition="bottom"
                                style="font-size: 14px;font-weight: bold;background-color: #FFFAF0;"
                                formControlName="totaltallos">
                        </div>

                        <div class="ui-g-12 ui-md-2">
                            <label class="lbl">{{'Precio' | translate}}</label>
                            <input type="text" pInputText formControlName="precio"
                                [ngClass]="{ 'is-invalid': submittedFacturaEdit && fv.precio.errors }"
                                class="form-control">
                            <div *ngIf="submittedFacturaEdit && fv.precio.errors" class="invalid-feedback">
                                <div *ngIf="fv.precio.errors.required">{{'Precio es requerido' | translate}}
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="ui-g-12 ui-md-12">
                        <div class="ui-g-12 ui-md-10"></div>
                        <div class="ui-g-12 ui-md-2">
                            <button type="button" pButton icon="pi pi-check" class="ui-button-success"
                                [label]="'Modificar' | translate" (click)="modificar()"></button>
                        </div>
                    </div>
                </div>
            </form>
        </p-dialog>

        <!--Select template-->
        <p-dialog [header]="'Seleccionar template' | translate" [(visible)]="dialogViewTemplates"
            [style]="{width: '22vw'}" [baseZIndex]="10000" [modal]="true" [resizable]="true">

            <div class="ui-g form-group ui-fluid">
                <div class="card card-w-title">
                    <div class="ui-g-12 ui-md-12">
                        <div class="ui-g-12 ui-md-12">
                            <label class="lbl">{{'Templates' | translate}}</label>
                            <br>
                            <div *ngFor="let template of templates">
                                <p-radioButton name="groupname" [label]="template?.cabecera.nombre" [value]="template"
                                    [(ngModel)]="selectedTemplate"></p-radioButton>
                            </div>
                        </div>
                        <hr>
                        <div class="ui-g-12 ui-md-12">
                            <button type="button" pButton icon="pi pi-check" class="ui-button-primary"
                                [label]="'Seleccionar' | translate" (click)="choose()"></button>
                        </div>
                    </div>

                </div>

            </div>
        </p-dialog>
    </div>

</div>