<div class="ui-g ui-fluid">
    <div class="ui-g-12 ui-lg-6">
        <div class="card card-w-title">
            <h1>InputText1</h1>
            <div class="ui-g form-group">
                <div class="ui-g-12 ui-md-4">
                    <input type="text" pInputText placeholder="Name">
                </div>
                <div class="ui-g-12 ui-md-4">
                    <input type="text" pInputText placeholder="Email">
                </div>
                <div class="ui-g-12 ui-md-4">
                    <input type="text" pInputText placeholder="Phone">
                </div>
                <div class="ui-g-12 ui-md-4">
                    <input type="text" pInputText placeholder="Disabled" disabled="disabled">
                </div>
                <div class="ui-g-12 ui-md-4">
                    <input type="text" pInputText readonly="readonly" placeholder="Readonly">
                </div>
                <div class="ui-g-12 ui-md-4">
                    <input type="text" pInputText class="ng-dirty ng-invalid" placeholder="Invalid">
                </div>
            </div>

        </div>

        <div class="card">
            <h1 class="centerText">Pie Chart 2</h1>

        </div>

        <div class="card">
            <h1 class="centerText">Polar Area Chart 3</h1>

        </div>
    </div>
    <div class="ui-g-12 ui-lg-6">
        <div class="card">
            <h1 class="centerText">Bar Chart 4</h1>

        </div>

        <div class="card">
            <h1 class="centerText">Doughnut Chart 5</h1>

        </div>

        <div class="card">
            <h1 class="centerText">Radar Chart 6</h1>

    </div>




</div>
