
.btn_enviar_responsive {
    display: none;
}

.resumen {
    display: none;
}

.btn_enviar {
    display: inline;
    color: #ffffff;
    background: #9c27b0;
    border: 1px solid #9c27b0;
    font-size: 18px;
    font-weight: bold;
}

.total_table {
    text-align: center;
    font-size: 18px;
    font-weight: bold !important;
}

.total_valor {
    font-weight: bold;
    font-size: 18px;
}

.data{
    display: none;
}

.p-datatable-responsive-demo {
    display: inline;
}


.lbl {
    font-weight: bold;
    text-align: center;
    font-size: 15px;
}

body .ui-table .ui-table-caption, body .ui-table .ui-table-summary{
    padding: 10px !important;
}

.label{
    font-size: 15px;
    font-weight: bold;
}

.btn_card {
    float: right;
    margin-right: -16px;
    margin-top: -16px;
}


.dialog{
    width: '60vw';
    height: '500px';
}

.documentos{
    display: none;
}

.tbl_responsive{
    display: none;
}

.btn_table {
    height: 34px;
    width: 32px !important;    
    border-radius: 5px;
}

.btn_table .icon{
    padding: 5px;
    font-size: 22px;
}


@media only screen and (max-width: 40rem) {

    .p-datatable-responsive-demo {
        display: none;
    }

    .resumen {
        display: inline;
    }

    .btn_enviar {
        display: none;
    }

    .btn_enviar_responsive {
        display: inline;
        color: #ffffff;
        background: #9c27b0;
        border: 1px solid #9c27b0;
        font-size: 18px;
        font-weight: bold;
        position: fixed;
        bottom: 0vw;
        left: 0;
        z-index: 1;
    } 

    .data{
        display: inline;
    }

    .dialog{
        width: '90vw';
        height: '300px';
    }

    .btn_card {
        float: right;
        margin-right: -12px;
        margin-top: -12px;
    }

    .documentos{
        display: inline;
    }

    .header{
        font-size: 18px;
        text-align: center;
        font-weight: bold;
        background-color: #dddddd;
        padding-top: 8px;
        padding-bottom: 8px;
    }

    .target{
        padding: 12px;
        border: 1px solid #dddddd;
    }

    .footer{
        font-size: 14px;
        text-align: center;
        font-weight: bold;
        background-color: #dddddd;
        padding-top: 8px;
        padding-bottom: 8px;
    }

    .total_value{
        font-size: 14px;
        font-weight: bold;
    }

    .tbl_responsive{
        display: inline;
    }
}