<div class="ui-g">
    <div class="ui-g-12">
        <div class="card card-w-title">
            <h1>{{'Transacciones por cliente' | translate}}</h1>
            <p-toast></p-toast>            
            <p-accordion>
                <p-accordionTab [header]="'Datos de la búsqueda' | translate" [selected]="true">
                    <div class="ui-g form-group ui-fluid">
                        <div class="ui-g-12 ui-md-2">
                            <label for="client" class="lbl">{{'Cliente' | translate}}</label>
                            <p-dropdown [options]="clientes" optionLabel="nombres" [(ngModel)]="selectClient"
                                *ngIf="typerol=='ADM' || typerol=='FAC'" class="form-control" [filter]="true"
                                [placeholder]="'Seleccione' | translate">
                            </p-dropdown>
                            <input type="text" pInputText [value]="selectClient?.nombres" readonly
                                *ngIf="typerol!='ADM' &&  typerol!='FAC'" />

                        </div>
                        <div class="ui-g-12 ui-md-2" *ngIf="typerol=='ADM'">
                            <label class="lbl">{{'Balance' | translate }}</label>
                            <input type="text" pInputText [value]="selectClient?.balance | currency" readonly
                                placeholder="$0.00" />

                        </div>

                        <div class="ui-g-12 ui-md-2" *ngIf="typerol=='ADM'">
                            <label class="lbl">{{'Débito' | translate }}</label>
                            <input type="text" pInputText [value]="selectClient?.debito | currency" readonly
                                placeholder="$0.00" />
                        </div>

                        <div class="ui-g-12 ui-md-2" *ngIf="typerol=='ADM'">
                            <label class="lbl">{{'Crédito' | translate }}</label>
                            <input type="text" pInputText [value]="selectClient?.credito | currency" readonly
                                placeholder="$0.00" />
                        </div>

                        <div class="ui-g-12 ui-md-2">
                            <label class="lbl">{{'Fecha inicial' | translate }}</label>
                            <p-calendar [(ngModel)]="dateIni" [showIcon]="true" [readonlyInput]="true"
                                [showTransitionOptions]="'0ms'" [hideTransitionOptions]="'0ms'"></p-calendar>
                        </div>

                        <div class="ui-g-12 ui-md-2">
                            <label class="lbl">{{'Fecha final' | translate }}</label>
                            <p-calendar [(ngModel)]="dateFin" [showIcon]="true" [readonlyInput]="true"
                                [showTransitionOptions]="'0ms'" [hideTransitionOptions]="'0ms'"></p-calendar>
                        </div>

                    </div>
                </p-accordionTab>
            </p-accordion>
            <div class="ui-g form-group ui-fluid">
                <div class="ui-g-12 ui-md-2">
                    <button pButton type="button" [label]="'Consultar' | translate" icon="fa fa-search" iconPos="left"
                        class="ui-button-success" (click)="consultar()"></button>
                </div>
                <div class="ui-g-12 ui-md-2">
                    <button pButton type="button" [label]="'Descargar' | translate" icon="fa fa-download" iconPos="left"
                        class="ui-button-info" (click)="descargar()" [disabled]="invoices.length <= 0"></button>
                </div>
            </div>
            <br>
            <p-table #dt [value]="invoices" class="p-datatable-responsive-demo" [paginator]="true" [rows]="10"
                [showCurrentPageReport]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [rowsPerPageOptions]="[10,25,50,100]">
                <ng-template pTemplate="caption" class="head_table" style="padding: 2px !important">
                    <div class="ui-g form-group ui-fluid">
                        <div class="ui-g-12 ui-md-11">
                            <div style="margin-top: 5px;">
                                {{'Número de documentos' | translate }} [ {{invoices.length}} ]
                            </div>
                        </div>
                        <!--<div class="ui-g-12 ui-md-1">
                            <button type="button" pButton pRipple (click)="exportExcel()"
                                [disabled]="documentos.length <= 0" class="ui-button-success btn_table">
                                <i class="fa fa-file-excel-o icon"></i>
                            </button>&nbsp;
                            <button type="button" pButton pRipple [disabled]="documentos.length <= 0"
                                class="ui-button-danger btn_table" (click)="exportPdf()">
                                <i class="fa fa-file-pdf-o icon"></i>
                            </button>
                        </div>-->
                    </div>
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th style="width: 5em;"></th>
                        <th>{{'Fecha' | translate }}</th>
                        <th>{{'Monto' | translate}}</th>
                        <th>{{'N° de documento' | translate}}</th>
                        <th>{{'Tipo transacción' | translate}}</th>
                    </tr>
                    <tr>
                        <th>
                        </th>
                        <th>
                        </th>
                        <th>
                            <div class="ui-fluid">
                                <input pInputText type="text"
                                    (input)="dt.filter($event.target.value, 'monto', 'contains')"
                                    [placeholder]="'Buscar' | translate" class="p-column-filter">
                            </div>
                        </th>
                        <th>
                            <div class="ui-fluid">
                                <input pInputText type="text"
                                    (input)="dt.filter($event.target.value, 'numedocu', 'contains')"
                                    [placeholder]="'Buscar' | translate" class="p-column-filter">
                            </div>
                        </th>

                        <th>
                            <div class="ui-fluid">
                                <input pInputText type="text"
                                    (input)="dt.filter($event.target.value, 'tipo', 'contains')"
                                    [placeholder]="'Buscar' | translate" class="p-column-filter">
                            </div>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-item>
                    <tr style="background-color: white;">
                        <td>
                            <button type="button" pButton icon="fa fa-eye" (click)="view(item)"
                                style="border-radius: 8px;" class="ui-button-info"></button>
                        </td>
                        <td><span class="p-column-title">{{item.fecha | date :'dd-MMM-yy h:mm:ss'}}</span></td>
                        <td><span class="p-column-title">{{item.monto | currency }}</span></td>
                        <td style="text-align: right;"><span class="p-column-title">{{item.numedocu }}</span>
                        </td>
                        <td style="text-align: right;"><span class="p-column-title">{{item.tipo | titlecase }}</span>
                        </td>
                    </tr>
                </ng-template>
                <!--<ng-template pTemplate="footer">
                    <tr>
                        <td colspan="4" class="total_table">{{'Totales' | translate}}</td>
                        <td style="text-align: right;"><span
                                class="total_valor">{{totaldebito | currency: 'USD'}}</span></td>
                        <td style="text-align: right;"><span
                                class="total_valor">{{totalcredito | currency: 'USD'}}</span></td>
                        <td style="text-align: right;"><span class="total_valor">{{total | currency: 'USD'}}</span></td>
                    </tr>
                </ng-template>-->
            </p-table>
        </div>

        <!--Table responsive-->
        <div class="tbl_responsive">
            <!--<p-accordion *ngIf="invoices.length > 0">
                <p-accordionTab header="Filtros de búsqueda" [selected]="true">
                    <div class="ui-g form-group ui-fluid">
                        <div class="ui-g-12 ui-md-4">
                            <label for="client" class="lbl">{{'Número de documentos' | translate}}</label>
                            <input type="text" pInputText [(ngModel)]="numDocument" />
                        </div>
                        <div class="ui-g-12 ui-md-4">
                            <label for="client" class="lbl">{{'Fecha' | translate}}</label>
                            <p-calendar [showIcon]="true" inputId="icon" [readonlyInput]="true"
                                [showTransitionOptions]="'0ms'" [hideTransitionOptions]="'0ms'"
                                [(ngModel)]="filterMobile"></p-calendar>
                        </div>
                        <div class="ui-g-12 ui-md-4">
                            <button pButton type="button" [label]="'Consultar' | translate" icon="fa fa-search"
                                iconPos="left" class="ui-button-success" (click)="consultarMobile()"></button>
                        </div>
                    </div>
                </p-accordionTab>
            </p-accordion>-->
            <!--<div class="header" *ngIf="invoices.length > 0">
                {{'Total' | translate}} <span>{{total | currency: 'USD'}}</span>
            </div>-->
            <div style="overflow-y: scroll; height: 500px;width: 100%;" *ngIf="invoices.length > 0">
                <div class="ui-grid ui-grid-responsive ui-fluid" class="data" *ngFor="let invoice of invoices">
                    <div class="target">
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-12">
                                <button pButton type="button" class="ui-button-info btn_card" icon="fa fa-eye"
                                    (click)="view(invoice)"></button>
                            </div>
                        </div>

                        <div class="ui-grid-row">
                            <div class="ui-grid-col-6"><span class="label">{{'Fecha' | translate}}</span>
                            </div>
                            <div class="ui-grid-col-6"><span
                                    class="value">{{invoice.fecha | date :'dd-MMM-yy h:mm:ss'}}</span></div>
                        </div>

                        <div class="ui-grid-row">
                            <div class="ui-grid-col-6"><span class="label">{{'Monto' | translate}}</span>
                            </div>
                            <div class="ui-grid-col-6"><span class="value">{{invoice.monto | currency}}</span></div>
                        </div>

                        <div class="ui-grid-row">
                            <div class="ui-grid-col-6"><span class="label">{{'N° de documento' | translate }}</span>
                            </div>
                            <div class="ui-grid-col-6"><span class="value">{{invoice.numedocu}}</span></div>
                        </div>

                        <div class="ui-grid-row">
                            <div class="ui-grid-col-6"><span class="label">{{'Tipo transacción' | translate }}</span>
                            </div>
                            <div class="ui-grid-col-6"><span class="value">{{invoice.tipo}}</span></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer" *ngIf="invoices.length > 0">
                {{ 'Número de registros' | translate }} [<span>{{invoices.length}}</span>]
            </div>
        </div>
        <p-dialog [header]="numedocu" [(visible)]="dialogVisible" [style]="{width: '50vw'}" [baseZIndex]="10000"
            [maximizable]="true" [modal]="true" [resizable]="true">
            <iframe [src]="url | safe" width="100%" height="500px" style="border-width: 0PX;">
            </iframe>
        </p-dialog>
    </div>

</div>