<div class="layout-footer">
    <div class="ui-g">
        <!--<div class="ui-g-12 ui-md-12 ui-lg-2">

        </div>-->
        <div class="ui-g-12 ui-md-12 ui-lg-12">
            <a href="/" class="logo-container">
                <img src="../../../assets/images/logo_footer.png" alt="ecuador-layout" />
                <!--<span class="app-name">AddsoftTech 2020</span>-->
            </a>
        </div>
        <!--<div class="ui-g-12 ui-md-12 ui-lg-1" style="text-align:center">
            <div id="footer-menu">
                <div class="ui-g-12 ui-md-6 ui-lg-3 footer-box">
                    <span>SOCIAL</span> 
                    <a href="#twitter" class="icon-link"><i class="fa fa-twitter icon"></i></a>
                    <a href="#facebook" class="icon-link"><i class="fa fa-facebook icon"></i></a>
                </div>
            </div>
        </div>-->
    </div>
</div>

