<div class="layout-footer">
    <div class="ui-g">
        <div class="ui-g-12 ui-md-12 ui-lg-4 logo-container-outer">
            <a href="/" class="logo-container">
                <img src="assets/layout/images/ecuador-orange-logo.png" alt="ecuador-layout" />
                <span class="app-name">AddsoftTech</span>
            </a>
        </div>
        <div class="ui-g-12 ui-md-12 ui-lg-8" style="text-align:center">
            <div id="footer-menu">
                <div class="ui-g-12 ui-md-6 ui-lg-3 footer-box">
                    <span>SOCIAL</span>
                    <a href="#twitter" class="icon-link"><i class="fa fa-twitter icon"></i></a>
                    <a href="#facebook" class="icon-link"><i class="fa fa-facebook icon"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>

