.subitem{
    margin-left: 15px;
    font-size: 18px;
}

.layout-menu-title{
    font-size: 18px !important;
    font-weight: bold;
    text-align: center;
}
 

.collapsed {
    width: 50px;
    font-size: 18px;
}

.is-active{
    background-color: #4E7487;
    color: white !important;
    font-weight: bold;
}

.no-active{
    background-color: white;
    color: black !important;
}

.active-icon{
    color: white !important;
}

.inactive-icon{
    color: blue !important;
}

.active-item{
    border-color: #059bb4 !important;
    color: #4E7487 !important;
    font-weight: bold;
}

.no-active-item{
    border:none;
}