.subitem{
    margin-left: 15px;
    font-size: 18px;
}

.layout-menu-title{
    font-size: 18px !important;
    font-weight: bold;
    text-align: center;
}


.collapsed {
    width: 50px;
    font-size: 18px;
}