<div class="ui-g">
    <div class="ui-g-12">
        <div class="card no-margin">
            <h1>{{ 'Lista de Flores' | translate }}</h1>
            <p-toast></p-toast>            
            <p-dataView #dv [value]="flowers" [paginator]="true" [rows]="9" filterBy="name"
                [loading]="loading" [lazy]="true"
                [sortField]="sortField"
                [sortOrder]="sortOrder" layout="grid">
                <p-header>
                    <div class="ui-helper-clearfix">
                        <div class="ui-g">
                            <div class="ui-g-12 ui-md-9">
                                <button pButton label="Nuevo" icon="pi pi-plus" class="ui-button-success"
                                        (click)="addFlor()"></button>
                            </div>
                            <div class="ui-g-6 ui-md-3 filter-container">
                                <div style="position:relative">
                                    <div class="ui-inputgroup">
                                        <button type="button" pButton pRipple icon="pi pi-search"></button>
                                        <input type="search" pInputText placeholder="Search by name"
                                            (keyup)="dv.filter($event.target.value)">
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </p-header>
                <ng-template let-flower pTemplate="gridItem">
                    <div class="ui-g-12 ui-md-4">
                        <div class="card">
                            <div class="flower-grid-item-top">
                                <div class="ui-g-12 ui-md-7">
                                </div>
                                <!--<div>
                                        <i class="pi pi-tag product-category-icon"></i>
                                        <span class="product-category">{{flower.name}}</span>
                                    </div>-->
                                <div class="ui-g-12 ui-md-5">
                                    <div [class]="flower.state=='Activo'?'active-badge':'inactive-badge'">
                                        <i class="pi pi-tag flower-category-icon"></i>&nbsp;
                                        <span>{{flower.state}}</span>
                                    </div>
                                </div>

                            </div>
                            <br>
                            <div class="flower-grid-item-content">
                                <div class="galery">
                                    <p-carousel [value]="flower.images">
                                        <ng-template let-image pTemplate="item">
                                            <img [src]="image.atributo" />
                                        </ng-template>
                                    </p-carousel>
                                </div>
                                <div class="flower-name">{{flower.name | titlecase}}</div>
                                <!--<div class="product-description">{{flower.state}}</div>-->
                                <!--<p-rating [ngModel]="product.rating" [readonly]="true" [cancel]="false"></p-rating>-->
                            </div>
                            <div class="flower-grid-item-bottom">
                                <!--<span class="product-price">$56</span>-->
                                <button pButton class="ui-button-warning" icon="fa fa-pencil"
                                    (click)="edit(flower)"></button>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </p-dataView>
        </div>        
    </div>
</div>