form {
    margin-top: -30px;
}

.img {
    height: 75px !important;
    margin-bottom: 20px !important;
}

.p-button {
    margin-right: 0.5rem;
}

.sizes .button {
    margin-bottom: 0.5rem;
    display: block;
}
.sizes .button :last-child {
    margin-bottom: 0;
}

.rigth_reserveds {
    font-size: 12px;
    font-weight: bold;
    color: white;
    position: absolute;
    bottom: 0px;
    margin-bottom: -20px;
    text-align: center;
    left: 0px;
}

@keyframes p-progress-spinner-color {
    100%,
    0% {
        stroke: #d62d20;
    }
    40% {
        stroke: #0057e7;
    }
    66% {
        stroke: #008744;
    }
    80%,
    90% {
        stroke: #ffa700;
    }
}
