<body class="login-body">
    <div class="login-topbar">
        <a href="#" class="logo">
            <span style="color: white;font-weight: bold;font-size: 1.5rem;">CONTROL DE OBRAS</span>
        </a>
    </div>
    <p-progressBar [mode]="estado" [style]="{'height': '6px'}"></p-progressBar>


    <div class="login-image">
        <div class="login-panel">
            <p-toast position="top-right" [baseZIndex]="10000"></p-toast>
            <!--<p-progressSpinner [style]="{width: '50px', height: '50px'}"
                styleClass="custom-spinner" strokeWidth="8" fill="#EEEEEE" animationDuration=".5s"></p-progressSpinner>-->
            <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
                <img src="../../../assets/images/logo_footer.png" alt="rosa-mistica" class="img" />

                <div class="ui-g-12">
                    <div class="input-wrapper">
                        <input type="text" autocomplete="off" placeholder="Username" class="ui-inputtext ui-widget" pInputText formControlName="username">
                    </div>
                </div>
                <div class="ui-g-12">
                    <div class="input-wrapper">
                        <input type="password" autocomplete="off" placeholder="Password" class="ui-inputtext ui-widget" pInputText formControlName="password">
                    </div>
                </div>

                <button pButton pRipple type="submit" label="Entrar" style="width: 50%;" styleClass="ui-button-lg" icon="pi pi-sign-in"></button>

                <div class="ui-g-12" *ngIf="obras.length > 0 ">
                    <div class="input-wrapper">
                        <p-dropdown [options]="obras" optionLabel="obra" placeholder="Seleccione la obra" class="obras" formControlName="obra"></p-dropdown>
                    </div>
                </div>


                <!--<div class="checkbox-container">
                    <div class="remember-me">
                        <input type="checkbox" class="ui-chkbox ui-chkbox-box">
                        <span>Remember me</span>
                    </div>-->
                <!--<button type="submit" [disabled]="!checkoutForm.valid"
                        class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">
                        <span class="ui-button-text ui-c">Login</span>
                    </button>
                    <button pButton pRipple type="button" label="Entrar" class="p-button-outlined p-button-danger p-button" 
                    icon="pi pi-sign-in" ></button>
                </div>-->

                <div class="separator"></div>

                <a routerLink="/forgot" routerLinkActive="active" class="subinfo">
                    <span>Forgot your password?</span>
                </a>
            </form>
            <div class="rigth_reserveds">
                <span>Addsoft-Tech Soluciones TI 2021</span>
            </div>
        </div>
        <!--Footer-->


    </div>


</body>