<div class="ui-g">
    <div class="ui-g-12">
        <div class="card card-w-title">
            <p-toast></p-toast>
            <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="square-jelly-box" [fullScreen]="true">
                <p style="color: white"> Loading... </p>
            </ngx-spinner>
            <div>
                <div class="ui-g form-group ui-fluid">
                    <div>
                        <h1>{{'Inscripciones' | translate }}</h1>
                    </div>
                </div>
                <!--Manual-->
                <div>
                    <p-accordion>
                        <p-accordionTab [header]="'Datos de la prealerta' | translate" [selected]="true">
                            <form [formGroup]="prealertForm" (ngSubmit)="save()">
                                <div class="ui-g form-group ui-fluid">


                                    <div class="ui-g-12 ui-md-2">
                                        <label for="Datos de envío" class="lbl">{{'Fecha de envio' | translate }}
                                        </label>
                                        <p-calendar formControlName="fecha" class="form-control" dateFormat="yy/mm/dd" [readonlyInput]="true" [minDate]="minDateValue" [ngClass]="{ 'is-invalid': submitted && f.fecha.errors }">
                                        </p-calendar>
                                        <div *ngIf="submitted && f.fecha.errors" class="invalid-feedback">
                                            <div *ngIf="f.fecha.errors.required">{{'Fecha es requerido' | translate }}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="ui-g-12 ui-md-3">
                                        <label for="cliente" class="lbl">{{'Cliente' | translate}}</label>
                                        <p-dropdown [options]="clientes" formControlName="cliente" optionLabel="nombres" class="form-control" [filter]="true" placeholder="Seleccione"></p-dropdown>
                                        <div *ngIf="submitted && f.cliente.errors" class="invalid-feedback">
                                            <div *ngIf="f.cliente.errors.required">
                                                {{'Cliente es requerido' | translate}}</div>
                                        </div>
                                    </div>

                                    <div class="ui-g-12 ui-md-2">
                                        <label class="lbl">{{'Finca' | translate }}</label>
                                        <p-dropdown [options]="fincas" formControlName="finca" optionLabel="nombres" [filter]="true" placeholder="Seleccione" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.finca.errors }"></p-dropdown>
                                        <div *ngIf="submitted && f.finca.errors" class="invalid-feedback">
                                            <div *ngIf="f.finca.errors.required">{{'Finca es requerido' | translate }}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="ui-g-12 ui-md-2">
                                        <label class="lbl">{{'Finca propia' | translate }}</label>
                                        <div class="ui-field-checkbox">
                                            <p-checkbox formControlName="fincapropia" binary="true" inputId="binary">
                                            </p-checkbox> &nbsp;
                                            <label for="binary">{{'Rosa Mística' | translate }}</label>
                                        </div>
                                    </div>

                                    <div class="ui-g-12 ui-md-3">
                                        <label for="marca" class="lbl">{{'Marca' | translate}}</label>
                                        <p-dropdown [ngClass]="{ 'is-invalid': submitted && f.marca.errors }" [options]="marks" optionLabel="nombre" class="form-control" formControlName="marca" [filter]="true" placeholder="Seleccione">
                                        </p-dropdown>
                                        <div *ngIf="submitted && f.marca.errors" class="invalid-feedback">
                                            <div *ngIf="f.marca.errors.required">{{'Marca es requerido' | translate}}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="ui-g-12 ui-md-7">

                                        <div class="ui-g-12 ui-md-2">
                                            <label for="hbbq" class="lbl">{{'HB/QB' | translate}}</label>
                                            <input type="text" pInputText formControlName="HBBQ" class="form-control" pKeyFilter="int" placeholder="0">
                                        </div>


                                        <div class="ui-g-12 ui-md-5">
                                            <label for="rosamistica" class="lbl">{{'Variedad' | translate}}</label>
                                            <p-dropdown [options]="flores" formControlName="rosamistica" optionLabel="nombre" [filter]="true" placeholder="Seleccione" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.rosamistica.errors }">
                                            </p-dropdown>
                                            <div *ngIf="submitted && f.rosamistica.errors" class="invalid-feedback">
                                                <div *ngIf="f.rosamistica.errors.required">
                                                    {{'Variedad es requerido' | translate}}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="ui-g-12 ui-md-3">
                                            <label for="tallos" class="lbl">{{'Tallos' | translate}}</label>
                                            <input type="text" pInputText class="form-control" formControlName="tallos" pKeyFilter="int" placeholder="0" [ngClass]="{ 'is-invalid': submitted && f.tallos.errors }">
                                            <div *ngIf="submitted && f.tallos.errors" class="invalid-feedback">
                                                <div *ngIf="f.tallos.errors.required">
                                                    {{'Tallos es requerido' | translate}}</div>
                                            </div>
                                        </div>

                                        <div class="ui-g-12 ui-md-2">
                                            <label for="totaltallos" style="color: #ff4456;font-weight: bold;" class="lbl">{{'T. Tallos' | translate}}</label>
                                            <input type="text" pInputText class="form-control" formControlName="totaltallos" pKeyFilter="int" placeholder="0" readonly pTooltip="Este valor se auto calculara" tooltipPosition="bottom" style="font-size: 14px;font-weight: bold;text-align: center;background-color: #FFFAF0;"
                                                [ngClass]="{ 'is-invalid': submitted && f.totaltallos.errors }">
                                            <div *ngIf="submitted && f.totaltallos.errors" class="invalid-feedback">
                                                <div *ngIf="f.totaltallos.errors.required">
                                                    {{'Total tallos es requerido' | translate}}</div>
                                            </div>
                                        </div>

                                        <div class="ui-g-12 ui-md-6">
                                            <label for="carga" class="lbl">{{'Empresa carga' | translate }}</label>
                                            <p-dropdown [options]="deliveries" formControlName="carga" optionLabel="nombres" [filter]="true" placeholder="Seleccione" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.carga.errors }"></p-dropdown>
                                            <div *ngIf="submitted && f.carga.errors" class="invalid-feedback">
                                                <div *ngIf="f.carga.errors.required">
                                                    {{'Empresa carga es requerido' | translate}}</div>
                                            </div>
                                        </div>


                                        <div class="ui-g-12 ui-md-6">
                                            <label class="lbl">{{'Estado' | translate}}</label>
                                            <p-dropdown placeholder="Seleccione" class="form-control" optionLabel="nombre" formControlName="estado" [ngClass]="{ 'is-invalid': submitted && f.estado.errors }">
                                            </p-dropdown>
                                            <div *ngIf="submitted && f.estado.errors" class="invalid-feedback">
                                                <div *ngIf="f.estado.errors.required">
                                                    {{'Estado es requerido' | translate}}</div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="ui-g-12 ui-md-5">
                                        <p-fieldset legend="Valores">
                                            <div class="ui-g-12 ui-md-12">

                                                <div class="ui-g-12 ui-md-3">
                                                    <label for="tamanio" class="lbl">{{'Tamaño' | translate}}</label>
                                                    <p-dropdown [options]="tamanios" formControlName="tamanio" optionLabel="name" [filter]="true" class="form-control" placeholder="Seleccione">
                                                    </p-dropdown>
                                                </div>

                                                <div class="ui-g-12 ui-md-4">
                                                    <label class="lbl">{{'Precio compra' | translate}}</label>
                                                    <input type="text" pInputText class="form-control" formControlName="preciocomp" pKeyFilter="pnum" placeholder="$0.00">
                                                </div>

                                                <div class="ui-g-12 ui-md-3">
                                                    <label class="lbl">{{'Precio venta' | translate }}</label>
                                                    <input type="text" pInputText pKeyFilter="pnum" class="form-control" placeholder="$0.00" formControlName="preciovent">

                                                </div>

                                                <div class="ui-g-12 ui-md-2" style="text-align: center;">
                                                    <br>
                                                    <button pButton type="button" style="width: 50%;" label="+" (click)="add()"></button>
                                                </div>
                                                <div class="ui-g-12 ui-md-12" style="color: #ff4456;font-weight: bold;">
                                                    {{'Falta agregar campos' | translate }}
                                                </div>
                                            </div>



                                        </p-fieldset>
                                    </div>


                                    <div class="ui-g-12 ui-md-12">
                                        <div class="ui-g-12 ui-md-10"></div>
                                        <!--<div class="ui-g-12 ui-md-3">
                                            <div class="ui-field-checkbox">
                                                <label class="lbl">{{'Seguir usando mismos datos' | translate }}</label>
                                                &nbsp;
                                                <p-checkbox formControlName="repeat" binary="true"></p-checkbox>
                                            </div>
                                        </div>-->
                                        <div class="ui-g-12 ui-md-2">
                                            <button pButton icon="pi pi-plus" class="ui-button-primary ouput_btn_table" [label]="'Agregar' | translate"></button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </p-accordionTab>
                    </p-accordion>
                </div>
                <br>
                <div class="ui-g form-group ui-fluid">
                    <div class="ui-grid-col-7"></div>
                    <div class="ui-grid-col-2">
                        <button pButton type="button" icon="pi pi-save" class="ui-button-success btn_enviar" label="Guardar"></button>
                    </div>
                    <div class="ui-grid-col-1"></div>
                    <div class="ui-grid-col-2">
                        <button pButton type="button" icon="pi pi-arrow-right" class="ui-button-help btn_enviar" label="Finalizar" (click)="presend()"></button>
                    </div>
                </div>
            </div>
        </div>

        <!--Confirmar cuadro de dialogo confirm-->
        <p-confirmDialog #cd header="Confirmation" icon="pi pi-exclamation-triangle">
            <p-footer>
                <button type="button" pButton icon="pi pi-times" class="ui-button-danger" [label]="'No' | translate" (click)="cd.reject()"></button>
                <button type="button" pButton icon="pi pi-check" class="ui-button-success" [label]="'Yes' | translate" (click)="cd.accept()"></button>
            </p-footer>
        </p-confirmDialog>
        <!--Dialog properties-->
        <p-dialog [(visible)]="dialogVisible" [style]="{width: '50vw'}" [baseZIndex]="10000" [maximizable]="true" [modal]="true" [resizable]="true">
            <p-header>
                <span><i class="pi pi-paperclip" style="font-size: 1rem"></i>&nbsp;{{'Resumen de la incsripción' |
                    translate}}</span>
            </p-header>
            <div class="ui-g form-group ui-fluid">

            </div>
            <p-footer>
                <button type="button" pButton icon="pi pi-check" class="ui-button-success" [label]="'Listo' | translate" (click)="dialogVisible=false"></button>
            </p-footer>
        </p-dialog>


    </div>

</div>