<div class="ui-g">
    <div class="ui-g-12">
        <div class="card card-w-title">
            <p-toast></p-toast>
            <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="square-jelly-box"
                [fullScreen]="true">
                <p style="color: white"> Loading... </p>
            </ngx-spinner>
            <div *ngIf="prealertsdraft.length > 0 && step==1">
                <h1>{{'Borradores de prealerta' | translate }}</h1>
                <p-table [value]="prealertsdraft" class="p-datatable-responsive-demo">
                    <ng-template pTemplate="caption">
                        <div class="p-d-flex p-ai-center p-jc-between">
                            {{'Prealertas de borrador'| translate}} [ {{prealertsdraft.length}} ]
                        </div>
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr>
                            <th style="width: 15em;"></th>
                            <th style="width: 25em;">{{'Id prealerta' | translate}}</th>
                            <th>{{'Fecha' | translate}}</th>
                            <th>{{'Clientes' | translate}}</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let-item>
                        <tr style="background-color: white;">
                            <td><span class="p-column-title">
                                    <button pButton type="button" class="ui-button-warning" (click)="edit(item)"
                                        style="height: 30px; border-radius: 5px;">
                                        <i class="pi pi-pencil" style="font-size: 1.7rem"></i>
                                    </button>
                                    &nbsp;
                                    <button pButton type="button" class="ui-button-success" (click)="viewdraft(item)"
                                        style="height: 30px; border-radius: 5px;">
                                        <i class="pi pi-download" style="font-size: 1.7rem"></i>
                                    </button>
                                    &nbsp;
                                    <button pButton type="button" class="ui-button-success" icon="pi pi-replay"
                                        style="display: none;" (click)="finish(item)"></button>
                                    &nbsp;

                                </span>
                            </td>
                            <td><span class="p-column-title">{{item.head.pralId }}</span></td>
                            <td><span class="p-column-title">{{item.head.fecha }}</span></td>
                            <td><span class="p-column-title">{{item.clients.length }}</span></td>
                        </tr>
                    </ng-template>
                </p-table>
                <hr>
                <div class="ui-g form-group ui-fluid">
                    <div class="ui-g-12 ui-md-9"></div>
                    <div class="ui-g-12 ui-md-3">
                        <button pButton type="button" icon="pi pi-chevron-circle-right" style="font-size: 1rem"
                            [label]="'Nueva prealerta' | translate" class="ui-button-info ouput_btn_table"
                            (click)="next()">
                        </button>
                    </div>
                </div>
            </div>
            <div *ngIf="prealertsdraft.length <= 0 || step==2">
                <div class="ui-g form-group ui-fluid">
                    <div [class]="prealertsdraft.length > 0 ? 'ui-g-12 ui-md-6' : 'ui-g-12 ui-md-8' ">
                        <h1 *ngIf="!editPrealert && step > 1 ">{{'Prealerta' | translate }}</h1>
                        <h1 *ngIf="editPrealert && step > 1">{{'Editando la prealerta' | translate }} # {{ idPrealert }}
                        </h1>
                    </div>
                    <div class="ui-g-12 ui-md-2">
                        <button pButton type="button"
                            [icon]="optionSelect=='manual'?'pi pi-circle-on':'pi pi-circle-off'"
                            class="ui-button-success ouput_btn_table" label="Ingreso manual"
                            (click)="selectOption('manual')"></button>
                    </div>
                    <div class="ui-g-12 ui-md-2" *ngIf="!editPrealert">
                        <button pButton type="button" icon="pi pi-upload" [label]="'Subir archivo' | translate"
                            [icon]="optionSelect=='automatico'?'pi pi-circle-on':'pi pi-circle-off'"
                            class="ui-button-warning ouput_btn_table" (click)="selectOption('automatico')"></button>
                    </div>
                    <div [class]="prealertsdraft.length > 0 ? 'ui-g-12 ui-md-2':''">
                        <button pButton type="button" icon="pi pi-upload" [label]="'Borradores' | translate"
                            icon="pi pi-arrow-circle-left" *ngIf="prealertsdraft.length > 0"
                            class="ui-button-warning ouput_btn_table" (click)="back()"></button>
                    </div>
                </div>
                <!--Manual-->
                <div *ngIf="optionSelect=='manual'">
                    <p-accordion>
                        <p-accordionTab [header]="'Datos de la prealerta' | translate" [selected]="true">
                            <form [formGroup]="prealertForm" (ngSubmit)="save()">
                                <div class="ui-g form-group ui-fluid">


                                    <div class="ui-g-12 ui-md-2">
                                        <label for="Datos de envío" class="lbl">{{'Fecha de envio' | translate }}
                                        </label>
                                        <p-calendar formControlName="fecha" class="form-control" dateFormat="yy/mm/dd"
                                            [readonlyInput]="true" [minDate]="minDateValue"
                                            [ngClass]="{ 'is-invalid': submitted && f.fecha.errors }">
                                        </p-calendar>
                                        <div *ngIf="submitted && f.fecha.errors" class="invalid-feedback">
                                            <div *ngIf="f.fecha.errors.required">{{'Fecha es requerido' | translate }}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="ui-g-12 ui-md-3">
                                        <label for="cliente" class="lbl">{{'Cliente' | translate}}</label>
                                        <p-dropdown [options]="clientes" formControlName="cliente" optionLabel="nombres"
                                            class="form-control" (onChange)='onOptionsSelected()' [filter]="true"
                                            placeholder="Seleccione"></p-dropdown>
                                        <div *ngIf="submitted && f.cliente.errors" class="invalid-feedback">
                                            <div *ngIf="f.cliente.errors.required">
                                                {{'Cliente es requerido' | translate}}</div>
                                        </div>
                                    </div>

                                    <div class="ui-g-12 ui-md-2">
                                        <label class="lbl">{{'Finca' | translate }}</label>
                                        <p-dropdown [options]="fincas" formControlName="finca" optionLabel="nombres"
                                            [filter]="true" placeholder="Seleccione" class="form-control"
                                            [ngClass]="{ 'is-invalid': submitted && f.finca.errors }"></p-dropdown>
                                        <div *ngIf="submitted && f.finca.errors" class="invalid-feedback">
                                            <div *ngIf="f.finca.errors.required">{{'Finca es requerido' | translate }}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="ui-g-12 ui-md-2">
                                        <label class="lbl">{{'Finca propia' | translate }}</label>
                                        <div class="ui-field-checkbox">
                                            <p-checkbox formControlName="fincapropia" binary="true" inputId="binary">
                                            </p-checkbox> &nbsp;
                                            <label for="binary">{{'Rosa Mística' | translate }}</label>
                                        </div>
                                    </div>

                                    <div class="ui-g-12 ui-md-3">
                                        <label for="marca" class="lbl">{{'Marca' | translate}}</label>
                                        <p-dropdown [ngClass]="{ 'is-invalid': submitted && f.marca.errors }"
                                            [options]="marks" optionLabel="nombre" class="form-control"
                                            formControlName="marca" [filter]="true" placeholder="Seleccione">
                                        </p-dropdown>
                                        <div *ngIf="submitted && f.marca.errors" class="invalid-feedback">
                                            <div *ngIf="f.marca.errors.required">{{'Marca es requerido' | translate}}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="ui-g-12 ui-md-7">

                                        <div class="ui-g-12 ui-md-2">
                                            <label for="hbbq" class="lbl">{{'HB/QB' | translate}}</label>
                                            <input type="text" pInputText formControlName="HBBQ" class="form-control"
                                                pKeyFilter="int" placeholder="0">
                                        </div>


                                        <div class="ui-g-12 ui-md-5">
                                            <label for="rosamistica" class="lbl">{{'Variedad' | translate}}</label>
                                            <p-dropdown [options]="flores" formControlName="rosamistica"
                                                optionLabel="nombre" [filter]="true" placeholder="Seleccione"
                                                class="form-control"
                                                [ngClass]="{ 'is-invalid': submitted && f.rosamistica.errors }">
                                            </p-dropdown>
                                            <div *ngIf="submitted && f.rosamistica.errors" class="invalid-feedback">
                                                <div *ngIf="f.rosamistica.errors.required">
                                                    {{'Variedad es requerido' | translate}}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="ui-g-12 ui-md-3">
                                            <label for="tallos" class="lbl">{{'Tallos' | translate}}</label>
                                            <input type="text" pInputText class="form-control" formControlName="tallos"
                                                pKeyFilter="int" placeholder="0" (focusout)="calculate()"
                                                [ngClass]="{ 'is-invalid': submitted && f.tallos.errors }">
                                            <div *ngIf="submitted && f.tallos.errors" class="invalid-feedback">
                                                <div *ngIf="f.tallos.errors.required">
                                                    {{'Tallos es requerido' | translate}}</div>
                                            </div>
                                        </div>

                                        <div class="ui-g-12 ui-md-2">
                                            <label for="totaltallos" style="color: #ff4456;font-weight: bold;"
                                                class="lbl">{{'T. Tallos' | translate}}</label>
                                            <input type="text" pInputText class="form-control"
                                                formControlName="totaltallos" pKeyFilter="int" placeholder="0" readonly
                                                pTooltip="Este valor se auto calculara" tooltipPosition="bottom"
                                                style="font-size: 14px;font-weight: bold;text-align: center;background-color: #FFFAF0;"
                                                [ngClass]="{ 'is-invalid': submitted && f.totaltallos.errors }">
                                            <div *ngIf="submitted && f.totaltallos.errors" class="invalid-feedback">
                                                <div *ngIf="f.totaltallos.errors.required">
                                                    {{'Total tallos es requerido' | translate}}</div>
                                            </div>
                                        </div>

                                        <div class="ui-g-12 ui-md-6">
                                            <label for="carga" class="lbl">{{'Empresa carga' | translate }}</label>
                                            <p-dropdown [options]="deliveries" formControlName="carga"
                                                optionLabel="nombres" [filter]="true" placeholder="Seleccione"
                                                class="form-control"
                                                [ngClass]="{ 'is-invalid': submitted && f.carga.errors }"></p-dropdown>
                                            <div *ngIf="submitted && f.carga.errors" class="invalid-feedback">
                                                <div *ngIf="f.carga.errors.required">
                                                    {{'Empresa carga es requerido' | translate}}</div>
                                            </div>
                                        </div>


                                        <div class="ui-g-12 ui-md-6">
                                            <label class="lbl">{{'Estado' | translate}}</label>
                                            <p-dropdown [options]="status" placeholder="Seleccione" class="form-control"
                                                optionLabel="nombre" formControlName="estado"
                                                [ngClass]="{ 'is-invalid': submitted && f.estado.errors }">
                                            </p-dropdown>
                                            <div *ngIf="submitted && f.estado.errors" class="invalid-feedback">
                                                <div *ngIf="f.estado.errors.required">
                                                    {{'Estado es requerido' | translate}}</div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="ui-g-12 ui-md-5">
                                        <p-fieldset legend="Valores">
                                            <div class="ui-g-12 ui-md-12" [ngClass]="{'isvalueForm':estado}">

                                                <div class="ui-g-12 ui-md-3">
                                                    <label for="tamanio" class="lbl">{{'Tamaño' | translate}}</label>
                                                    <p-dropdown [options]="tamanios" formControlName="tamanio"
                                                        optionLabel="name" [filter]="true" class="form-control"
                                                        placeholder="Seleccione">
                                                    </p-dropdown>
                                                </div>

                                                <div class="ui-g-12 ui-md-4">
                                                    <label class="lbl">{{'Precio compra' | translate}}</label>
                                                    <input type="text" pInputText class="form-control"
                                                        formControlName="preciocomp" pKeyFilter="pnum"
                                                        placeholder="$0.00">
                                                </div>

                                                <div class="ui-g-12 ui-md-3">
                                                    <label class="lbl">{{'Precio venta' | translate }}</label>
                                                    <input type="text" pInputText pKeyFilter="pnum" class="form-control"
                                                        placeholder="$0.00" formControlName="preciovent">

                                                </div>

                                                <div class="ui-g-12 ui-md-2" style="text-align: center;">
                                                    <br>
                                                    <button pButton type="button" style="width: 50%;" label="+"
                                                        (click)="add()"></button>
                                                </div>
                                                <div class="ui-g-12 ui-md-12" *ngIf="estado"
                                                    style="color: #ff4456;font-weight: bold;">
                                                    {{'Falta agregar campos' | translate }}
                                                </div>
                                            </div>

                                            <div *ngFor="let numero of cantidadPrice" class="ui-g-12 ui-md-12">

                                                <div class="ui-g-12 ui-md-3">
                                                    <input type="text" [value]="numero.tamanio" pInputText readonly>
                                                </div>

                                                <div class="ui-g-12 ui-md-4">
                                                    <input type="text" pInputText [value]="numero.preccomp" readonly>
                                                </div>

                                                <div class="ui-g-12 ui-md-3">
                                                    <input type="text" pInputText [value]="numero.precvent" readonly>
                                                </div>
                                                <div class="ui-g-12 ui-md-2" style="text-align: center;">
                                                    <button pButton type="button" label="X" style="width: 50%;"
                                                        (click)="remove(numero)"></button>
                                                </div>
                                            </div>



                                        </p-fieldset>
                                    </div>


                                    <div class="ui-g-12 ui-md-12">
                                        <div class="ui-g-12 ui-md-10"></div>
                                        <!--<div class="ui-g-12 ui-md-3">
                                            <div class="ui-field-checkbox">
                                                <label class="lbl">{{'Seguir usando mismos datos' | translate }}</label>
                                                &nbsp;
                                                <p-checkbox formControlName="repeat" binary="true"></p-checkbox>
                                            </div>
                                        </div>-->
                                        <div class="ui-g-12 ui-md-2">
                                            <button pButton icon="pi pi-plus" class="ui-button-primary ouput_btn_table"
                                                [label]="'Agregar' | translate"></button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </p-accordionTab>
                    </p-accordion>
                </div>
                <!--Automático-->
                <div *ngIf="optionSelect=='automatico'">
                    <div class="uploadfilecontainer" (click)="fileInput.click()" appDragdrop
                        (onFileDropped)="uploadFile($event)" *ngIf="files.length <= 0">
                        <input hidden type="file" #fileInput (change)="uploadFile($event)" accept=".xlsx, .xls">
                    </div>
                    <div class="files-list" *ngFor="let file of files;let i= index">
                        <p> {{ file.name }} </p>
                        <button class="delete-file" (click)="deleteAttachment(i)">
                            <img src="../../../../assets/images/recicler.jpeg">
                        </button>
                    </div>
                </div>
                <!--Tabla-->
                <div class="error" *ngIf="validate">
                    {{'El archivo tiene errores validar con el administrador' | translate }}</div>
                <p class="detalle" *ngIf="validate"><i class="pi pi-bell"></i>&nbsp;{{smsvalidate}}</p>
                <br>
                <p-table [value]="items" class="p-datatable-responsive-demo">
                    <ng-template pTemplate="caption">
                        <div class="p-d-flex p-ai-center p-jc-between">
                            <button pButton type="button" class="ui-button-success" (click)="viewxlsx()"
                                *ngIf="items.length >=1 " style="height: 30px; border-radius: 5px;">
                                <i class="pi pi-download" style="font-size: 1.7rem"></i>
                            </button> &nbsp;
                            {{'Items de la prealerta' | translate }} [ {{items.length}} ]
                        </div>
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr>
                            <th style="width: 4em;"></th>
                            <th style="width: 4em;"></th>
                            <!--<th style="width: 4em;"></th>-->
                            <th style="width: 15em;">{{'Fecha' | translate }}</th>
                            <th style="width: 15em;">{{'Cliente' | translate }}</th>
                            <th>{{'Finca propia' | translate}}</th>
                            <th>{{'Finca' | translate}}</th>
                            <th>{{'Marca' | translate }}</th>
                            <th>{{'Estado' | translate}}</th>
                            <th>{{'Flor' | translate}}</th>
                            <th>{{'HB/QB' | translate}}</th>
                            <th>{{'Tallos' | translate}}</th>
                            <th>{{'T. Tallos' | translate}}</th>
                    </ng-template>
                    <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
                        <tr>
                            <!--<td>
                                <span class="p-column-title">
                                    <button pButton type="button" class="ui-button-danger" icon="pi pi-pencil"
                                    (click)="editrow(data)"></button>
                                </span>
                            </td>-->
                            <td><span class="p-column-title">
                                    <button pButton type="button" class="ui-button-danger" icon="pi pi-trash"
                                        (click)="deleteItem(data)"></button>
                                </span>
                            </td>
                            <td><span class="p-column-title">
                                    <button pButton type="button" class="ui-button-primary"
                                        [icon]="selectitem==rowIndex ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
                                        (click)="rowexpasion(rowIndex)"></button>
                                </span>
                            </td>
                            <td><span class="p-column-title">{{data.fecha | date :'dd-MMM-yyyy' }}</span></td>
                            <td><span class="p-column-title">{{data.cliente.nombres | titlecase }}</span></td>
                            <td><span class="p-column-title">{{data.fincapropia=='S'? 'Rosa Mística' : 'N/A' }}</span>
                            </td>
                            <td><span class="p-column-title">{{data.finca.nombres | titlecase }}</span></td>
                            <td><span class="p-column-title">{{data.marca.nombre | titlecase }}</span></td>
                            <td><span class="p-column-title">{{data.status.nombre | titlecase}}</span></td>
                            <td><span class="p-column-title">{{data.rosamistica.nombre | titlecase}}</span></td>
                            <td><span class="p-column-title">{{data.HBBQ}}</span></td>
                            <td><span class="p-column-title">{{data.tallos}}</span></td>
                            <td><span class="p-column-title">{{data.totaltallos}}</span></td>
                        </tr>
                        <tr *ngIf="selectitem==rowIndex " class="detalle_table">
                            <td colspan="12">
                                <div class="ui-g form-group ui-fluid">

                                    <!--<div class="ui-g-12 ui-md-2">
                                        <label class="lbl">{{'HB/QB' | translate}}</label>
                                        <input type="text" pInputText [(ngModel)]="data.HBBQ" readonly>
                                    </div>-->

                                    <div class="ui-g-12 ui-md-3">
                                        <label class="lbl">{{'Tamaño' | translate}}</label>
                                        <input type="text" pInputText [(ngModel)]="data.tamanio" readonly>
                                    </div>

                                    <div class="ui-g-12 ui-md-2">
                                        <label class="lbl">{{'Precio Venta' | translate}}</label>
                                        <input type="text" pInputText [(ngModel)]="data.preciovent" readonly>
                                    </div>

                                    <div class="ui-g-12 ui-md-2">
                                        <label class="lbl">{{'Precio Compra' | translate}}</label>
                                        <input type="text" pInputText [(ngModel)]="data.preciocomp" readonly>
                                    </div>
                                    <div class="ui-g-12 ui-md-3">
                                        <label class="lbl">{{'Empresa de Carga' | translate}}</label>
                                        <input type="text" pInputText [(ngModel)]="data.carga.nombres" readonly>
                                    </div>

                                </div>
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="footer">
                        <tr>
                            <td colspan="11" class="total_table">{{'Totales' | translate}}</td>
                            <td><span class="total_tallos">{{ total }}</span></td>
                        </tr>
                    </ng-template>
                </p-table>
                <br>
                <div class="ui-g form-group ui-fluid">
                    <div class="ui-grid-col-7"></div>
                    <div class="ui-grid-col-2">
                        <button pButton type="button" icon="pi pi-save" class="ui-button-success btn_enviar"
                            label="Guardar" (click)="saveeraser()" [disabled]="items.length <= 0"></button>
                    </div>
                    <div class="ui-grid-col-1"></div>
                    <div class="ui-grid-col-2">
                        <button pButton type="button" icon="pi pi-arrow-right" class="ui-button-help btn_enviar"
                            label="Finalizar" (click)="presend()" [disabled]="items.length <= 0"></button>
                    </div>
                </div>
                <!--Resumen totales-->
                <div class="ui-grid ui-grid-responsive ui-fluid" class="resumen">
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-4" style="text-align: right;font-weight: bold;font-size: 30px;">
                            {{'Total' | translate}}
                        </div>
                        <div class="ui-grid-col-8" style="text-align: center;"><span
                                class="total_valor_resumen">{{total}}</span></div>
                    </div>
                    <br>
                    <div class="ui-grid ui-grid-responsive ui-fluid">
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-10"></div>
                            <div class="ui-grid-col-2">
                                <button pButton icon="pi pi-arrow-right" class="ui-button-help btn_enviar_responsive"
                                    [label]="'Enviar'| translate" (click)="presend()"></button>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Table responsive-->
                <div class="ui-grid ui-grid-responsive ui-fluid" class="data" *ngFor="let item of items">
                    <div class="card card-w-title">
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-12">
                                <button pButton type="button" class="ui-button-danger btn_card" icon="pi pi-trash"
                                    (click)="deleteItem(item)"></button>
                            </div>
                        </div>

                        <div class="ui-grid-row">
                            <div class="ui-grid-col-4"><span class="label">{{'Cliente' | translate}}</span></div>
                            <div class="ui-grid-col-8"><span class="value">{{item.cliente}}</span></div>
                        </div>


                        <div class="ui-grid-row">
                            <div class="ui-grid-col-4"><span class="label">{{'Finca' | translate}}</span></div>
                            <div class="ui-grid-col-8"><span class="value">{{item.finca}}</span></div>
                        </div>

                        <div class="ui-grid-row">
                            <div class="ui-grid-col-4"><span class="label">{{'Marca' | translate}}</span></div>
                            <div class="ui-grid-col-8"><span class="value">{{item.marca}}</span></div>
                        </div>

                        <div class="ui-grid-row">
                            <div class="ui-grid-col-4"><span class="label">{{'HB/QB' | translate}}</span></div>
                            <div class="ui-grid-col-8"><span class="value">{{item.HBBQ}}</span></div>
                        </div>

                        <div class="ui-grid-row">
                            <div class="ui-grid-col-4"><span class="label">{{'Flor' | translate}}</span></div>
                            <div class="ui-grid-col-8"><span class="value">{{item.rosamistica}}</span></div>
                        </div>

                        <div class="ui-grid-row">
                            <div class="ui-grid-col-4"><span class="label">{{'Cajas' | translate}}</span></div>
                            <div class="ui-grid-col-8"><span class="value">{{item.caja}}</span></div>
                        </div>


                        <div class="ui-grid-row">
                            <div class="ui-grid-col-4"><span class="label">{{'Tallos' | translate}}</span></div>
                            <div class="ui-grid-col-8"><span class="value">{{item.tallos}}</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Confirmar cuadro de dialogo confirm-->
        <p-confirmDialog #cd header="Confirmation" icon="pi pi-exclamation-triangle">
            <p-footer>
                <button type="button" pButton icon="pi pi-times" class="ui-button-danger" [label]="'No' | translate"
                    (click)="cd.reject()"></button>
                <button type="button" pButton icon="pi pi-check" class="ui-button-success" [label]="'Yes' | translate"
                    (click)="cd.accept()"></button>
            </p-footer>
        </p-confirmDialog>
        <!--Dialog properties-->
        <p-dialog [(visible)]="dialogVisible" [style]="{width: '50vw'}" [baseZIndex]="10000" [maximizable]="true"
            [modal]="true" [resizable]="true">
            <p-header>
                <span><i class="pi pi-paperclip" style="font-size: 1rem"></i>&nbsp;{{'Resumen de la prealerta' |
                    translate}}</span>
            </p-header>
            <div class="ui-g form-group ui-fluid">
                <div class="card card-w-title">
                    <div class="ui-g-12 ui-md-2">
                        <label class="lbl">{{'Id' | translate}}</label>
                        <input type="text" pInputText [value]="response?.pralId" readonly>
                    </div>
                    <div class="ui-g-12 ui-md-2">
                        <label class="lbl">{{'N° Registros' | translate}}</label>
                        <input type="text" pInputText [value]="response?.numregi" readonly>
                    </div>
                    <div class="ui-g-12 ui-md-2">
                        <label class="lbl">{{'Total tallos' | translate}}</label>
                        <input type="text" pInputText [value]="response?.totaltallos" readonly>
                    </div>
                    <div class="ui-g-12 ui-md-2">
                        <label class="lbl">{{'Total cajas' | translate}}</label>
                        <input type="text" pInputText [value]="response?.totalcajas" readonly>
                    </div>

                    <div class="ui-g-12 ui-md-4">
                        <label class="lbl">{{'Correos enviados' | translate}}</label>
                        <input type="text" pInputText [value]="response?.files.length + 1 " readonly>
                    </div>

                    <div class="ui-g-12 ui-md-12">
                        <label class="lbl">{{'Prelaerta General' | translate}}</label>
                        <br>
                        <a target="_blank" [href]="response?.pdf"
                            style="text-decoration: underline;color: #00008B;font-weight: bold;">{{response?.pdf}}</a>
                    </div>
                    <div class="ui-g-12 ui-md-12">
                        <label class="lbl">{{'Prealertas' | translate}}</label>
                        <ul *ngFor="let pdf of response?.files">
                            <li><a target="_blank" [href]="pdf"
                                    style="text-decoration: underline;color: #00008B;font-weight: bold;">{{pdf}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <p-footer>
                <button type="button" pButton icon="pi pi-check" class="ui-button-success" [label]="'Listo' | translate"
                    (click)="dialogVisible=false"></button>
            </p-footer>
        </p-dialog>

        <p-dialog [header]="'Prealerta borrador' | translate" [(visible)]="dialogVisiblePDF" [style]="{width: '50vw'}"
            [baseZIndex]="10000" [modal]="true" [resizable]="true">
            <iframe [src]="url | safe" *ngIf="dialogVisiblePDF" width="100%" height="500px" style="border-width: 0PX;">
            </iframe>
        </p-dialog>

        <!-- Dialog all clientes to prealert-->
        <p-dialog [header]="'Clientes para prealerta' | translate" [(visible)]="dialogVisibleClients"
            [style]="{width: '20vw'}" [baseZIndex]="10000" [modal]="true" [resizable]="true">
            <div class="ui-g form-group ui-fluid">
                <div class="card card-w-title" style="width: 100%;">
                    <div *ngFor="let client of clients">
                        <div class="ui-g-12">
                            <div class="ui-g-12 ui-md-12">
                                <p-checkbox name="group2" value="client.code" [value]="client.code"
                                    [(ngModel)]="arraycodes" [inputId]="client.code"></p-checkbox>&nbsp;
                                <label [for]="client.code">{{client.nombres | titlecase }}</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <p-footer>
                <button type="button" pButton icon="pi pi-times" class="ui-button-danger"
                    [label]="'Cancelar' | translate" (click)="dialogVisibleClients=false"></button>

                <button type="button" pButton icon="pi pi-check" class="ui-button-success"
                    [label]="'Enviar' | translate" (click)="send()"></button>
            </p-footer>
        </p-dialog>

        <!--Dialog edit prealert-->
        <p-dialog [(visible)]="editvisible" [style]="{width: '50vw'}" [baseZIndex]="10000" [maximizable]="true"
            [modal]="true" [resizable]="true">
            <p-header>
                <span><i class="pi pi-paperclip" style="font-size: 1rem"></i>&nbsp;{{'Editando el item' |
                    translate}}</span>
            </p-header>
            <div class="ui-g form-group ui-fluid">
                <div class="card card-w-title">
                    <div class="ui-g-12 ui-md-4">
                        <label class="lbl">{{'Fecha' | translate}}</label>
                        <input type="text" pInputText [value]="activeitembyedit?.fecha" readonly>
                    </div>
                    <div class="ui-g-12 ui-md-4">
                        <label class="lbl">{{'Cliente' | translate}}</label>
                        <input type="text" pInputText [value]="activeitembyedit?.cliente.nombres" readonly>
                    </div>
                    <div class="ui-g-12 ui-md-4">
                        <label class="lbl">{{'Finca propia' | translate}}</label>
                        <input type="text" pInputText [value]="activeitembyedit?.fincapropia" readonly>
                    </div>
                    <div class="ui-g-12 ui-md-4">
                        <label class="lbl">{{'Finca' | translate}}</label>
                        <input type="text" pInputText [value]="activeitembyedit?.finca" readonly>
                    </div>

                    <div class="ui-g-12 ui-md-4">
                        <label class="lbl">{{'Marca' | translate}}</label>
                        <input type="text" pInputText [value]="activeitembyedit?.marca.nombre" readonly>
                    </div>

                    <div class="ui-g-12 ui-md-4">
                        <label class="lbl">{{'Estado' | translate}}</label>
                        <input type="text" pInputText [value]="activeitembyedit?.status" readonly>
                    </div>

                    <div class="ui-g-12 ui-md-4">
                        <label class="lbl">{{'Flor' | translate}}</label>
                        <input type="text" pInputText [value]="activeitembyedit?.rosamistica.name" readonly>
                    </div>


                </div>
            </div>
            <p-footer>
                <button type="button" pButton icon="pi pi-check" class="ui-button-success"
                    [label]="'Guardar' | translate" (click)="dialogVisible=false"></button>
            </p-footer>
        </p-dialog>

    </div>

</div>