<div class="ui-g">
    <div class="ui-g-12 ui-lg-3"></div>
    <div class="ui-g-12 ui-lg-6">
        <div class="card no-margin ui-fluid">
            <div style="text-align: center;"><img src="../../../../assets/images/logo_footer.png"></div>
            <br>
            <p style="text-align:justify ;">
                {{'Iniciamos nuestras actividades en 2004 como una empresa orgullosamente ecuatoriana dedicada a la exportación de rosas.' | translate}}
                <br>
                {{'Enviamos flores a todos los destinos del mundo.' | translate}}
                <br>
                {{'Nos enfocamos en la mejora continua de todos los procesos: Producción, Transporte y Entrega' | translate}}.
            </p> 
            <p style="font-weight: bold;text-align: center;">Version [1.0]</p>
            <p style="font-weight: bold;text-align: center;">+593 986 118 511 / +593 26 011 446</p>
            <p style="font-weight: bold;text-align: center;">manager@rosa-mistica.com</p>
        </div>
        <br>
        <div class="card no-margin ui-fluid">
            <div style="text-align: center;"><img src="../../../../assets/images/logo_addsoft.png" /></div>
            <br>
            <p style="text-align:justify ;">
                {{'Somos una empresa dedicada a la prestación de Servicios de TI, así como al desarrollo de software a la medida para pequeñas y medianas empresas.' | translate }}
            </p>

            <p style="font-weight: bold;text-align: center;">+593995922077 / +593990532674 / +593995308851</p>
            <p style="font-weight: bold;text-align: center;">directorio@addsoft-tech.com</p>
        </div>
    </div>
    <div class="ui-g-12 ui-lg-3"></div>
</div>