<div class="ui-g">
    <div class="ui-g-12 ui-lg-3"></div>
    <div class="ui-g-12 ui-lg-6"> 
        <div class="card no-margin ui-fluid">
            <div style="text-align: center;"><img src="../../../../assets/images/logo_footer.png"></div>
            <br> 
            <p style="text-align:center ;">
                {{'En Arquétika proyectamos la casa de sus sueños, diseñamos, construimos y la hacemos realidad.' | translate}}
                <br> <br>
                {{'Hemos desarrollado diversos proyectos de diseño de vivienda unifamiliar, conjuntos habitacionales, centros comerciales, edificios residenciales, oficinas, parques industriales.' | translate}}
                <br> <br>
                {{'Nuestra intervención arquitectónica busca crear un aporte a la imagen urbana y a la calidad de vida de los usuarios.' | translate}}.
            </p> 
            <p style="font-weight: bold;text-align: center;">Version [1.1]</p>
            <p style="font-weight: bold;text-align: center;">PBX: (593) 2-2899-230</p>
            <p style="font-weight: bold;text-align: center;">arquitectura@arquetika.com</p>
        </div>
        <br>
        <div class="card no-margin ui-fluid">
            <div style="text-align: center;"><img src="../../../../assets/images/logo_addsoft.png" /></div>
            <br>
            <p style="text-align:center ;">
                {{'Somos una empresa dedicada a la prestación de Servicios de TI, así como al desarrollo de software a la medida para pequeñas y medianas empresas.' | translate }}
                <br><br>
                {{'Ofrecemos sistema de punto de venta y facturación electrónica.' | translate }}
            </p>

            <p style="font-weight: bold;text-align: center;">+593995922077 / +593990532674 / +593995308851</p>
            <p style="font-weight: bold;text-align: center;">directorio@addsoft-tech.com</p>
        </div>
    </div>
    <div class="ui-g-12 ui-lg-3"></div>
</div>