<div class="ui-g">
    <div class="ui-g-12 ui-lg-1"></div>
    <div class="ui-g-12 ui-lg-10">
        <p-toast></p-toast>
        <p-toolbar>
            <div class="p-toolbar-group-left">
                <button (click)="saveclient()" pButton class="ui-button-success" icon="pi pi-check" label="Guardar"
                    *ngIf="!edit"></button> &nbsp;

                <button (click)="modificarclient()" pButton class="ui-button-success" icon="pi pi-save"
                    label="Actualizar" *ngIf="edit"></button> &nbsp;

                <button (click)="cancelar()" pButton class="ui-button-warning" icon="pi pi-arrow-left"
                    label="Atrás"></button> &nbsp;
            </div>
        </p-toolbar>
        <div class="card card-w-title ui-fluid">
            <!--<div class="ui-g-12 ui-md-6">-->
            <h1 *ngIf="!edit">Agregar nuevo cliente</h1>
            <h1 *ngIf="edit">Editar Cliente</h1>
            <div class="ui-g form-group">
                <div class="ui-g-12 ui-md-3">
                    <label for="identification">Identificación</label>
                    <input type="text" name="identification" pInputText autocomplete="off" maxlength="100"
                        pKeyFilter="int" [(ngModel)]="client.entiDni" />
                </div>

                <div class="ui-g-12 ui-md-3">
                    <label for="type">Tipo</label>
                    <p-dropdown [options]="tipos" [(ngModel)]="client.tipo" placeholder="Seleccione"
                        (onChange)="selecttipo($event)" optionLabel="name"></p-dropdown>
                </div>

                <div class="ui-g-12 ui-md-3" >
                    <label for="name">Nombres</label>
                    <input type="text" name="name" pInputText autocomplete="off" maxlength="100"
                        [(ngModel)]="client.nombres" />
                </div>
               
                <div class="ui-g-12 ui-md-3" >
                    <label for="businessname">Razón Social</label>
                    <input type="text" name="businessname" pInputText autocomplete="off" maxlength="100"
                        [(ngModel)]="client.razosoci" />
                </div>

                <div class="ui-g-12 ui-md-3">
                    <label for="phone">Teléfono</label>
                    <input type="text" name="phone" pInputText autocomplete="off" maxlength="20"
                        [(ngModel)]="client.phone" pKeyFilter="int" />
                </div>

                <div class="ui-g-12 ui-md-3">
                    <label for="country">País</label>
                    <input type="text" name="country" pInputText autocomplete="off" maxlength="100"
                        [(ngModel)]="client.pais" />
                </div>

                <div class="ui-g-12 ui-md-3">
                    <label for="country">Ciudad</label>
                    <input type="text" name="country" pInputText autocomplete="off" maxlength="100"
                        [(ngModel)]="client.ciudad" />
                </div>
                <div class="ui-g-12 ui-md-3">
                    <label for="state">Estado</label>
                    <p-selectButton [options]="options" [(ngModel)]="client.estado"></p-selectButton>
                </div>
               
                <div class="ui-g-12 ui-md-6"> 
                    <label for="email">Email</label>
                    <textarea [rows]="3" [cols]="30" name="email" pInputTextarea placeholder="Your emails" 
                        pTooltip="Para agregar varios emails debe serparar con punto y coma ';' "
                        tooltipPosition="top" tooltipEvent="focus"
                        autoResize="autoResize" [(ngModel)]="client.email"></textarea>
                </div>

                <div class="ui-g-12 ui-md-6">
                    <label for="address">Dirección</label>
                    <textarea [rows]="3" [cols]="30" name="address" pInputTextarea placeholder="Your direction"
                        autoResize="autoResize" [(ngModel)]="client.direccion"></textarea>
                </div>
                <div class="ui-g-12 ui-md-12" *ngIf="edit">
                    <p-fieldset legend="Marcaciones">
                        <div class="ui-g form-group">
                            <div class="ui-g-12 ui-md-3"></div>
                            <div class="ui-g-12 ui-md-5">
                                <label for="nombre">Nombre</label>
                                <input type="text" name="nombre" pInputText autocomplete="off" maxlength="100"
                                    [(ngModel)]="name" />
                                <label for="nombre">Ciudad</label>
                                <input type="text" name="city" pInputText autocomplete="off" maxlength="100"
                                    [(ngModel)]="city" />
                                <label for="nombre">Dirección</label>
                                <input type="text" name="direction" pInputText autocomplete="off" maxlength="100"
                                    [(ngModel)]="direction" />
                            </div>
                            <div class="ui-g-12 ui-md-4">
                                <br>
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-4"><button label="Guardar" *ngIf="selectmark==null" pButton
                                            (click)="guardar()"></button> </div>
                                    <div class="ui-grid-col-4"> <button label="Modificar" *ngIf="selectmark!=null"
                                            pButton (click)="modificar()"></button></div> &nbsp;
                                    <div class="ui-grid-col-4"><button label="Cancelar" *ngIf="selectmark!=null" pButton
                                            class="ui-button-warning" (click)="cancelarmark()"></button></div>
                                </div>
                            </div>

                            <div class="ui-g-12 ui-md-12">
                                <p-pickList [source]="marks" [target]="marksdisabled" sourceHeader="Activos"
                                    (onMoveToTarget)="disabled($event)" (onMoveToSource)="enabled($event)"
                                    [showSourceControls]="false" [showTargetControls]="false" targetHeader="Inactivos"
                                    dragdrop="true" [responsive]="true" dragdrop="true"
                                    [sourceStyle]="{'height':'300px'}" [targetStyle]="{'height':'300px'}"
                                    filterBy="nombre" sourceFilterPlaceholder="Search by name"
                                    targetFilterPlaceholder="Search by name">
                                    <ng-template let-mark pTemplate="item">
                                        <div class="marks-item">
                                            <div class="mark-list-detail" (click)="selected(mark)">
                                                <h5 class="p-mb-2">{{mark.nombre | titlecase}} - {{ mark.ciudad}}</h5>
                                            </div>
                                        </div>
                                    </ng-template>
                                </p-pickList>
                            </div>
                        </div>
                    </p-fieldset>
                </div>
            </div>
        </div>
    </div>
    <div class="ui-g-12 ui-lg-1"></div>
</div>