<div class="layout-dashboard" *ngIf="1==1">
    <div class="ui-g">
        <div class="ui-g-12 ui-md-6 ui-lg-3">
            <div class="overview-box sales">
                <i class="fa fa-building-o" aria-hidden="true" style="font-size: 2rem; float: right;padding-right: 20px;"></i>
                <div class="overview-title"></div>
                <div class="overview-numbers">
                    {{'Cursos' | translate }}
                </div>
                <div class="overview-subinfo user stock">
                    <i class="fa fa-circle"></i>
                    <span># {{courses}}</span>
                </div>
            </div>
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-3">
            <div class="overview-box checkins">
                <i class="fa fa-user-circle" aria-hidden="true" style="font-size: 2rem; float: right;padding-right: 20px;"></i>
                <div class="overview-title"></div>
                <div class="overview-numbers">
                    {{'Clientes' | translate }}
                </div>
                <div class="overview-subinfo user stock">
                    <i class="fa fa-circle"></i>
                    <span> # {{clientes}}</span>
                </div>
            </div>
        </div>
    </div>
</div>