<div class="layout-dashboard" *ngIf="user?.roles[0].shorcut=='ADM'">
    <div class="ui-g">
        <div class="ui-g-12 ui-md-6 ui-lg-3">
            <div class="overview-box sales">
                <i class="fa fa-plane" aria-hidden="true"
                    style="font-size: 2rem; float: right;padding-right: 20px;"></i>
                <div class="overview-title"></div>
                <div class="overview-numbers">
                    {{'E. de carga' | translate }}
                </div>
                <div class="overview-subinfo user stock">
                    <i class="fa fa-plane"></i>
                    <span># {{graphics?.count_ent.Z}}</span>
                </div>
            </div>
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-3">
            <div class="overview-box views">
                <i class="fa fa-pagelines" aria-hidden="true"
                    style="font-size: 2rem; float: right;padding-right: 20px;"></i>
                <div class="overview-title"></div>
                <div class="overview-numbers">
                    {{'Flores' | translate }} 
                </div>
                <div class="overview-subinfo user stock">
                    <i class="fa fa-circle"></i>
                    <span># {{graphics?.count_ent.FL}}</span>
                </div>
            </div>
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-3">
            <div class="overview-box users">
                <i class="fa fa-user-circle" aria-hidden="true"
                    style="font-size: 2rem; float: right;padding-right: 20px;"></i>
                <div class="overview-title"></div>
                <div class="overview-numbers">
                    {{'Clientes' | translate }}
                </div>
                <div class="overview-subinfo user stock">
                    <i class="fa fa-circle"></i>
                    <span> # {{graphics?.count_ent.C}}</span>
                </div>
            </div>
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-3">
            <div class="overview-box checkins">
                <i class="fa fa-university" aria-hidden="true"
                    style="font-size: 2rem; float: right;padding-right: 20px;"></i>
                <div class="overview-title"></div>
                <div class="overview-numbers">
                    {{'Fincas' | translate }}
                </div>
                <div class="overview-subinfo checkin stock">
                    <i class="fa fa-circle"></i>
                    <span># {{graphics?.count_ent.F}}</span>
                </div>
            </div>
        </div>
        <!--Estadísticas-->
        <div class="ui-g-12 ui-md-6 ui-lg-6 ui-xl-6">
            <p-panel [header]="'Monto' | translate" styleClass="statistics">
                <div style="padding: 10px;" *ngIf="state">
                    <ngx-skeleton-loader count="3" [theme]="{'border-radius': '5px',height: '50px'}">
                    </ngx-skeleton-loader>
                </div>
                <div class="ui-g" *ngIf="!state">
                    <div class="ui-g-12 ui-md-6 ui-lg-6 ui-xl-6 stats-left">
                        <div>
                            <i class="fa fa-level-up" style="color: #7DC931;"
                                *ngIf="graphics?.count_inv.POR_CREDITO >= 50"></i>
                            <i class="fa fa-level-down" style="color: red;"
                                *ngIf="graphics?.count_inv.POR_CREDITO < 50"></i>
                            <span>{{graphics?.count_inv.POR_CREDITO >= 50 ? 'High':'Low'}}</span>
                            <!--<i class="fa fa-usd"></i>
                            <span>75%</span>-->
                            <i class="fa fa-history" style="color: #7DC931;"></i>
                            <span>{{percentage | number : '1.2-2'}}%</span>
                        </div>
                        <div class="knob-container">
                            <div class="knob">{{graphics?.count_inv.POR_CREDITO | number : '1.0-0'}}%</div>
                        </div>
                        <div class="details">
                            <i class="fa fa-chevron-right"></i>
                            <span>Debit</span>
                            {{graphics?.count_inv.PORC_DEBITO | number : '1.0-0'}}%
                        </div>
                        <div class="details">
                            <i class="fa fa-chevron-right"></i>
                            <span>Credit</span>
                            {{graphics?.count_inv.POR_CREDITO | number : '1.0-0'}}%
                        </div>
                    </div>
                    <div class="ui-g-12 ui-md-6 ui-lg-6 ui-xl-6 stats-right">
                        <i class="fa fa-usd"></i>
                        <span class="icon-label">Sales</span>
                        <span>{{graphics?.count_inv.FACTS_SUM_T | currency}}</span>
                        <div class="statsbar">
                            <div class="statsbar-value" style="width: 100%"></div>
                        </div>
                        <i class="fa fa-usd"></i>
                        <span class="icon-label">Sales Debit</span>
                        <span class="number_sales">{{graphics?.count_inv.DEBITO | currency}}</span>
                        <div class="statsbar">
                            <div class="statsbar-value" [style.width.px]="graphics?.count_inv.PORC_DEBITO"></div>
                        </div>
                        <i class="fa fa-usd"></i>
                        <span class="icon-label">Sales Credit</span>
                        <span class="number_sales">{{graphics?.count_inv.CREDITO | currency}}</span>
                        <div class="statsbar">
                            <div class="statsbar-value" [style.width.px]="graphics?.count_inv.POR_CREDITO"></div>
                        </div>
                        <i class="fa fa-calculator"></i>
                        <span class="icon-label">Total documents</span>
                        <span class="number_sales">{{graphics?.count_inv.FACTS_T}}</span>
                        <div class="statsbar">
                            <div class="statsbar-value" style="width: 100"></div>
                        </div>
                        <i class="fa fa-clock-o"></i>
                        <span class="icon-label">Remaining</span>
                        <span style="font-size: 18px !important;"
                            class="number_sales">{{actuallydate | date:'dd-MMM-yyyy HH:mm' }}</span>
                        <div class="statsbar">
                            <div class="statsbar-value" [style.width.px]="percentage"></div>
                        </div>
                    </div>
                </div>
            </p-panel>
        </div>

        <div class="ui-g-12 ui-md-6 ui-lg-6 ui-xl-6">
            <p-panel [header]="'Ventas diarias por cliente' | translate" styleClass="global-sales">
                <div style="padding: 10px;" *ngIf="state">
                    <ngx-skeleton-loader count="3" [theme]="{'border-radius': '5px',height: '50px'}">
                    </ngx-skeleton-loader>
                </div>
                <table *ngIf="!state">
                    <thead>
                        <tr>
                            <th></th>
                            <th class="country">{{ 'Cliente' | translate }}</th>
                            <th>{{ 'Total' | translate }}</th>
                            <th>{{ 'Porcentaje' | translate }}</th>
                            <th>{{ 'Estado' | translate }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let salesbyclient of graphics.salesbyclient; index as i;">
                            <td>{{i+1}}</td>
                            <td class="country">
                                <img src="assets/layout/images/company.png" alt="ecuador-layout" />
                                <span>{{salesbyclient.name}}</span>
                            </td>
                            <td>${{salesbyclient.values}}</td>
                            <td>{{salesbyclient.porcentaje | number : '1.2-2' }}%</td>
                            <td>
                                <i [class]="salesbyclient.estado?'fa fa-caret-up up':'fa fa-caret-down down'"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </p-panel>
        </div>

        <!--Graficos-->
        <div class="ui-g-12 ui-md-6 ui-lg-6 ui-xl-6">
            <p-panel [header]="'Número de transacciones' | translate" styleClass="global-sales">
                <div style="padding: 10px;" *ngIf="state">
                    <ngx-skeleton-loader count="3" [theme]="{'border-radius': '5px',height: '50px'}">
                    </ngx-skeleton-loader>
                </div>
                <p-chart type="pie" [data]="graphics?.number_transactions" *ngIf="!state"></p-chart>
            </p-panel>
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-6 ui-xl-6">
            <p-panel [header]="'Monto de transacciones' | translate" styleClass="global-sales">
                <div style="padding: 10px;" *ngIf="state">
                    <ngx-skeleton-loader count="3" [theme]="{'border-radius': '5px',height: '50px'}">
                    </ngx-skeleton-loader>
                </div>
                <p-chart type="pie" [data]="graphics?.ammount_transactions" *ngIf="!state"></p-chart>
            </p-panel>
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-6 ui-xl-6">
            <p-panel [header]="'Ventas por mes' | translate" styleClass="global-sales">
                <div style="padding: 10px;" *ngIf="state">
                    <ngx-skeleton-loader count="3" [theme]="{'border-radius': '5px',height: '50px'}">
                    </ngx-skeleton-loader>
                </div>
                <p-chart type="line" [data]="graphics?.anual_month_sales" *ngIf="!state"></p-chart>
            </p-panel>
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-6 ui-xl-6">
            <p-panel [header]="'Ventas por año' | translate" styleClass="global-sales">
                <div style="padding: 10px;" *ngIf="state">
                    <ngx-skeleton-loader count="3" [theme]="{'border-radius': '5px',height: '50px'}">
                    </ngx-skeleton-loader>
                </div>
                <p-chart type="bar" [data]="graphics?.sales_anual_year" *ngIf="!state"></p-chart>
            </p-panel>
        </div>

        <div class="ui-g-12 ui-md-6 ui-lg-6 ui-xl-6">
            <p-panel [header]="'Ventas por día' | translate" styleClass="global-sales">
                <div style="padding: 10px;" *ngIf="state">
                    <ngx-skeleton-loader count="3" [theme]="{'border-radius': '5px',height: '50px'}">
                    </ngx-skeleton-loader>
                </div>
                <p-chart type="bar" [data]="graphics?.day_week_month_sales" *ngIf="!state"></p-chart>
            </p-panel>
        </div>

        <div class="ui-g-12 ui-md-6 ui-lg-6 ui-xl-6">
            <p-panel [header]="'Ventas por semana' | translate" styleClass="global-sales">
                <div style="padding: 10px;" *ngIf="state">
                    <ngx-skeleton-loader count="3" [theme]="{'border-radius': '5px',height: '50px'}">
                    </ngx-skeleton-loader>
                </div>
                <p-chart type="bar" [data]="graphics?.week_month_sales" *ngIf="!state"></p-chart>
            </p-panel>
        </div>

    </div>
</div>
<!--Cliente-->
<div class="layout-dashboard" *ngIf="user?.roles[0].shorcut=='CLI'">
    <div class="ui-g">
        <!--Datos generales-->
        <div class="ui-g-12 ui-md-6 ui-lg-3">
            <div class="overview-box sales">
                <i class="fa fa-file-text" aria-hidden="true"
                    style="font-size: 2rem; float: right;padding-right: 20px;"></i>
                <div class="overview-title"></div>
                <div class="overview-numbers">
                    {{'Facturas' | translate }}
                </div>
                <div class="overview-subinfo user stock">
                    <i class="fa fa-circle"></i>
                    <span># {{graphics?.count_trx.TRX_CNT_IN}}</span>
                </div>
            </div>
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-3">
            <div class="overview-box views">
                <i class="fa fa-money" aria-hidden="true"
                    style="font-size: 2rem; float: right;padding-right: 20px;"></i>
                <div class="overview-title"></div>
                <div class="overview-numbers">
                    {{'Pagos' | translate }}
                </div>
                <div class="overview-subinfo user stock">
                    <i class="fa fa-circle"></i>
                    <span># {{graphics?.count_trx.TRX_CNT_PA == undefined ?'0':graphics?.count_trx.TRX_CNT_PA}}</span>
                </div>
            </div>
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-3">
            <div class="overview-box users">
                <i class="fa fa-credit-card-alt" aria-hidden="true"
                    style="font-size: 2rem; float: right;padding-right: 20px;"></i>
                <div class="overview-title"></div>
                <div class="overview-numbers">
                    {{'Débitos' | translate }}
                </div>
                <div class="overview-subinfo user stock">
                    <i class="fa fa-circle"></i>
                    <span> # {{graphics?.count_trx.TRX_CNT_DB== undefined ? '0':graphics?.count_trx.TRX_CNT_DB}}</span>
                </div>
            </div>
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-3">
            <div class="overview-box checkins">
                <i class="fa fa-exchange" aria-hidden="true"
                    style="font-size: 2rem; float: right;padding-right: 20px;"></i>
                <div class="overview-title"></div>
                <div class="overview-numbers">
                    {{'Reclamos' | translate }}
                </div>
                <div class="overview-subinfo checkin stock">
                    <i class="fa fa-circle"></i>
                    <span># {{graphics?.count_trx.TRX_CNT_CL== undefined ?'0':graphics?.count_trx.TRX_CNT_CL}}</span>
                </div>
            </div>
        </div>
        <!--Estadísticas-->
        <div class="ui-g-12 ui-md-6 ui-lg-6 ui-xl-6">
            <p-panel [header]="'Monto' | translate" styleClass="statistics">
                <div style="padding: 10px;" *ngIf="state">
                    <ngx-skeleton-loader count="3" [theme]="{'border-radius': '5px',height: '50px'}">
                    </ngx-skeleton-loader>
                </div>
                <div class="ui-g" *ngIf="!state">
                    <div class="ui-g-12 ui-md-6 ui-lg-6 ui-xl-6 stats-left">
                        <div>
                            <i class="fa fa-level-up" style="color: #7DC931;"
                                *ngIf="graphics?.count_inv.POR_CREDITO >= 50"></i>
                            <i class="fa fa-level-down" style="color: red;"
                                *ngIf="graphics?.count_inv.POR_CREDITO < 50 || graphics?.count_inv.POR_CREDITO =='undefined' "></i>
                            <span>{{graphics?.count_inv.POR_CREDITO >= 50 ? 'High':'Low'}}</span>
                            <!--<i class="fa fa-usd"></i>
                            <span>75%</span>-->
                            <i class="fa fa-history" style="color: #7DC931;"></i>
                            <span>{{percentage | number : '1.2-2'}}%</span>
                        </div>
                        <div class="knob-container">
                            <div class="knob" *ngIf="graphics?.count_inv.POR_CREDITO==undefined">
                                {{ 0.0 | number : '1.0-0'}}%</div>
                            <div class="knob" *ngIf="graphics?.count_inv.POR_CREDITO!=undefined">
                                {{graphics?.count_inv.POR_CREDITO | number : '1.0-0'}}%</div>
                        </div>
                        <div class="details">
                            <i class="fa fa-chevron-right"></i>
                            <span>Debit</span>
                            {{graphics?.count_inv.PORC_DEBITO | number : '1.0-0'}}%
                        </div>
                        <div class="details">
                            <i class="fa fa-chevron-right"></i>
                            <span>Credit</span>
                            {{graphics?.count_inv.POR_CREDITO | number : '1.0-0'}}%
                        </div>
                    </div>
                    <div class="ui-g-12 ui-md-6 ui-lg-6 ui-xl-6 stats-right">
                        <i class="fa fa-usd"></i>
                        <span class="icon-label">Sales</span>
                        <span>{{graphics?.count_inv.FACTS_SUM_T | currency}}</span>
                        <div class="statsbar">
                            <div class="statsbar-value" style="width: 100%"></div>
                        </div>
                        <i class="fa fa-calculator"></i>
                        <span class="icon-label">Total documents</span>
                        <span class="number_sales">{{graphics?.count_inv.FACTS_T}}</span>
                        <div class="statsbar">
                            <div class="statsbar-value" style="width: 100"></div>
                        </div>
                        <i class="fa fa-clock-o"></i>
                        <span class="icon-label">Remaining</span>
                        <span style="font-size: 18px !important;"
                            class="number_sales">{{actuallydate | date:'dd-MMM-yyyy HH:mm' }}</span>
                        <div class="statsbar">
                            <div class="statsbar-value" [style.width.px]="percentage"></div>
                        </div>
                    </div>
                </div>
            </p-panel>
        </div>
        <!--Tabla-->
        <div class="ui-g-12 ui-md-6 ui-lg-6 ui-xl-6">
            <p-panel [header]="'Prealerta activa' | translate" styleClass="global-sales">
                <div style="padding: 10px;" *ngIf="state">
                    <ngx-skeleton-loader count="3" [theme]="{'border-radius': '5px',height: '50px'}">
                    </ngx-skeleton-loader>
                </div>
                <div *ngIf="!state && graphics.prealerts !=null">
                    <div class="ui-g-12 ui-md-10">
                        <label for="totaltallos" style="font-weight: bold;" class="lbl">{{'Fecha' | translate}}</label>
                        &nbsp;
                        <label for="totaltallos" class="lbl">{{graphics.prealerts!=null?graphics.prealerts.fecha:''}}</label>
                    </div>
                    <div class="ui-g-12 ui-md-2">
                        <label (click)="viewprealert()"><i class="pi pi-download"
                                style="font-size: 1.5rem;color: darkred;"></i></label>
                    </div>
                </div>
                <table *ngIf="!state">
                    <thead>
                        <tr>
                            <th></th>
                            <th>{{ 'Finca' | translate }}</th>
                            <th>{{ 'Flor' | translate }}</th>
                            <th>{{ 'Tamaño' | translate }}</th>
                            <th>{{ 'P.Venta' | translate }}</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="graphics.prealerts !=null">
                        <tr *ngFor="let prealert of graphics.prealerts.detalle; index as i;">
                            <td>{{i+1}}.- </td>   
                            <td class="country">                                
                                <span>{{prealert.fincapropia=='S'?'Rosa Mística':prealert.farm}}</span>
                            </td>                         
                            <td class="country">
                                <span>{{prealert.flower}}</span>
                            </td>
                            <td>{{prealert.cm}}</td>
                            <td>{{prealert.pvp}}</td>
                        </tr>
                    </tbody>
                </table>
            </p-panel>
        </div>
        <!--Graficos-->
        <div class="ui-g-12 ui-md-6 ui-lg-6 ui-xl-6">
            <p-panel [header]="'Monto de transacciones' | translate" styleClass="global-sales">
                <div style="padding: 10px;" *ngIf="state">
                    <ngx-skeleton-loader count="3" [theme]="{'border-radius': '5px',height: '50px'}">
                    </ngx-skeleton-loader>
                </div>
                <p-chart type="pie" [data]="graphics?.ammount_transactions" *ngIf="!state"></p-chart>
            </p-panel>
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-6 ui-xl-6">
            <p-panel [header]="'Ventas por mes' | translate" styleClass="global-sales">
                <div style="padding: 10px;" *ngIf="state">
                    <ngx-skeleton-loader count="3" [theme]="{'border-radius': '5px',height: '50px'}">
                    </ngx-skeleton-loader>
                </div>
                <p-chart type="line" [data]="graphics?.anual_month_sales" *ngIf="!state"></p-chart>
            </p-panel>
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-6 ui-xl-6">
            <p-panel [header]="'Ventas por año' | translate" styleClass="global-sales">
                <div style="padding: 10px;" *ngIf="state">
                    <ngx-skeleton-loader count="3" [theme]="{'border-radius': '5px',height: '50px'}">
                    </ngx-skeleton-loader>
                </div>
                <p-chart type="bar" [data]="graphics?.sales_anual_year" *ngIf="!state"></p-chart>
            </p-panel>
        </div>

        <div class="ui-g-12 ui-md-6 ui-lg-6 ui-xl-6">
            <p-panel [header]="'Ventas por día' | translate" styleClass="global-sales">
                <div style="padding: 10px;" *ngIf="state">
                    <ngx-skeleton-loader count="3" [theme]="{'border-radius': '5px',height: '50px'}">
                    </ngx-skeleton-loader>
                </div>
                <p-chart type="bar" [data]="graphics?.day_week_month_sales" *ngIf="!state"></p-chart>
            </p-panel>
        </div>

        <div class="ui-g-12 ui-md-6 ui-lg-6 ui-xl-6">
            <p-panel [header]="'Ventas por semana' | translate" styleClass="global-sales">
                <div style="padding: 10px;" *ngIf="state">
                    <ngx-skeleton-loader count="3" [theme]="{'border-radius': '5px',height: '50px'}">
                    </ngx-skeleton-loader>
                </div>
                <p-chart type="bar" [data]="graphics?.week_month_sales" *ngIf="!state"></p-chart>
            </p-panel>
        </div>
        <!--Dialogo-->
        <p-dialog [header]="'Prealerta' | translate" [(visible)]="dialogVisiblePDF" [style]="{width: '50vw'}"
            [baseZIndex]="10000" [maximizable]="true" [modal]="true" [resizable]="true">
            <iframe [src]="graphics?.prealerts.pdf | safe" *ngIf="dialogVisiblePDF" width="100%" height="500px"
                style="border-width: 0PX;">
            </iframe>
        </p-dialog>
    </div>
</div>
<!--Otros perfiles como facturacion y compras-->
<div class="layout-dashboard" *ngIf="user?.roles[0].shorcut!='CLI' && user?.roles[0].shorcut!='ADM'">
    <div class="ui-g">
        <div class="ui-g-12 ui-md-6 ui-lg-3">
            <div class="overview-box sales">
                <i class="fa fa-bus" aria-hidden="true" style="font-size: 2rem; float: right;padding-right: 20px;"></i>
                <div class="overview-title"></div>
                <div class="overview-numbers">
                    {{'E. de carga' | translate }}
                </div>
                <div class="overview-subinfo user stock">
                    <i class="fa fa-bus"></i>
                    <span># {{graphics?.count_ent.Z}}</span>
                </div>
            </div>
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-3">
            <div class="overview-box views">
                <i class="fa fa-pagelines" aria-hidden="true"
                    style="font-size: 2rem; float: right;padding-right: 20px;"></i>
                <div class="overview-title"></div>
                <div class="overview-numbers">
                    {{'Flores' | translate }}
                </div>
                <div class="overview-subinfo user stock">
                    <i class="fa fa-circle"></i>
                    <span># {{graphics?.count_ent.FL}}</span>
                </div>
            </div>
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-3">
            <div class="overview-box users">
                <i class="fa fa-user-circle" aria-hidden="true"
                    style="font-size: 2rem; float: right;padding-right: 20px;"></i>
                <div class="overview-title"></div>
                <div class="overview-numbers">
                    {{'Clientes' | translate }}
                </div>
                <div class="overview-subinfo user stock">
                    <i class="fa fa-circle"></i>
                    <span> # {{graphics?.count_ent.C}}</span>
                </div>
            </div>
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-3">
            <div class="overview-box checkins">
                <i class="fa fa-university" aria-hidden="true"
                    style="font-size: 2rem; float: right;padding-right: 20px;"></i>
                <div class="overview-title"></div>
                <div class="overview-numbers">
                    {{'Fincas' | translate }}
                </div>
                <div class="overview-subinfo checkin stock">
                    <i class="fa fa-circle"></i>
                    <span># {{graphics?.count_ent.F}}</span>
                </div>
            </div>
        </div>
    </div>
</div>