<div class="ui-g">
    <div class="ui-g-12 ui-lg-1"></div>
    <div class="ui-g-12 ui-lg-10">
        <p-toolbar>
            <div class="p-toolbar-group-left">
                <button (click)="save()" pButton class="ui-button-success" icon="pi pi-check" label="Guardar" *ngIf="!edit"></button> &nbsp;

                <button (click)="modificar()" pButton class="ui-button-success" icon="pi pi-save" label="Actualizar" *ngIf="edit"></button> &nbsp;

                <button (click)="cancelar()" pButton class="ui-button-warning" icon="pi pi-arrow-left" label="Atrás"></button> &nbsp;

            </div>
        </p-toolbar>
        <div class="card card-w-title ui-fluid">

            <h1 *ngIf="!edit">Agregar nuevo usuario</h1>
            <h1 *ngIf="edit">Editar Usuario</h1>
            <div class="ui-g form-group">

                <div class="ui-g-12 ui-md-6">
                    <label for="identification">Identificación</label>
                    <input type="text" name="identification" pInputText autocomplete="off" maxlength="13" [(ngModel)]="user.user_identification" />
                </div>

                <div class="ui-g-12 ui-md-6">
                    <label class="lbl">Gender</label>
                    <p-dropdown [options]="gender" optionLabel="name" placeholder="Seleccione un genero" [(ngModel)]="user.user_gender" [showClear]="true"></p-dropdown>
                </div>

                <div class="ui-g-12 ui-md-6">
                    <label for="nombres">Nombres</label>
                    <input type="text" name="nombres" pInputText autocomplete="off" maxlength="100" [(ngModel)]="user.user_name" />
                </div>

                <div class="ui-g-12 ui-md-6">
                    <label for="apellidos">Apellidos</label>
                    <input type="text" name="apellidos" pInputText autocomplete="off" maxlength="100" [(ngModel)]="user.user_lastname" />
                </div>

                <div class="ui-g-12 ui-md-6">
                    <label for="nick">Username</label>
                    <input type="text" name="nick" pInputText autocomplete="off" maxlength="100" [(ngModel)]="user.user_username" />
                </div>

                <div class="ui-g-12 ui-md-6">
                    <label class="lbl">Password</label>
                    <div class="ui-inputgroup">
                        <input type="password" autocomplete="off" maxlength="100" pPassword [showPassword]="looking" [(ngModel)]="user.user_password" />
                        <button type="button" pButton pRipple [icon]="icon" (click)="changelookpasswor()"></button>
                    </div>
                </div>

                <div class="ui-g-12 ui-md-6">
                    <label for="perfil">Email</label>
                    <input type="text" name="nick" pInputText autocomplete="off" maxlength="100" [(ngModel)]="user.user_email" />
                </div>

                <div class="ui-g-12 ui-md-6">
                    <label for="perfil">Perfil</label>
                    <p-dropdown [options]="perfiles" optionLabel="name" placeholder="Seleccione un perfil" [showClear]="true" [(ngModel)]="user.prof_id"></p-dropdown>
                </div>

                <div class="ui-g-12 ui-md-6">
                    <label for="phone">Phone</label>
                    <input type="text" name="phone" pInputText autocomplete="off" maxlength="100" [(ngModel)]="user.user_phone" />
                </div>

                <div class="ui-g-12 ui-md-6">
                    <label for="age">Edad</label>
                    <input type="text" name="age" pInputText autocomplete="off" maxlength="100" [(ngModel)]="user.user_age" />
                </div>

            </div>
        </div>
    </div>
    <div class="ui-g-12 ui-lg-1"></div>
</div>