<div class="ui-g">
    <div class="ui-g-12">
        <div class="card no-margin">
            <h1>Lista de Usuarios</h1>
            <p-toast></p-toast>
            <p-toolbar>
                <div class="p-toolbar-group-left">
                    <button pButton label="Nuevo" icon="pi pi-plus" class="ui-button-success"
                        (click)="addClient()"></button>
                </div>
            </p-toolbar>

            <p-table #dt styleClass="ui-table-cars" [value]="users" [paginator]="true" [rows]="10"
                [showCurrentPageReport]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [rowsPerPageOptions]="[10,25,50,100]" selectionMode="single" [(selection)]="selectedUsers">

                <ng-template pTemplate="caption">
                    <div class="table-header">
                        {{'Lista de Usuarios' | translate}}
                    </div>
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th style="width: 10%;"> {{'Foto' | translate}}</th>
                        <th> {{'Identificación' | translate}}</th>
                        <th> {{'Nombres' | translate}}</th>
                        <th> {{'Apellidos' | translate}}</th>
                        <th> {{'Email' | translate}}</th>
                        <th> {{'Estado' | translate}}</th>
                        <th style="width: 8em; text-align: center;">
                            <button pButton type="button" icon="pi pi-cog"></button>
                        </th>
                    </tr>
                    <tr>
                        <th></th>
                        <th>
                            <div class="ui-fluid">
                                <input pInputText type="text"
                                    (input)="dt.filter($event.target.value, 'identification', 'startsWith')"
                                    placeholder="Search by Name" class="p-column-filter">
                            </div>
                        </th>
                        <th>
                            <div class="ui-fluid">
                                <input pInputText type="text" (input)="dt.filter($event.target.value, 'name','contains')"
                                    placeholder="Search by Country">
                            </div>
                        </th>
                        <th>
                            <div class="ui-fluid">
                                <input pInputText type="text"
                                    (input)="dt.filter($event.target.value, 'lastname', 'contains')"
                                    placeholder="Search by Country">
                            </div>
                        </th>
                        <th>
                            <div class="ui-fluid">
                                <input pInputText type="text" (input)="dt.filter($event.target.value, 'email','contains')"
                                    placeholder="Search by Country">
                            </div>
                        </th>
                        <th>
                            <div class="ui-fluid">
                                <p-dropdown [options]="options" [(ngModel)]="selectoptions"
                                    (onChange)="onRepresentativeChange($event)"></p-dropdown>
                            </div>
                        </th>
                        <th style="width: 8em;">

                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-user let-columns="columns">
                    <tr [pSelectableRow]="user" [pEditableRow]="user">
                        <td style="text-align: center;">
                            <img [src]="user.photo" [alt]="user.name" width="40px" height="40px" class="p-shadow-4" />
                        </td>
                        <td>{{user.identification}}</td>
                        <td>{{user.name}}</td>
                        <td>{{user.lastname}}</td>
                        <td>{{user.email}}</td>
                        <td style="text-align: center;">
                            <div [class]="user.status?'active-badge':'inactive-badge'">
                                <span>{{user.status?'Activo':'Inactivo'}}</span>
                            </div>
                        </td>
                        <td>
                            <button pButton type="button" class="ui-button-warning" icon="pi pi-pencil" (click)="desactivate(user)"></button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="7">No customers found.</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>
