<div class="ui-g">
    <div class="ui-g-12">
        <div class="card card-w-title">
            <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="square-jelly-box"
                [fullScreen]="true">
                <p style="color: white"> Loading... </p>
            </ngx-spinner>
            <p-toast></p-toast>
            <div class="ui-g form-group ui-fluid">
                <div class="ui-g-12 ui-md-8">
                    <div>
                        <h1 style="font-weight: bold;">{{'Pre-alerta' | translate}} &nbsp;<span>{{prealerts[0]?.head.pralId}}</span></h1>
                    </div>
                    <div>
                        <h1 style="font-weight: bold;">{{'Fecha' | translate}} &nbsp;<span>{{prealerts[0]?.head.fecha}}</span></h1>
                    </div>
                </div>
                <div class="ui-g-12 ui-md-2">
                    <button pButton type="button" [label]="'Descargar reporte' | translate" icon="pi pi-download" iconPos="left"
                        class="ui-button-danger" (click)="downlaodTotal(prealerts[0]?.head)"
                        style="border-radius: 7px;"></button>
                </div>
                <div class="ui-g-12 ui-md-2">
                    <button pButton type="button" [label]="'Enviar email' | translate" icon="pi pi-envelope"
                        iconPos="left" class="ui-button-info" (click)="downlaodTotal(prealerts[0]?.head)"
                        style="border-radius: 7px;"></button>
                </div>

            </div>
            <p-table #dt [value]="prealerts[0]?.clients" class="p-datatable-responsive-demo">
                <ng-template pTemplate="caption">
                    <div class="ui-g form-group ui-fluid">
                        <div class="ui-g-12 ui-md-11">
                            <div>
                                {{'Número de clientes para la prealerta' | translate }} [ {{prealerts[0]?.clients.length}} ]
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th>{{'Fecha de envío' | translate}}</th>
                        <th>{{'Variedad' | translate}}</th>
                        <th>{{'Finca' | translate}}</th>
                        <th>{{'Marca' | translate}}</th>
                        <th>{{'Empresa carga' | translate}}</th>
                        <th>{{'HQ/QB' | translate}}</th>
                        <th>{{'CM' | translate}}</th>
                        <th>{{'Stem' | translate}}</th>
                        <th>{{'T. Stem' | translate}}</th>
                        <th>{{'Precio Venta' | translate}}</th>
                        <th>{{'Precio Compra' | translate}}</th>
                        <th>{{'Estados' | translate}}</th>
                    </tr>

                </ng-template>
                <ng-template pTemplate="body" let-rowData let-item>
                    <tr>
                        <td colspan="12"
                            style="font-size: 16px;font-weight: bold;text-align: center;background-color: #efefef;">
                            <div class="ui-g form-group ui-fluid">
                                <div class="ui-g-12 ui-md-11">
                                    <span class="p-column-title"
                                        class="nametitle">{{item.info.nombres | titlecase}}</span>
                                </div>
                                <div class="ui-g-12 ui-md-1">
                                    <div class="ui-grid">
                                        <div class="ui-grid-col-6">
                                            <button pButton type="button" icon="pi pi-download" iconPos="left"
                                                class="ui-button-success" style="border: 1px solid;border-radius: 7px;"
                                                (click)="selectItem(item.info)"></button>
                                        </div>
                                        <div class="ui-grid-col-6">
                                            <button pButton type="button" icon="pi pi-envelope" iconPos="left"
                                                class="ui-button-info" style="border: 1px solid;border-radius: 7px;"
                                                (click)="sendEmail(item.info)"></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr *ngFor="let item of item.items" style="background-color: white;">
                        <td><span class="p-column-title">{{item.shippingdate | date :'dd/MM/yyyy'  }}</span>
                        </td>
                        <td><span class="p-column-title">{{item.flower}}</span></td>
                        <td style="text-align: right;"><span class="p-column-title">{{item.farm | titlecase }}</span>
                        </td>
                        <td style="text-align: right;"><span class="p-column-title">{{item.mark | titlecase }}</span>
                        </td>
                        <td style="text-align: right;"><span
                                class="p-column-title">{{item.cargname | titlecase }}</span>
                        </td>
                        <td style="text-align: right;"><span class="p-column-title">{{item.hbqb }}</span>
                        </td>
                        <td style="text-align: right;"><span class="p-column-title">{{item.cm }}</span>
                        </td>
                        <td style="text-align: right;"><span class="p-column-title">{{item.tallos }}</span>
                        </td>
                        <td style="text-align: right;"><span class="p-column-title">{{item.totaltallos }}</span>
                        </td>
                        <td style="text-align: right;"><span class="p-column-title">{{item.pvp }}</span>
                        </td>
                        <td style="text-align: right;"><span class="p-column-title">{{item.pcomp}}</span>
                        </td>
                        <td style="text-align: right;"><span class="p-column-title">{{item.status | titlecase }}</span>
                        </td>
                    </tr>

                </ng-template>
            </p-table>
        </div>
        <p-dialog [header]="titledialog" [(visible)]="dialogVisible" [style]="{width: '50vw'}" [baseZIndex]="10000"
            [maximizable]="true" [modal]="true" [resizable]="true">
            <iframe [src]="url | safe" width="100%" height="500px" style="border-width: 0PX;">
            </iframe>
        </p-dialog>
    </div>

</div>