<div class="ui-g">
    <div class="ui-g-12">
        <div class="card card-w-title">
            <h1>{{'Documentos del Cliente' | translate}}</h1>
            <p-toast></p-toast>
            <div class="ui-g form-group ui-fluid">
                <div class="ui-g-12 ui-md-2">
                    <button pButton type="button" [label]="'Consultar' | translate" icon="fa fa-search" iconPos="left"
                        class="ui-button-success" (click)="consultar()"></button>
                </div>
            </div>
            <p-accordion>
                <p-accordionTab [header]="'Datos de la búsqueda' | translate" [selected]="true">
                    <div class="ui-g form-group ui-fluid">
                        <div class="ui-g-12 ui-md-4">
                            <label for="client" class="lbl">{{'Cliente' | translate}}</label>
                            <p-dropdown [options]="clientes" optionLabel="nombres" [(ngModel)]="selectClient"
                                class="form-control" [filter]="true" [placeholder]="'Seleccione' | translate">
                            </p-dropdown>
                        </div>
                        <div class="ui-g-12 ui-md-4">
                            <label class="lbl">{{'Fecha' | translate }}</label>
                            <p-calendar [(ngModel)]="date" [showIcon]="true" inputId="icon" [readonlyInput]="true"
                                [showTransitionOptions]="'0ms'" [hideTransitionOptions]="'0ms'"></p-calendar>
                        </div>
                    </div>
                </p-accordionTab>
            </p-accordion>
            <br>
            <p-table #dt [value]="documentos" class="p-datatable-responsive-demo" [paginator]="true" [rows]="10"
                [showCurrentPageReport]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [rowsPerPageOptions]="[10,25,50,100]">
                <ng-template pTemplate="caption">
                    <div class="ui-g form-group ui-fluid">
                        <div class="ui-g-12 ui-md-11">
                            <div style="margin-top: 5px;">
                                {{'Número de documentos' | translate }} [ {{documentos.length}} ]
                            </div>
                        </div>
                        <div class="ui-g-12 ui-md-1">
                            <button type="button" pButton pRipple (click)="exportExcel()" 
                                [disabled]="documentos.length <= 0" class="ui-button-success btn_table">
                                <i class="fa fa-file-excel-o icon"></i>
                            </button>&nbsp;
                            <button type="button" pButton pRipple 
                                [disabled]="documentos.length <= 0" class="ui-button-danger btn_table">
                                <i class="fa fa-file-pdf-o icon"></i>
                            </button>
                        </div>
                    </div>
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th style="width: 5em;"></th>
                        <th>{{'Tipo de transacción' | translate }}</th>
                        <th>{{'Fecha de transacción' | translate}}</th>
                        <th>{{'Valor' | translate}}</th>
                        <th>{{'N°. Documento' | translate}}</th>
                        <th>{{'N°. Factura' | translate}}</th>
                        <th>{{'Descripción' | translate}}</th>
                    </tr>
                    <tr>
                        <th></th>
                        <th>
                            <div class="ui-fluid">
                                <input pInputText type="text"
                                    (input)="dt.filter($event.target.value, 'tipoTransaccion', 'contains')"
                                    [placeholder]="'Buscar' | translate" class="p-column-filter">
                            </div>
                        </th>                        
                        <th>
                            <div class="ui-fluid">
                                <p-calendar (onSelect)="onDateSelect($event)" [readonlyInput]="true"
                                    (onClearClick)="close()" (onClearClick)="dt.filter('', 'fecha', 'equals')"
                                    [showButtonBar]="true" styleClass="p-column-filter"
                                    [placeholder]="'Seleccione' | translate" [readonlyInput]="true"
                                    dateFormat="yy-mm-dd">
                                </p-calendar>
                            </div>
                        </th>
                        <th>
                            <div class="ui-fluid">
                                <input pInputText type="text"
                                    (input)="dt.filter($event.target.value, 'valor', 'contains')"
                                    [placeholder]="'Buscar' | translate" class="p-column-filter">
                            </div>
                        </th>
                        <th>
                            <div class="ui-fluid">
                                <input pInputText type="text"
                                    (input)="dt.filter($event.target.value, 'numDocum', 'contains')"
                                    [placeholder]="'Buscar' | translate" class="p-column-filter">
                            </div>
                        </th>
                        <th>
                            <div class="ui-fluid">
                                <input pInputText type="text"
                                    (input)="dt.filter($event.target.value, 'numFactura', 'contains')"
                                    [placeholder]="'Buscar' | translate" class="p-column-filter">
                            </div>
                        </th>
                        <th>
                            <div class="ui-fluid">
                                <input pInputText type="text"
                                    (input)="dt.filter($event.target.value, 'descripcion', 'contains')"
                                    [placeholder]="'Buscar' | translate" class="p-column-filter">
                            </div>
                        </th>

                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-item>
                    <tr>
                        <td>
                            <button type="button" pButton icon="fa fa-eye" (click)="view(item)"
                                style="border-radius: 8px;" class="ui-button-info"></button>
                        </td>
                        <td><span class="p-column-title">{{item.tipoTransaccion}}</span></td>
                        <td><span class="p-column-title">{{item.fechaTransaccion | date :'dd-MMM-yy h:mm:ss'  }}</span>
                        </td>
                        <td><span class="p-column-title">{{item.valor | currency }}</span></td>
                        <td style="text-align: right;"><span class="p-column-title">{{item.numDocum }}</span>
                        </td>
                        <td style="text-align: right;"><span class="p-column-title">{{item.numFactura }}</span>
                        </td>
                        <td style="text-align: right;"><span class="p-column-title">{{item.descripcion }}</span>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <!--Table responsive-->
        <div class="tbl_responsive">
            <p-accordion *ngIf="documentos.length > 0">
                <p-accordionTab header="Filtros de búsqueda" [selected]="true">
                    <div class="ui-g form-group ui-fluid">
                        <div class="ui-g-12 ui-md-4">
                            <label for="client" class="lbl">{{'Número de documentos' | translate}}</label>
                            <input type="text" pInputText [(ngModel)]="numDocument" />
                        </div>
                        <div class="ui-g-12 ui-md-4">
                            <label for="client" class="lbl">{{'Fecha' | translate}}</label>
                            <p-calendar [showIcon]="true" inputId="icon" [readonlyInput]="true"
                                [showTransitionOptions]="'0ms'" [hideTransitionOptions]="'0ms'"
                                [(ngModel)]="filterMobile"></p-calendar>
                        </div>
                        <div class="ui-g-12 ui-md-4">
                            <button pButton type="button" [label]="'Consultar' | translate" icon="fa fa-search"
                                iconPos="left" class="ui-button-success" (click)="consultarMobile()"></button>
                        </div>
                    </div>
                </p-accordionTab>
            </p-accordion>
            <div class="header" *ngIf="documentos.length > 0">
                {{ 'Número de registros' | translate }} [<span>{{documentos.length}}</span>]
            </div>
            <div style="overflow-y: scroll; height: 500px;width: 100%;" *ngIf="documentos.length > 0">
                <div class="ui-grid ui-grid-responsive ui-fluid" class="data" *ngFor="let documento of documentos">
                    <div class="target">
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-12">
                                <button pButton type="button" class="ui-button-info btn_card" icon="fa fa-eye"
                                    (click)="view(documento)"></button>
                            </div>
                        </div>

                        <div class="ui-grid-row">
                            <div class="ui-grid-col-6"><span class="label">{{'Tipo de transacción' | translate}}</span>
                            </div>
                            <div class="ui-grid-col-6"><span class="value">{{documento.tipoTransaccion}}</span></div>
                        </div>

                        <div class="ui-grid-row">
                            <div class="ui-grid-col-6"><span class="label">{{'Fecha de transacción' | translate}}</span>
                            </div>
                            <div class="ui-grid-col-6"><span
                                    class="value">{{documento.fechaTransaccion | date :'dd-MMM-yy h:mm:ss'}}</span>
                            </div>
                        </div>

                        <div class="ui-grid-row">
                            <div class="ui-grid-col-6"><span class="label">{{'Valor' | translate }}</span></div>
                            <div class="ui-grid-col-6"><span class="value">{{documento.valor | currency }}</span></div>
                        </div> 

                        <div class="ui-grid-row">
                            <div class="ui-grid-col-6"><span class="label">{{'N°. Documento' | translate }}</span></div>
                            <div class="ui-grid-col-6"><span class="value">{{documento.numDocum}}</span>
                            </div>
                        </div>

                        <div class="ui-grid-row">
                            <div class="ui-grid-col-6"><span class="label">{{'N°. Factura' | translate}}</span></div>
                            <div class="ui-grid-col-6"><span class="value">{{documento.numFactura }}</span>
                            </div>
                        </div>

                        <div class="ui-grid-row">
                            <div class="ui-grid-col-6"><span class="label">{{'Descripción' | translate}}</span></div>
                            <div class="ui-grid-col-6"><span
                                    class="total_value">{{documento.descripcion}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <p-dialog [header]="selectDocument?.numDocum" [(visible)]="dialogVisible" [style]="{width: '50vw'}"
            [baseZIndex]="10000" [maximizable]="true" [modal]="true" [resizable]="true">
            <iframe src="https://books.ninja-squad.com/public/samples/Become_a_ninja_with_Angular_sample.pdf"
                width="100%" height="500px" style="border-width: 0PX;">
            </iframe>
        </p-dialog>
    </div>

</div>