<div class="ui-g">
    <div class="ui-g-12 ui-lg-1"></div>
    <div class="ui-g-12 ui-lg-10">
        <p-toolbar>
            <div class="p-toolbar-group-left">
                <button (click)="save()" pButton class="ui-button-success" icon="pi pi-check" label="Guardar" *ngIf="!edit"></button> &nbsp;

                <button (click)="modificar()" pButton class="ui-button-success" icon="pi pi-save" label="Actualizar" *ngIf="edit"></button> &nbsp;

                <button (click)="cancelar()" pButton class="ui-button-warning" icon="pi pi-arrow-left" label="Atrás"></button> &nbsp;

            </div>
        </p-toolbar>
        <div class="card card-w-title ui-fluid">

            <h1 *ngIf="!edit">Agregar nueva unidad</h1>
            <h1 *ngIf="edit">Editar Unidad</h1>
            <div class="ui-g form-group">
                <div class="ui-g-12 ui-md-6">
                    <label for="nombre">Nombre</label>
                    <input type="text" name="nombre" pInputText autocomplete="off" maxlength="100" [(ngModel)]="unidad.unidNombre" />
                </div>

                <div class="ui-g-12 ui-md-6">
                    <label for="razosoci">Descripción</label>
                    <textarea type="text" name="descripcion" pInputTextarea autocomplete="off" maxlength="100" [(ngModel)]="unidad.unidDescripcion"></textarea>
                </div>

            </div>
        </div>
    </div>
    <div class="ui-g-12 ui-lg-1"></div>
</div>